<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-edit-porta prueba">
    <form name="portafolioUpdate" ng-submit="portafolioUpdate.$valid && vm.create()" novalidate>
        <article class="Section-portafolio-result">
            <h3 class="Section-portafolio-result-tittle">CREAR SERVICIOS</h3>
            <div class="Section-portafolio-result-label">
                <md-input-container class="md-block">
                    <label class="LabelA">Nombre</label>
                    <input md-no-asterisk id="nombre" name="nombre" ng-required="true"  md-minlength="3" md-maxlength="20" minlength="3" maxlength="20" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/" ng-model="vm.servicio.nombre">
                    <div ng-messages="portafolioUpdate.nombre.$error" role="alert">
                        <div ng-message-exp="['md-maxlength','md-minlength','minlength', 'maxlength', 'required', 'pattern']">Este campo es requerido, utilice solo letras. max 20 carácteres.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="LabelA">Descripcion Servicio</label>
                    <textarea ng-required="true" name="descripcion" rows="5" md-minlength="20" md-maxlength="600" minlength="20" maxlength="600"  md-select-on-focus ng-model="vm.servicio.descripcionServicio"></textarea>
                    <div ng-messages="portafolioUpdate.descripcion.$error" role="alert">
                        <div ng-message-exp="['md-maxlength','md-minlength','minlength', 'maxlength', 'required', 'pattern']">Este campo es requerido, max 600 carácteres.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="LabelA">Duracion(Meses)</label>
                    <input type="number" md-no-asterisk id="duracion" ng-pattern="/^[0-9]*$/" required name="duracion" ng-model="vm.servicio.duracionMeses">
                    <div ng-messages="portafolioUpdate.duracion.$error" role="alert">
                        <div ng-message-exp="['required', 'pattern', 'md-minlength', 'md-maxlength', 'minlength', 'maxlength']">Este campo es requerido, utilice solo números</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="LabelA">Precio</label>
                    <input type="number" md-no-asterisk id="precio" required name="precio" ng-pattern="/^[0-9]*$/" ng-model="vm.servicio.precio">
                    <div ng-messages="portafolioUpdate.precio.$error" role="alert">
                        <div ng-message-exp="['required', 'pattern', 'md-minlength', 'md-maxlength', 'minlength', 'maxlength']">Este campo es requerido, utilice solo números</div>
                    </div>
                </md-input-container>
                <!--  <md-input-container class="md-block">
                <label class="LabelA">id Empresa</label>
                <input md-no-asterisk id="idEmpresa" ng-model="vm.servicio.idEmpresa.idEmpresa">
            </md-input-container>-->

                <div class="Subir-imagen">
                    <input id="imagen_input" type="file" style="display:none;" on-read-img="vm.loadImg($fileContent)"/>
                    <img ng-if="vm.servicio.imagen" ng-src="{{'data:image/png;base64,' + vm.servicio.imagen}}" height="100px" width="100px"/>
                    <label for="imagen_input">
                        Subir Imagen
                    </label>
                    <p ng-show="vm.servicio.imagen == null" class="validation-messages2">Imágen Requerida!</p>
                    <p ng-show="vm.imagen()" class="validation-messages2">{{vm.mensaje()}}</p>
                </div>

                <section layout="row" layout-align="center center" layout-wrap>
                    <md-button type="submit" ng-disabled="vm.servicio.imagen == null" class="md-raised md-primary Btn-guardarA">Crear</md-button>
                    <md-button ng-href="#/portafolio" class="md-raised md-warn Btn-cancelarA">Cancelar</md-button>
                </section>
            </div>
        </article>
    </form>
</section>
