<encabezado2></encabezado2>
<div class="padding"></div>
<section class="sectionPortafolio prueba">
    <h1 class="Servicios">
        Nuestros servicios</h1>
    <section class="sectionPortafolio-container">

        <form class="sectionPortafolio-container-form" ng-controller="LoginCtrl as loginCtrl">
            <article class="sectionPortafolio-container-articles" ng-repeat="serv in vm.servicio" ng-if="loginCtrl.isAdmin() ? true : serv.estado">
                <!-- ng-if="loginCtrl.isAdmin() ? true : serv.estado"-->
                <figure class="sectionPortafolio-container-articles-figure">
                    <!--<img  class="sectionPortafolio-container-articles-img" src="img/portafolio{{serv.idServicio}}.jpg" alt="img">-->
                    <img ng-src="{{'data:image/png;base64,' + serv.imagen}}" class="sectionPortafolio-container-articles-img"/>
                </figure>

                <div class="info-articles-portafolio">
                    <h3 class="info-articles-portafolio-tittle">{{serv.nombre}}</h3>
                    <p class="info-articles-portafolio-text">{{serv.descripcionServicio}}</p>
                    <p class="info-articles-portafolio-text precio">${{serv.precio}}</p>
                </div>
                <button ng-show="loginCtrl.isEmp()" type="button" class="btn btn-success Section-reciclar-container-articles-buttons btn-comprar ">
                    <a class="btn-comprar-actualizar-a" ng-href="#/pedidos/create/{{serv.idServicio}}">Comprar</a>
                </button>

                <div ng-if="loginCtrl.isAdmin()" class="info-articles-portafolio-container-btn-admin">

                    <button type="button" class="btn btn-success Section-reciclar-container-articles-buttons btn-comprar btn-comprar-actualizar ">
                        <a class="btn-comprar-actualizar-a" ng-href="#/portafolio/update/{{serv.idServicio}}">Actualizar</a>
                    </button>
                    <div ng-controller="InhabilitarPortafolioCtrl as inhabilitarCtrl">
                        <md-switch ng-model="serv.estado" aria-label="Switch No Ink" ng-change="inhabilitarCtrl.inhabilitar(serv.idServicio)" class="md-primary"></md-switch>
                    </div>
                </div>
            </article>
            <div class="">

                <button type="button" ng-if="loginCtrl.isAdmin()" class="btn btn-success Section-reciclar-container-articles-buttons btn-comprar btn-comprar-crear ">
                    <a class="btn-comprar-actualizar-a" ng-href="#/portafolio/create">Crear Servicio</a>
                </button>
            </div>

        </form>
    </section>
    <!--<button type="button" class="btn btn-success Section-reciclar-container-articles-buttons btn-comprar btn-comprar-actualizar ">
      <a class="btn-comprar-actualizar-a" ng-href="#/portafolio/create">Crear</a>
    </button>-->
</section>
