@import 'nib';
.sectionPortafolio
  width: 100%
  &-container
    display: flex;
    width: 100%;
    min-height: 48em;
    &-articles
      width: 338.5px
      padding: 1em
      margin: .7em
      border: 1px solid #999
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      @media screen and (max-width: 1450px)
        width: 300px
      @media screen and (max-width: 1295px)
        width: 338.5px
      @media screen and (max-width: 450px)
        width: 80%
      &-figure
        width: 100%
        height: 276.533px
      &-img
        width: 100%
        height: 100%
    &-form

      margin: 2em auto;
      display: flex;
      max-width: 80%;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width: 1810px)
        max-width: 90%
      @media screen and (max-width: 1610px)
        max-width: 100%
      @media screen and (max-width: 1295px)
        max-width: 70%
      @media screen and (max-width: 1140px)
        max-width: 100%

.info-articles-portafolio
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  &-tittle
    color: #555
    font-size: 17px
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  &-text
    color: #666
    text-align: justify;
    margin: 0
  &-container-btn-admin
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;

.btn-comprar
  margin: auto;
  &-actualizar-a
    color: white!important
  &-crear
    margin: 1em auto 0em!important;
    width: 15em!important


.Servicios
  text-align: center;
  color:  #555
  padding-top 1em
  margin: 0em;

.precio
  font-weight: bold;
  margin: auto;
  padding: 1em

.LabelA
  color: #949292!important
.Section-edit-porta
  width: 42em
  margin: 3em auto ;
  text-align: center;

.Section-portafolio-result
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 27em;
  width: 100%;
  margin-top: 4em;
  @media screen and (max-width: 1200px)
    margin-top: 9em;
.Btn-guardarA
  color: #fff !important;
  background-color: #3c948b !important;
.Btn-cancelarA
  color: #fff !important;
  background-color: #ad3838 !important;

.Section-portafolio-result-tittle
  background: #3c948b;
  color: #fff;
  padding: 1em;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;

.Section-portafolio-result-label
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: 25em;
  min-width: 90%;
  margin: auto;
  margin-top: 21px;

@media screen and (max-width: 664px)
  .Section-edit-porta
    width: 90%
@media screen and (max-width: 665px)
  .Section-edit-porta
    width: 95%
  .Section-portafolio-result-label
    padding: 0em;



/*SUBIR IMAGENES DE CREAR Y ACTUALIZAR PORTAFOLIO*/
.Subir-imagen
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: auto;
  padding-bottom: 2em;
  >label
    padding-top: 4px
    cursor: pointer;
