.sectionPortafolio {
  width: 100%;
}
.sectionPortafolio-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  min-height: 48em;
}
.sectionPortafolio-container-articles {
  width: 338.5px;
  padding: 1em;
  margin: 0.7em;
  border: 1px solid #999;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 1450px) {
  .sectionPortafolio-container-articles {
    width: 300px;
  }
}
@media screen and (max-width: 1295px) {
  .sectionPortafolio-container-articles {
    width: 338.5px;
  }
}
@media screen and (max-width: 450px) {
  .sectionPortafolio-container-articles {
    width: 80%;
  }
}
.sectionPortafolio-container-articles-figure {
  width: 100%;
  height: 276.533px;
}
.sectionPortafolio-container-articles-img {
  width: 100%;
  height: 100%;
}
.sectionPortafolio-container-form {
  margin: 2em auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  max-width: 80%;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (max-width: 1810px) {
  .sectionPortafolio-container-form {
    max-width: 90%;
  }
}
@media screen and (max-width: 1610px) {
  .sectionPortafolio-container-form {
    max-width: 100%;
  }
}
@media screen and (max-width: 1295px) {
  .sectionPortafolio-container-form {
    max-width: 70%;
  }
}
@media screen and (max-width: 1140px) {
  .sectionPortafolio-container-form {
    max-width: 100%;
  }
}
.info-articles-portafolio {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.info-articles-portafolio-tittle {
  color: #555;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.info-articles-portafolio-text {
  color: #666;
  text-align: justify;
  margin: 0;
}
.info-articles-portafolio-container-btn-admin {
  width: 90%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: auto;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.btn-comprar {
  margin: auto;
}
.btn-comprar-actualizar-a {
  color: #fff !important;
}
.btn-comprar-crear {
  margin: 1em auto 0em !important;
  width: 15em !important;
}
.Servicios {
  text-align: center;
  color: #555;
  padding-top: 1em;
  margin: 0em;
}
.precio {
  font-weight: bold;
  margin: auto;
  padding: 1em;
}
.LabelA {
  color: #949292 !important;
}
.Section-edit-porta {
  width: 42em;
  margin: 3em auto;
  text-align: center;
}
.Section-portafolio-result {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 27em;
  width: 100%;
  margin-top: 4em;
}
@media screen and (max-width: 1200px) {
  .Section-portafolio-result {
    margin-top: 9em;
  }
}
.Btn-guardarA {
  color: #fff !important;
  background-color: #3c948b !important;
}
.Btn-cancelarA {
  color: #fff !important;
  background-color: #ad3838 !important;
}
.Section-portafolio-result-tittle {
  background: #3c948b;
  color: #fff;
  padding: 1em;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
.Section-portafolio-result-label {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25em;
  min-width: 90%;
  margin: auto;
  margin-top: 21px;
}
@media screen and (max-width: 664px) {
  .Section-edit-porta {
    width: 90%;
  }
}
@media screen and (max-width: 665px) {
  .Section-edit-porta {
    width: 95%;
  }
  .Section-portafolio-result-label {
    padding: 0em;
  }
}
/*SUBIR IMAGENES DE CREAR Y ACTUALIZAR PORTAFOLIO*/
.Subir-imagen {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100px;
  margin: auto;
  padding-bottom: 2em;
}
.Subir-imagen >label {
  padding-top: 4px;
  cursor: pointer;
}
