.Section-anuncios-result {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 27em;
  width: 100%;
}
.Section-anuncios-result-tittle {
  background: #3c948b;
  color: #fff;
  padding: 1em;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
.Section-anuncios-result-label {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25em;
  min-width: 90%;
  margin: auto;
  margin-top: 21px;
}
.validation-messages3 {
  font-size: 12px;
  color: #dd2c00;
  margin-top: 0px !important;
  text-align: center;
  width: 176px;
  margin-bottom: 23px;
  margin-left: 22px;
}
.validation-messages4 {
  font-size: 12px;
  color: #dd2c00;
  margin-right: 4px;
  margin-top: 0px !important;
  text-align: center;
  width: 186px;
  margin-bottom: 23px;
}
.link-anun {
  color: #fff !important;
}
/*.Color-Caja
  height: 40em
*/
.color-A {
  color: #000;
  margin-bottom: 2em;
}
.color-t {
  background: #fff !important;
  border: 3px solid #3c948b;
}
.color-Title {
  color: #3c948b;
  text-align: center;
  margin-top: 1em !important;
  margin-bottom: 0em !important;
}
.color-campo {
  background: #3c948b;
  color: #fff;
  border: 3px solid #3c948b;
}
.Table-container-anuncios-elements:first-letter,
.Table-container-empresa-elements:first-letter,
.Table-container-usuarios-elements:first-letter {
  text-transform: uppercase;
}
.container {
  text-align: center;
}
.A {
  border: 3px solid #3c948b;
}
.act {
  text-align: center;
}
.Regis-tittleA {
  text-align: center;
}
.Section-regisA {
  width: 41em;
  margin: 9em auto 3em auto;
  text-align: center;
}
.Article-regisA {
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: -1rem;
}
.Article-regisA-formA {
  text-align: left !important;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 10em;
  width: 44%;
}
.Tipo-usuarioA {
  width: 100%;
}
.Btn-guardarA {
  color: #fff !important;
  background-color: #3c948b !important;
}
.Btn-cancelarA {
  color: #fff !important;
  background-color: #ad3838 !important;
/*&-regA
    color: white!important
    background-color: #A81E1E !important
    margin-bottom: -.97em;
    */
}
.Btn-crear-anuncio {
  margin-top: 1em;
}
.LabelA {
  color: #949292 !important;
}
section md-input-container .SelectA {
  border-bottom-color: #949292 !important;
  color: #949292 !important;
}
.PickerA {
  display: block !important;
  position: relative !important;
  padding: 2px !important;
  margin: 10px 0px 40px -17px !important;
  vertical-align: middle !important;
  background: transparent !important;
}
.fecha-anuncio > div {
  width: 11em !important;
}
@media screen and (max-width: 600px) {
  .fecha-anuncio > div {
    width: 7em !important;
  }
}
@media screen and (max-width: 500px) {
  .fecha-anuncio > div {
    width: 6em !important;
  }
}
.input-container {
  position: relative !important;
  padding-bottom: 5px !important;
  border-bottom-width: 1px !important;
  display: inline-block;
  min-width: 162px !important;
}
.md-datepicker-input {
  min-width: 162px !important;
}
.Color-resultados {
  color: #3c94a4 !important;
}
.Color-resultados-e {
  color: #666 !important;
  text-decoration: none !important;
}
.Table-container-anuncios {
  width: 100%;
}
.Table-container-anuncios-elements {
  padding: 0.7em 1em;
  text-align: left;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  table.Table-container-anuncios,
  .Table-container-anuncios thead,
  .Table-container-anuncios tbody,
  .Table-container-anuncios th,
  .Table-container-anuncios td,
  .Table-container-anuncios tr {
    display: block;
  }
  .Table-container-anuncios thead tr {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-anuncios tr {
    margin-bottom: 2em;
    border: 2px solid #3c948b !important;
  }
  .Table-container-anuncios td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  .Table-container-anuncios td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0em 1em;
    background-color: #3c948b;
  }
  .Table-container-anuncios td:nth-of-type(1):before {
    content: "N°";
  }
  .Table-container-anuncios td:nth-of-type(2):before {
    content: "Titulo";
  }
  .Table-container-anuncios td:nth-of-type(3):before {
    content: "Fecha Inicio";
  }
  .Table-container-anuncios td:nth-of-type(4):before {
    content: "Descripcion";
  }
  .Table-container-anuncios td:nth-of-type(5):before {
    content: "Estado";
  }
  .Table-container-anuncios td:nth-of-type(6):before {
    content: "Fecha Fin";
  }
  .Table-container-anuncios td:nth-of-type(7):before {
    content: "Actualizar";
  }
  .descarto {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .Section-regisA {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .Section-regisA {
    width: 95%;
  }
  .Section-anuncios-result-label {
    padding: 0em;
  }
}
