<encabezado2></encabezado2>
<div class="padding"></div>

<section class="Section-regisA prueba">
    <form name="projectFormA" ng-controller="LoginCtrl as loginCtrl" ng-submit="projectFormA.$valid" novalidate>
        <article class="Section-anuncios-result">
            <h3 class="Section-anuncios-result-tittle">CREAR ANUNCIO</h3>
            <div class="Section-anuncios-result-label">

                <md-input-container class="md-block Tipo-usuarioA LabelA" required>
                    <label class="LabelA">Estado</label>
                    <md-select class="SelectA" ng-required="true" name="estado" ng-model="vm.anuncios.estado" tabindex="1" autofocus>
                        <md-option value="true">ACTIVO</md-option>
                        <md-option value="false">INACTIVO</md-option>
                    </md-select>
                    <div ng-messages="projectFormA.estado.$error" role="alert">
                        <div ng-message-exp="['required']">Campo requerido</div>
                    </div>

                </md-input-container>


              <md-input-container flex class="Input-container">
                  <label class="LabelA">Título</label>
                  <input type="text" ng-model="vm.anuncios.titulo" md-minlength="5" minlength="5" md-maxlength="50" maxlength="50" ng-required="true" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/" name="titulo">
                  <div ng-messages="projectFormA.titulo.$error" role="alert">
                      <div ng-message-exp="['required', 'md-minlength', 'md-maxlength', 'minlength', 'maxlength', 'pattern']">Campo requerido, mínimo 5 carácteres, máximo 50 carácteres, utilice solo letras.</div>
                        <!-- <div ng-message="pattern">Utilice solo letras</div> -->
                  </div>
              </md-input-container>

            <md-input-container flex class="Input-container">
                <label class="LabelA">Descripción</label>
                <input type="text" ng-model="vm.anuncios.descripcion" ng-required="true" md-minlength="5" md-maxlength="300" minlength="5" maxlength="300"  name="descripcion">
                <div ng-messages="projectFormA.descripcion.$error" role="alert" >
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'md-minlength', 'md-maxlength']">Campo requerido, mínimo 5 carácteres, máximo 300 carácteres.</div>
                </div>
            </md-input-container>

                <article class="Article-regisA">
                    <md-datepicker name="fechaInicio" class="PickerA md-block input-container fecha-anuncio" md-min-date="vm.minDate" ng-model="vm.anuncios.fechaInicio" md-placeholder="Fecha Inicio" ng-required="true">
                    </md-datepicker>
                    <md-datepicker name="fechaFin" class="PickerA md-block input-container fecha-anuncio" md-min-date="vm.anuncios.fechaInicio" ng-model="vm.anuncios.fechaFin"  md-placeholder="Fecha Fin" ng-required="true">
                    </md-datepicker>
                </article>
                <article class="Article-regisA">
                <div class="validation-messages3" ng-messages="projectFormA.fechaInicio.$error" role="alert" ng-if="projectFormA.$dirty">
                  <!-- <div ng-message-exp="['required', 'valid', 'mindate']">Campo requerido, el valor introducido no es una fecha, debe seleccionar la fecha minima permitida.</div> -->
                  <div ng-message="valid">El valor introducido no es una fecha!</div>
                  <div ng-message="required">Fecha inicio requerida!</div>
                  <div ng-message="mindate">Seleccione la fecha miníma permitida!</div>
                </div>

                <div class="validation-messages4" ng-messages="projectFormA.fechaFin.$error" role="alert" ng-if="projectFormA.$dirty">
                  <!-- <div ng-message-exp="['required', 'valid', 'mindate']">Campo requerido, el valor introducido no es una fecha, debe seleccionar la fecha minima permitida.</div> -->
                  <div ng-message="valid">El valor introducido no es una fecha!</div>
                  <div ng-message="required">Fecha Fin requerida!</div>
                  <div ng-message="mindate">Seleccione entre la fecha permitida!</div>
                </div>
              </article>
                <section layout="row" layout-align="center center" layout-wrap>
                    <md-button ng-click="vm.create()" ng-if="loginCtrl.isAdmin()" name="button" ng-disabled="vm.anuncios.estado == null || vm.anuncios.titulo == null || vm.anuncios.descripcion == null || vm.anuncios.fechaInicio == null || vm.anuncios.fechaFin == null"
                        class="md-raised md-primary Btn-guardarA" ng-href="#/anuncios">Guardar</md-button>
                    <md-button ng-click="vm.create()" ng-if="loginCtrl.isEmp()" ng-disabled="projectFormA.$invalid || vm.anuncios.estado == null || vm.anuncios.titulo == null || vm.anuncios.descripcion == null || vm.anuncios.fechaInicio == null || vm.anuncios.fechaFin == null"
                        class="md-raised md-primary Btn-guardarA" ng-href="#/misanuncios">Guardar</md-button>  <!--  <a class="link-anun" ng-href="#/misanuncios"></a>  ng-disabled="vm.anuncios.estado == null || vm.anuncios.titulo == null || vm.anuncios.descripcion == null || vm.anuncios.fechaInicio == null || vm.anuncios.fechaFin == null" -->
                    <md-button ng-href="#/anuncios" ng-if="loginCtrl.isAdmin()" class="md-raised md-warn Btn-cancelarA">Cancelar</md-button>
                    <md-button ng-href="#/misanuncios" ng-if="loginCtrl.isEmp()" class="md-raised md-warn Btn-cancelarA">Cancelar</md-button>
                </section>
            </div>
        </article>
    </form>
</section>
