<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-list-aununcios">
    <div class="color-A">
        <div class="container container-anun prueba">
            <h1 class="Tittle-users color-Title">Anuncios</h1>
            <div class="Container-search-regis table-bordered">
                <div class="Container-search-regis-flex">
                    <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
                        <button class="Button-search glyphicon glyphicon-search"></button>
                    </input>
                </div>
            </div>
            <form ng-controller="LoginCtrl as loginCtrl">
                <!-- overflow-y: hidden = este sirve para un scroll vertical pero no se como implementarlo. -->
                <table class="table-bordered table-hover color-t Table-container-anuncios">
                    <thead>
                        <div class="col-md-3">
                            <tr class="color-campo">
                                <th class="Table-container-anuncios-elements Encabezados">Empresa</th>
                                <th class="Table-container-anuncios-elements Encabezados">Título</th>
                                <th class="Table-container-anuncios-elements Encabezados">Fecha inicio</th>
                                <th class="Table-container-anuncios-elements Encabezados">Descripción</th>
                                <th class="Table-container-anuncios-elements Encabezados">Fecha fin</th>
                                <!--th class="Table-container-anuncios-elements Encabezados" ng-hide="loginCtrl.isUser()">Crear</th-->
                                <th class="Table-container-anuncios-elements Encabezados" ng-if="loginCtrl.isAdmin()">Actualizar</th>
                                <th class="Table-container-anuncios-elements Encabezados" ng-if="loginCtrl.isAdmin()">Estado</th>
                            </tr>
                        </div>
                    </thead>
                    <tbody class="Color-resultados">
                        <tr ng-repeat="usr in vm.anuncios | toArray:false | filter:vm.busqueda | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit " ng-if="loginCtrl.isAdmin() ? true : usr.estado">
                            <td class="Table-container-anuncios-elements">{{usr.idUsuario.nombre}}</td>
                            <td class="Table-container-anuncios-elements">{{usr.titulo}}</td>
                            <td class="Table-container-anuncios-elements">{{usr.fechaInicio | date: 'dd/MM/yyyy'}}</td>
                            <td class="Table-container-anuncios-elements">{{usr.descripcion}}</td>
                            <td class="Table-container-anuncios-elements">{{usr.fechaFin | date: 'dd/MM/yyyy'}}</td>
                            <!--<td class="Table-container-anuncios-elements" ng-hide="loginCtrl.isUser()">
                                <a ng-href="#/anuncios/create" class="Color-resultados-e">Crear</a>
                            </td>-->
                            <td class="Table-container-anuncios-elements" ng-if="loginCtrl.isAdmin()">
                                <a ng-href="#/anuncios/editar/{{usr.idAnuncio}}" class="Color-resultados-e">Actualizar</a>
                            </td>
                            <td class="Table-container-anuncios-elements" ng-if="loginCtrl.isAdmin()">
                                <md-switch ng-model="usr.estado" aria-label="Switch No Ink" ng-change="vm.inhabilitar(usr.idAnuncio)" class="md-primary"></md-switch>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" ng-if="loginCtrl.isAdmin()" class="btn btn-success Section-reciclar-container-articles-buttons btn-comprar btn-comprar-crear ">
                    <a class="btn-comprar-actualizar-a" ng-href="#/anuncios/create">Crear Anuncio</a>
                </button>

                <md-table-pagination class="Pagination" md-limit="vm.query.limit" md-limit-options="[5,10,15,20]" md-page="vm.query.page" md-total="{{vm.anuncios.length}}"></md-table-pagination>
            </form>
            <!--  <md-button class="md-raised md-primary Btn-guardarA Btn-crear-anuncio" ng-href="#/anuncios/create" type="submit">Crear Anuncio</md-button>-->
          </div>
    </div>
  </section>
