@import 'nib';
.button
  margin-top: 7em;
  border-radius: 9px;
  background-color: #DA5500;
  text-decoration: none;
  padding: 15px;
  color: white;
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);


.lista
  margin:0px;
  padding:0px;
  width:100%;
  box-shadow: 10px 3px 7px #888888;
  border:1px solid #000000;
