.button {
  margin-top: 7em;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  background-color: #da5500;
  text-decoration: none;
  padding: 15px;
  color: #fff;
  z-index: 2;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
}
.lista {
  margin: 0px;
  padding: 0px;
  width: 100%;
  -webkit-box-shadow: 10px 3px 7px #888;
  box-shadow: 10px 3px 7px #888;
  border: 1px solid #000;
}
