<encabezado2></encabezado2>
<div class="padding"></div>
<div class="Header-admin"></div>
<a class="button" href="#/">Ir a inicio</a>
<h3> Lista admin</h3>
<div ng-repeat="usuario in vm.usuarios">
    <li class="lista">{{usuario.nombre}}</li>
</div>
