<encabezado2></encabezado2>
<div class="padding"></div>

<form class="Section-login prueba" name="loginForm" ng-submit="loginForm.$valid && vm.signIn()" novalidate>
    <div class="form-group">
        <h1 class="Tittle-login">LOGIN</h1>
        <md-input-container class="flex" required> <!-- class="md-block" flex-gt-sm -->
            <label class="Label">Email</label>
            <input type="email" ng-blur="vm.validaCorreo()" name="email" ng-model="vm.user.email" ng-required="true" minlength="12" md-minlength="12" maxlength="60" md-maxlength="60" ng-pattern="/^.+@.+\..+$/">
            <div ng-messages="loginForm.email.$error" role="alert"> <!-- ng-if="loginForm.email.$dirty" -->
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'md-minlength', 'md-maxlength', 'pattern', 'email']">
                  Campo requerido, Debe cumplir con formato email, min 12, max 60 carácteres, arroba(@) y punto(.)
                </div>
            </div>

            <!-- <div ng-messages="loginForm.email.$error" role="alert" ng-if="loginForm.email.$dirty">
                <div ng-message="required">Campo requerido</div>
                <div ng-message="pattern">Debe ser formato "Email" con arroba(@) y punto(.)</div>
                <div ng-message="email">Debe ser formato "Email" con arroba(@) y punto(.)</div>
                <div ng-message="minlength">Mínimo 12 Carácteres y Máximo 60 Carácteres</div>
                <div ng-message="maxlength">Máximo 60 Carácteres</div>
            </div> -->
            <p ng-show="vm.validaEmail" class="validation-messages2">
              El email no se encuentra registrado....
            </p>
        </md-input-container>
        <md-input-container flex required>
            <label class="Label">Password</label>
            <input type="password" name="password" ng-model="vm.user.password" required md-minlength="6" md-maxlength="10" minlength="6" maxlength="10">
            <div ng-messages="loginForm.password.$error" role="alert"> <!-- ng-if="loginForm.password.$dirty" -->
                <div ng-message-exp="['required', 'md-minlength', 'md-maxlength', 'minlength', 'maxlength']">
                  Campo requerido, minimo 6 carácteres, máximo 10 carácteres.
                </div>
            </div>

            <!-- <div ng-messages="loginForm.password.$error" role="alert" ng-if="loginForm.password.$dirty">
                <div ng-message="required">Campo requerido</div>
                <div ng-message="minlength">Mínimo 6 Carácteres y Máximo 10 Carácteres</div>
                <div ng-message="maxlength">Máximo 10 Carácteres</div>
            </div> -->

        </md-input-container>
        <md-button class="md-raised md-primary Btn-guardar Btn-login" type="submit">Iniciar Sesión</md-button>
      <div class="recpass">
        <a href="#/recuperarPassword" class="recpass-a"> ¿Olvido su contraseña? </a>
      </div>
    </div>

</form>
