@import 'nib';
.Section-login
  height: 30em;
  box-sizing: border-box;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
.form-group
  display: flex;
  text-align: center;
  width: 30em;
  margin: auto;
  flex-direction: column;
.Tittle-login
  margin-bottom: 1em
.Btn-login
  margin-top: 2em
  margin-left: 0!important;
@media screen and (max-height:600px)

  .form-group
    width: 25em

.recpass
  margin-top: 16px;
  margin-bottom: 10px;

.recpass-a
  font-size: 16px;
