@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?eae6f3");
  src: url("/fonts/icomoon.eot?#iefixeae6f3") format('embedded-opentype'), url("/fonts/icomoon.ttf?eae6f3") format('truetype'), url("/fonts/icomoon.woff?eae6f3") format('woff'), url("/fonts/icomoon.svg?eae6f3#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e600";
  padding: 2em;
}
.icon-menu2:before {
  content: "\e601";
  line-height: 1.5em;
  cursor: pointer;
  color: #e9e9e9;
  font-size: 4.5rem;
  position: absolute;
  left: 0.7em;
  top: 0em;
  z-index: -1;
}
.icon-menu2:before:focus {
  border: none !important;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome !important;
}
.iconomenu,
.iconomenu3 {
  display: none;
}
.MainMenu2-link > .fa,
.MainMenu2-link2 > .fa {
  font-size: 3rem !important;
}
@font-face {
  font-family: MyriadWebPro;
  src: url("/fonts/MyriadWebPro.ttf");
}
/********************** VARIABLES ***********/
/**************************/
#Header2 {
  background: #3c948b;
}
.img-foto {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.Header {
  margin-top: 0px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
header input {
  display: none;
}
header label {
  position: relative;
}
label {
  margin: 0;
  padding: 0;
}
.Imag {
  padding-left: 5em;
}
.Header-imageContainerLogo2 {
  display: none;
}
.MainMenuMostrar {
  margin-top: 0 !important;
}
.MainMenu2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  cursor: default;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -o-transition: 1s ease;
  -ms-transition: 1s ease;
  transition: 1s ease;
  margin-top: -100vh;
  border-bottom: 1px solid #3c948b;
  background: rgba(51,51,51,0.5);
}
.MainMenu2-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 70%;
  max-width: 82rem;
  min-height: 33rem;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  z-index: 10;
  margin: 2em auto;
}
.MainMenu2-list >div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 46rem;
  margin: auto;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.MainMenu2-logo {
  list-style: none;
  text-align: center;
  padding-left: 0.5em;
}
.eco {
  font-size: 1.2em;
  color: #fff;
  margin: 0;
}
.MainMenu-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}
.profile {
  position: relative;
}
.profile-name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 2em;
  font-size: 18px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  height: 8em;
}
.profile-name > i {
  font-size: 3rem !important;
  text-align: center;
}
.profile-name:hover {
  color: #fff;
}
.profile:before {
  content: " ";
  height: 94%;
  width: 94%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.MainMenu2-link {
  color: #3c948b;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none;
  background: #fff;
  width: 15rem;
  height: 15rem;
  font-size: 18px;
  border: 5px solid #3c948b;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background 0.25s ease-out, color 0.25s ease-out;
  transition: background 0.25s ease-out, color 0.25s ease-out;
  position: relative;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 2em 0em;
}
.MainMenu2-link1 {
  color: #fff;
  background: #3c948b;
  border: 5px solid #f3f3f3;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  font-size: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.MainMenu2-link2 {
  color: #fff;
  background: #3c948b;
  border: 5px solid #f3f3f3;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  font-size: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.MainMenu2-link1:hover {
  cursor: pointer;
}
.MainMenu2-link:hover {
  cursor: pointer;
  background: #fcfcfc;
  color: #3c948b;
}
.MainMenu2-link1:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none !important;
}
.MainMenu2-link2:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none !important;
}
.MainMenu2-link:hover:focus {
  text-decoration: none;
}
.MainMenu2-link:focus {
  color: #3c948b;
  text-decoration: none;
}
.MainMenu2-link1:focus {
  color: #fff !important;
  text-decoration: none !important;
}
.MainMenu2-link2:focus {
  color: #fff !important;
  text-decoration: none !important;
}
.dropdown-menu {
  padding: 0;
  left: auto;
  top: 87px;
  color: #fff;
  border: 1px solid #3c948b;
  background-color: #949292;
  right: 0;
  margin: auto;
}
.dropdown-menu:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.dropdown-menu > li > a:hover {
  background-color: #808080;
  color: #fff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #3c948b;
  color: #fff;
}
.dropdown-menu > li > a {
  color: #3c948b;
}
.dropdown-menu > li > a:hover {
  background: #3c948b;
}
.navbar-nav > li > a {
  color: #3c948b;
}
.navbar-nav > li > a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #3c948b;
}
.nav > li > a {
  position: relative !important;
  display: block !important;
  padding: 8.52px 15px !important;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    color: #3c948b;
  }
}
.Mainmenu-logo-responsive {
  display: none;
}
.NewClass {
  padding-top: 13em;
}
.dropdown-menu {
  background: #fff;
  text-align: center;
}
@media screen and (max-width: 940px) {
  .icon-menu2 {
    display: static;
    color: #fff;
    padding-left: 1em;
    font-size: 1.5em;
  }
  .icon-menu2:hover {
    cursor: pointer;
  }
  .iconomenu3 {
    display: block;
  }
  .Mainmenu2-logo-responsive {
    z-index: 1;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    text-align: center;
  }
  .MainMenu2-list {
    max-width: 95%;
  }
}
@media screen and (max-width: 840px) {
  .MainMenu2-list {
    width: 95%;
    min-width: 1rem;
    margin: 1em auto;
  }
  .MainMenu2-link {
    width: 12rem;
    height: 12rem;
    border: 3px solid #3c948b;
  }
  .MainMenu2-link2 {
    width: 12rem;
    height: 12rem;
    border: 3px solid #fff;
  }
}
@media screen and (max-width: 520px) {
  .MainMenu2 {
    height: auto;
  }
  -list {
    width: 71%;
  }
}
@media screen and (max-width: 500px) {
  .MainMenu2-list {
    max-width: 35rem;
    margin: 0.2em auto;
    min-height: 100vh;
  }
  .MainMenu2 {
    margin-top: -102vh;
    height: auto;
  }
}
@media screen and (max-width: 850px) {
  .Work-imageContainer2 {
    margin: 0;
    display: block;
    text-align: center;
    padding: 0em 1em;
    display: inline-block;
    width: 17em;
  }
}
.Imag {
  padding-left: 5em;
}
.MainMenu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #3c948b;
  background: #fff;
}
.MainMenu-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 55em;
  list-style: none;
  margin: 0;
  z-index: 10;
}
.MainMenu-list-logo {
  list-style: none;
  text-align: center;
  padding-left: 0.5em;
}
#MainMenuInicio2 {
  display: none;
}
.Header-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
}
.Header-imageContainerLogo {
  margin-left: 5px;
}
.Header-imageLogo {
  width: 5em;
  vertical-align: bottom;
  margin-left: 4em;
}
.Header-descriptionLogo {
  color: #008000;
}
.eco {
  font-size: 1.2em;
  color: #fff;
  margin: 0;
}
.MainMenu-item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #3c948b;
  text-align: center;
}
.MainMenu-item2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  background: #3c948b;
  padding: 2.4em 0em;
  text-align: center;
  color: #949292;
  text-decoration: none;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.MainMenu-item2-log {
  background: #3c948b;
  border-left: 1px solid #fff;
}
.MainMenu-item2-log-a {
  color: #fff !important;
}
.MainMenu-link {
  padding: 2.4em 0em;
  color: #3c948b;
  display: block;
  text-decoration: none;
  background: #fff;
  -webkit-transition: background 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background 0.25s ease-out, color 0.25s ease-out;
  -o-transition: background 0.25s ease-out, color 0.25s ease-out;
  -ms-transition: background 0.25s ease-out, color 0.25s ease-out;
  transition: background 0.25s ease-out, color 0.25s ease-out;
  position: relative;
}
.MainMenu-link1 {
  color: #fff;
  text-decoration: none;
}
.MainMenu-link2 {
  color: #fff;
  text-decoration: none;
}
.MainMenu-link1:hover {
  cursor: pointer;
}
.MainMenu-link:hover {
  cursor: pointer;
  background: #fcfcfc;
  color: #3c948b;
  text-decoration: none;
}
.MainMenu-link1:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none !important;
}
.MainMenu-link2:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: none !important;
}
.MainMenu-link:hover:focus {
  text-decoration: none;
}
.MainMenu-link:focus {
  color: #3c948b;
  text-decoration: none;
}
.MainMenu-link1:focus {
  color: #fff !important;
  text-decoration: none !important;
}
.MainMenu-link2:focus {
  color: #fff !important;
  text-decoration: none !important;
}
.dropdown-menu {
  padding: 0;
  left: auto;
  top: 87px;
  color: #fff;
  border: 1px solid #3c948b;
  background-color: #949292;
  right: 0;
  margin: auto;
}
.dropdown-menu:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
.dropdown-menu > li > a:hover {
  background-color: #808080;
  color: #fff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #3c948b;
  color: #fff;
}
.dropdown-menu > li > a {
  color: #3c948b;
}
.dropdown-menu > li > a:hover {
  background: #3c948b;
}
.navbar-nav > li > a {
  color: #3c948b;
}
.navbar-nav > li > a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #3c948b;
}
.NewClass {
  padding-top: 13em;
}
.dropdown-menu {
  background: #fff;
  text-align: center;
}
@media screen and (max-width: 940px) {
  header {
    background: transparent;
    height: 7rem;
  }
  header label {
    display: block;
  }
  #btn-menu2:checked ~ .MainMenu {
    margin-top: 6.7rem;
    margin-left: -1px;
  }
  .MainMenu {
    position: absolute;
    -webkit-box-align: start;
    -moz-box-align: start;
    -o-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    height: auto;
    width: 86%;
    margin-top: 6.7rem;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-left: -100%;
    border-bottom: none;
    border-right: 1px solid #3c948b;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    overflow-y: auto;
    max-height: 35.4rem;
  }
  .MainMenu-list {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
  }
  .MainMenu-item {
    border-bottom: 1px solid #3c948b;
    width: 100%;
  }
  .MainMenu-item:nth-child(1) {
    border-top: 1px solid rgba(153,68,153,0.133) 9;
  }
  .MainMenu-item2 {
    border-top: 1px solid #fff;
    width: 100%;
  }
  .MainMenu-item-log {
    width: 100%;
    border-bottom: 1px solid #3c948b;
  }
  .Toggle {
    background: #fff;
    border-rigth: 1px solid #fff;
    border-top: 1px solid #fff;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .navbar-nav {
    margin: -1px 0 0 0;
    width: 100%;
  }
  .-imageLogo {
    width: 3.7em;
  }
  .Mainmenu-logo {
    display: none;
  }
}
.Main {
  border-left: 1px solid #3c948b;
}
.Main .Mainmenu-logo-responsive {
  z-index: 1;
  display: block;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  text-align: center;
}
@media screen and (max-width: 940px) {
  .navbar-nav > li > .dropdown-menu {
    width: 100%;
  }
}
