
<header class="Header" id="Header">
  <label class="icon-menu2 iconomenu2" ng-click="vm.menu()"></label>

  <figure class="Header-imageContainerLogo2">
    <a href="#/inicio"><img class="Header-imageLogo" src="/img/positivo ecosirec logo.png" alt="es la descripcion de la imagen" /></a>
    <figcaption class="Header-descriptionLogo"></figcaption>
  </figure>

  <nav class="MainMenu2" id="MainMenuInicio" ng-click="vm.menu()" ng-class="vm.mostrarMenu">
   <!-- <nav class="MainMenu2" ng-class="vm.mostrarMenu"> -->
      <ul class="MainMenu2-list">
          <li class="MainMenu2-item"><a href="#/inicio"  class="MainMenu2-link"><i class="fa fa-home"></i>Inicio</a></li>
          <li class="MainMenu2-item"><a href="#/nosotros" class="MainMenu2-link"><i class="fa fa-users"></i>Nosotros</a></li>
          <li class="MainMenu2-item" ng-if="vm.isAuthenticated()" ng-hide="vm.isEmp()"><a href="#/anuncios" class="MainMenu2-link"><i class="fa fa-newspaper-o"></i>Anuncios</a></li>
          <li class="MainMenu2-item" ng-show="vm.isAuthenticated()" ng-if="vm.isEmp()"><a href="#/misanuncios" class="MainMenu2-link"><i class="fa fa-newspaper-o"></i>Mis Anuncios</a></li>
          <li class="MainMenu2-item"><a href="#/reciclar" class="MainMenu2-link"><i class="fa fa-recycle"></i>Reciclemos</a></li>
          <li class="MainMenu2-item" ng-show="vm.isAuthenticated()" ng-if="vm.isAdmin()"><a href="#/Pedidos/list" class="MainMenu2-link"><i class="fa fa-shopping-cart"></i>Pedidos</a></li>
          <li class="MainMenu2-item" ng-show="vm.isAuthenticated()" ng-if="vm.isEmp()"><a href="#/MisPedidos/list" class="MainMenu2-link"><i class="fa fa-shopping-cart"></i>Mis Pedidos</a></li>
          <li class="MainMenu2-item" ng-if="vm.isUser()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu2-link"><i class="fa fa-list"></i>Empresas</a></li>
          <li class="MainMenu2-item" ng-if="vm.isEmp()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu2-link"><i class="fa fa-list"></i>Empresas</a></li>
          <!--<li class="MainMenu2-item" ng-show="vm.isAuthenticated()"><a href="#/usuarios/perfil/{{vm.getCurrentId()}}" class="MainMenu2-link"><i class="fa fa-user"></i>Perfil</a></li>-->
          <li class="MainMenu2-item" ng-if="vm.isEmp()" ng-show="vm.isAuthenticated()"><a href="#/portafolio" class="MainMenu2-link"><i class="fa fa-shopping-cart"></i>Crear Pedido</a></li>
          <li class="MainMenu2-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/auditoriausuario" class="MainMenu2-link"><i class="fa fa-list"></i>Auditoría</a></li>
          <!-- <li class="MainMenu2-item" ng-if="vm.isEmp()" ng-show="vm.isAuthenticated()"><a href="#/misanuncios" class="MainMenu2-link"><i class="fa fa-newspaper-o"></i>Mis Anuncios</a></li> -->
          <li class="MainMenu2-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/usuarios" class="MainMenu2-link"><i class="fa fa-user-plus"></i>Usuarios</a></li>
          <li class="MainMenu2-item2 profile" ng-if="vm.isAuthenticated()" ng-controller="HeaderCtrl as headerctrl"> <!--ng-controller="HeaderCtrl as headerctrl"-->
          <img ng-hide="headerctrl.usuario.foto" ng-src="/img/avatar.svg" height="70px" width="70px" class="MainMenu2-link2"/>
          <img ng-if="headerctrl.usuario.foto" ng-src="{{'data:image/png;base64,' + headerctrl.usuario.foto}}" height="70px" width="70px" class="MainMenu2-link2"/>
                      <a class="dropdown-toggle profile-name" href="#/usuarios/perfil" ng-controller="UsuariosPerfilCtrl as usuariosPerfilCtrl">{{usuariosPerfilCtrl.usuario.nombre}}<i class="fa fa-user" aria-hidden="true"></i><!-- class="fa fa-user"></i-->
            </a>
          </li> <!-- {{vm.getCurrentUser()}}-->
          <li class="MainMenu2-item2" ng-show="vm.isAuthenticated()"><a a class="MainMenu2-link2" ng-click="vm.logout()"><i class="fa fa-sign-out"></i>Salir</a></li>

        <div>
          <li class="MainMenu2-item2" ng-hide="vm.isAuthenticated()"><a href="#/usuarios/create" id="Registro" class="MainMenu2-link2"><i class="fa fa-list-alt" aria-hidden="true"></i>Regístrarse</a></li>
          <li class="MainMenu2-item2" ng-hide="vm.isAuthenticated()"><a href="#/login" class="MainMenu2-link2" id="DisplayForm"><i class="fa fa-sign-in" aria-hidden="true"></i>Iniciar Sesión</a></li>
        </div>
      </ul>
  </nav>

    <input type="checkbox" id="btn-menu"></input>
    <label for="btn-menu" class="icon-menu2 iconomenu"></label>
    <nav class="MainMenu" id="MainMenuInicio2">
        <ul class="Mainmenu-logo">
            <li class="MainMenu-item1">
                <figure class="Header-imageContainerLogo">
                  <a href="#/inicio"><img class="Header-imageLogo" src="/img/positivo ecosirec logo.png" alt="es la descripcion de la imagen" /></a>
                    <figcaption class="Header-descriptionLogo"></figcaption>
                </figure>
            </li>
        </ul>
        <ul class="MainMenu-list">
            <li class="MainMenu-item"><a href="#/inicio" class="MainMenu-link">Inicio</a></li>
            <li class="MainMenu-item"><a href="#/nosotros" class="MainMenu-link">Nosotros</a></li>
            <li class="MainMenu-item" ng-if="vm.isAuthenticated()" ng-hide="vm.isEmp()"><a href="#/anuncios" class="MainMenu-link">Anuncios</a></li>
            <li class="MainMenu-item" ng-show="vm.isAuthenticated()" ng-if="vm.isEmp()"><a href="#/misanuncios" class="MainMenu-link">Mis Anuncios</a></li>
            <li class="MainMenu-item"><a href="#/reciclar" class="MainMenu-link">Reciclemos</a></li>
            <li class="MainMenu-item" ng-if="vm.isUser()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu-link">Empresas</a></li>
            <li class="MainMenu-item" ng-if="vm.isEmp()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu-link">Empresas</a></li>
            <li class="MainMenu-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/auditoriausuario" class="MainMenu-link">Auditoría</a></li>
            <li class="MainMenu-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/usuarios" class="MainMenu-link">Usuarios</a></li>
            <li class="MainMenu-item2" ng-hide="vm.isAuthenticated()"><a href="#/usuarios/create" id="Registro" class="MainMenu-link1">Regístrarse</a></li>
            <li class="MainMenu-item2" ng-hide="vm.isAuthenticated()"><a href="#/login" class="MainMenu-link2" id="DisplayForm">Iniciar Sesión</a></li>
            <li class="Toggle Main" ng-if="vm.isAuthenticated()">
                <ul class="nav navbar-nav " ng-if="vm.isAuthenticated()" ng-controller="HeaderCtrl as headerctrl">
                    <li class="dropdown MainMenu-item-log" ng-show="vm.isAuthenticated()"> <!-- ng-controller="HeaderCtrl as headerctrl"-->
                        <a class="dropdown-toggle MainMenu-item-log-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <img ng-hide="headerctrl.usuario.foto" ng-src="/img/avatar.svg" height="70px" width="70px" class="img-foto"/>
                          <img ng-if="headerctrl.usuario.foto" ng-src="{{'data:image/png;base64,' + headerctrl.usuario.foto}}" height="70px" width="70px" class="img-foto"/>
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li ng-controller="UsuariosPerfilCtrl as usuariosPerfilCtrl"><a>{{usuariosPerfilCtrl.usuario.nombre}}</a></li> <!--{{vm.getCurrentUser()}}-->
                          <li ><a href="#/usuarios/perfil" class="MainMenu-link">Perfil</a></li>
                          <li ng-if="vm.isAdmin()"><a href="#/Pedidos/list" class="MainMenu-link">Pedidos</a></li>
                          <li ng-if="vm.isEmp()"><a href="#/MisPedidos/list" class="MainMenu-link">Mis Pedidos</a></li>
                          <!--li ng-if="vm.isEmp()"><a href="#/misanuncios" class="MainMenu-link">Mis Anuncios</a></li-->
                          <li ng-if="vm.isAdmin()"><a href="#/misanuncios" class="MainMenu-link">Mis Anuncios</a></li>
                          <li><a ng-click="vm.logout()">Salir</a></li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="Mainmenu-logo-responsive">

              <p class="eco">ECOSIREC</p>

        </div>
    </nav>


</header>
