<header class="Header" id="Header2">

  <input type="checkbox" id="btn-menu2"></input>
  <label for="btn-menu2" class="icon-menu2 iconomenu3"></label>
  <nav class="MainMenu" id="MainMenu2">
      <ul class="Mainmenu-logo">
          <li class="MainMenu-item1">
              <figure class="Header-imageContainerLogo">
                  <a href="#/inicio"><img class="Header-imageLogo" src="/img/positivo ecosirec logo.png" alt="es la descripcion de la imagen" /></a>
                  <figcaption class="Header-descriptionLogo"></figcaption>
              </figure>
          </li>
      </ul>
      <ul class="MainMenu-list">
          <li class="MainMenu-item"><a href="#/inicio" class="MainMenu-link">Inicio</a></li>
          <li class="MainMenu-item"><a href="#/nosotros" class="MainMenu-link">Nosotros</a></li>
          <li class="MainMenu-item" ng-if="vm.isAuthenticated()" ng-hide="vm.isEmp()"><a href="#/anuncios" class="MainMenu-link">Anuncios</a></li>
          <li class="MainMenu-item" ng-show="vm.isAuthenticated()" ng-if="vm.isEmp()"><a href="#/misanuncios" class="MainMenu-link">Mis Anuncios</a></li>
          <li class="MainMenu-item"><a href="#/reciclar" class="MainMenu-link">Reciclemos</a></li>
          <li class="MainMenu-item" ng-if="vm.isUser()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu-link">Empresas</a></li>
          <li class="MainMenu-item" ng-if="vm.isEmp()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu-link">Empresas</a></li>
          <li class="MainMenu-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/auditoriausuario" class="MainMenu-link">Auditoría</a></li>
          <li class="MainMenu-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/usuarios" class="MainMenu-link">Usuarios</a></li>
          <li class="MainMenu-item2" ng-hide="vm.isAuthenticated()"><a href="#/usuarios/create" id="Registro" class="MainMenu-link1">Regístrarse</a></li>
          <li class="MainMenu-item2" ng-hide="vm.isAuthenticated()"><a href="#/login" class="MainMenu-link2" id="DisplayForm">Iniciar Sesión</a></li>
          <li class="Toggle Main" ng-if="vm.isAuthenticated()">
              <ul class="nav navbar-nav " ng-controller="HeaderCtrl as headerctrl" > <!--ng-controller="HeaderCtrl as headerctrl"-->
                  <li class="dropdown MainMenu-item-log" >
                      <a class="dropdown-toggle MainMenu-item-log-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <img ng-hide="headerctrl.usuario.foto" ng-src="/img/avatar.svg" height="70px" width="70px" class="img-foto"/>
                      <img ng-if="headerctrl.usuario.foto" ng-src="{{'data:image/png;base64,' + headerctrl.usuario.foto}}" height="70px" width="70px" class="img-foto"/>
                      <span class="caret"></span>
                      </a>

                      <ul class="dropdown-menu" ng-if="vm.isAuthenticated()">
                          <li ng-controller="UsuariosPerfilCtrl as usuariosPerfilCtrl"><a>{{usuariosPerfilCtrl.usuario.nombre}}</a></li>  <!--{{vm.getCurrentUser()}} -->
                          <li ><a href="#/usuarios/perfil" class="MainMenu-link">Perfil</a></li>
                          <li  ng-if="vm.isAdmin()"><a href="#/Pedidos/list" class="MainMenu-link">Pedidos</a></li>
                          <li  ng-if="vm.isEmp()"><a href="#/MisPedidos/list" class="MainMenu-link">Mis Pedidos</a></li>
                          <!--li  ng-if="vm.isEmp()"><a href="#/misanuncios" class="MainMenu-link">Mis Anuncios</a></li-->
                          <li  ng-if="vm.isAdmin()"><a href="#/misanuncios" class="MainMenu-link">Mis Anuncios</a></li>
                          <li><a ng-click="vm.logout()">Salir</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
      </ul>
      <div class="Mainmenu-logo-responsive">

            <p class="eco">ECOSIREC</p>

      </div>
  </nav>
  <!-- <label class="icon-menu2 iconomenu2" ng-click="vm.menu()"></label>



  <figure class="Header-imageContainerLogo2">
    <img class="Header-imageLogo" src="/img/positivo ecosirec logo.png" alt="es la descripcion de la imagen" />
    <figcaption class="Header-descriptionLogo"></figcaption>
  </figure>

  <nav class="MainMenu2" ng-click="vm.menu()" ng-class="vm.mostrarMenu">
  <nav class="MainMenu2" ng-class="vm.mostrarMenu">
      <ul class="Mainmenu-logo">
          <li class="MainMenu2-item1">
          </li>
      </ul>
      <ul class="MainMenu2-list">
          <li class="MainMenu2-item"><a href="#/inicio"  class="MainMenu2-link"><i class="fa fa-home"></i>Inicio</a></li>
          <li class="MainMenu2-item"><a href="#/nosotros" class="MainMenu2-link"><i class="fa fa-users"></i>Nosotros</a></li>
          <li class="MainMenu2-item" ng-show="vm.isAuthenticated()"><a href="#/anuncios" class="MainMenu2-link">Anuncios</a></li>
          <li class="MainMenu2-item"><a href="#/reciclar" class="MainMenu2-link"><i class="fa fa-recycle"></i>Reciclemos</a></li>
          <li class="MainMenu2-item" ng-if="vm.isUser()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu2-link">Empresas</a></li>
          <li class="MainMenu2-item" ng-if="vm.isEmp()" ng-show="vm.isAuthenticated()"><a href="#/usuarios/empresas" class="MainMenu2-link">Empresas</a></li>
          <li class="MainMenu2-item" ng-show="vm.isAuthenticated()"><a href="#/usuarios/perfil/{{vm.getCurrentId()}}" class="MainMenu2-link">Perfil</a></li>
          <li class="MainMenu2-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/auditoriausuario" class="MainMenu2-link">Auditoría</a></li>
          <li class="MainMenu2-item" ng-if="vm.isAdmin()" ng-show="vm.isAuthenticated()"><a href="#/usuarios" class="MainMenu2-link">Usuarios</a></li>
          <li class="MainMenu2-item2" ng-hide="vm.isAuthenticated()"><a href="#/usuarios/create" id="Registro" class="MainMenu2-link1">Regístrarse</a></li>
          <li class="MainMenu2-item2" ng-hide="vm.isAuthenticated()"><a href="#/login" class="MainMenu2-link2" id="DisplayForm">Iniciar Sesión</a></li>
          <li class="Toggle"ng-show="vm.isAuthenticated()">
          <li class="MainMenu2-item" ng-show="vm.isAuthenticated()">
                      <a class="dropdown-toggle MainMenu2-item-log-a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{vm.getCurrentUser()}}
            </a>
          </li>
          <li class="MainMenu2-item" ng-show="vm.isAuthenticated()"><a ng-click="vm.logout()">Salir</a></li>
        </li>
        </ul>
      </ul>
  </nav> -->
</header>
