@import 'nib';
@font-face
    font-family 'icomoon'
    src:url('/fonts/icomoon.eot?eae6f3')
    src:url('/fonts/icomoon.eot?#iefixeae6f3') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?eae6f3') format('truetype'),
        url('/fonts/icomoon.woff?eae6f3') format('woff'),
        url('/fonts/icomoon.svg?eae6f3#icomoon') format('svg')
    font-weight: normal
    font-style: normal

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
    /* Better Font Rendering ========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.icon-menu:before
  content: "\e600";
  padding: 2em;

.icon-menu2:before
  content: "\e601";
  line-height: 1.5em;
  cursor: pointer;
  color: #e9e9e9
  font-size: 4.5rem
  position: absolute;
  left: .7em;
  top: 0em;
  z-index: -1
  &:focus
    border: none!important
.fa
  font: normal normal normal 14px/1 FontAwesome!important;
.iconomenu,
.iconomenu3
  display: none
.MainMenu2-link,
.MainMenu2-link2
  > .fa
    font-size: 3rem!important


@font-face
  font-family MyriadWebPro
  src url('/fonts/MyriadWebPro.ttf')
/********************** VARIABLES ***********/


color-verde = #3c948b
/**************************/

#Header2
  background: color-verde

.img-foto
  border-radius: 50%;

.Header
  margin-top: 0px
  width: 100%
  position: fixed;
  z-index 1000

header
  input
    display: none
header
  label
    position: relative;
label
  margin: 0
  padding: 0


.Imag
  padding-left: 5em;

.Header-imageContainerLogo2
  display: none

.MainMenuMostrar
  margin-top: 0!important
.MainMenu2
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  cursor: default;
  flex-direction: column;
  height: 100vh;
  transition: 1s ease;
  margin-top: -100vh;
  border-bottom: 1px solid color-verde;
  background: rgba(#333,.5);
  &-list
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    max-width: 82rem;
    min-height: 33rem;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    z-index: 10;
    margin: 2em auto;
    >div
      display: flex;
      width: 46rem
      margin: auto;
      justify-content: space-around;
  &-logo
    list-style: none
    text-align: center
    padding-left: .5em



.eco
  font-size: 1.2em;
  color: white;
  margin: 0


.MainMenu-item
  box-sizing: border-box;
  text-align: center;

.profile
  position: relative;

  &-name
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color :#FFF;
    padding: 2em;
    font-size: 18px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8em;
    > i
      font-size: 3rem!important
      text-align: center;
    &:hover
      color #FFF

.profile:before
  content: " ";
  height: 94%
  width 94%
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
.MainMenu2-link
  color:color-verde;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #fff;
  width: 15rem;
  height: 15rem;
  font-size: 18px;
  border: 5px solid color-verde;
  border-radius: 50%;
  transition: background .25s ease-out, color .25s ease-out;
  position: relative;
  // display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  padding: 2em 0em;
  &1
    color: #fff;
    background: color-verde;
    border: 5px solid #F3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    font-size: 18px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column-reverse;

  &2
    color: #fff;
    background: color-verde
    border: 5px solid #F3f3f3
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 15rem;
    font-size: 18px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    // display: flex;
    flex-direction: column-reverse;
.MainMenu2-link1:hover
  cursor: pointer

.MainMenu2-link:hover
  cursor: pointer
  background: #fcfcfc
  color: color-verde

.MainMenu2-link1:hover
  cursor: pointer
  color: #fff
  text-decoration: none!important
.MainMenu2-link2:hover
  cursor: pointer
  color: #fff
  text-decoration: none!important

.MainMenu2-link:hover:focus
  text-decoration: none
.MainMenu2-link:focus
  color: color-verde
  text-decoration: none

.MainMenu2-link1:focus
  color: #fff!important
  text-decoration: none!important

.MainMenu2-link2:focus
  color #FFF!important
  text-decoration: none!important

.dropdown-menu
  padding: 0;
  left: auto;
  top: 87px;
  color: #FFF;
  border: 1px solid color-verde;
  background-color: #949292;
  right: 0;
  margin: auto;
  &:hover
    cursor: pointer;
    border: 1px solid #fff;
  & > li > a:hover
    background-color: grey
    color: white

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
  background-color: color-verde;
  color: white
.dropdown-menu > li > a
    color: color-verde;

.dropdown-menu > li > a:hover
  background: color-verde;
.navbar-nav > li > a
  //padding-top: 33px!important
  //padding-bottom: 34px!important
  color: color-verde
  &:hover
    color: white;
    cursor: pointer;
    background-color: color-verde;
.nav > li > a
  position: relative!important;
  display: block!important;
  padding: 8.52px 15px!important;

@media (min-width: 768px)
  .navbar-nav > li > a
    color: color-verde
    //padding-top: 33px!important
    //padding-bottom: 34px!important

.Mainmenu-logo-responsive
  display: none

.NewClass
  padding-top: 13em
.dropdown-menu
  background: white
  text-align: center;

@media screen and (max-width: 940px)
  .icon-menu2
    display: static
    color: white
    padding-left: 1em
    font-size: 1.5em
    &:hover
      cursor: pointer

  .iconomenu3
    display: block;

  .Mainmenu2-logo-responsive
    z-index: 1;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    text-align: center;

  .MainMenu2
    &-list
      max-width: 95%;


@media screen and (max-width: 840px)
  .MainMenu2
    &-list
      width: 95%;
      min-width: 1rem;

      margin: 1em auto;
    &-link
      width: 12rem
      height: 12rem
      border: 3px solid color-verde
    &-link2
      width: 12rem
      height: 12rem
      border: 3px solid #FFF
@media screen and (max-width: 520px)
  .MainMenu2
      height: auto;
    &-list
      width: 71%;

@media screen and (max-width: 500px)

  .MainMenu2-list
    max-width: 35rem;
    margin: .2em auto;
    min-height: 100vh;
  .MainMenu2
    margin-top: -102vh
    height: auto;
    // @media screen and (max-width: 460px)
    //   margin-top: -101vh


@media screen and (max-width: 850px)
  .Work-imageContainer2
    margin: 0;
    display: block;
    text-align: center;
    padding: 0em 1em;
    display: inline-block;
    width: 17em;

.Imag
  padding-left: 5em;

.MainMenu
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid color-verde;
  background: #FFF;
  &-list
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55em;
    list-style: none;
    margin: 0;
    z-index: 10;
    &-logo
      list-style: none
      text-align: center
      padding-left: .5em

#MainMenuInicio2
  display: none


.Header-scrolled
  position: fixed;
  width: 100%;
  top: 0;
  transition: .5s;
  z-index: 1;

.Header-imageContainerLogo
  margin-left: 5px

.Header-imageLogo
  width: 5em
  vertical-align: bottom
  margin-left: 4em;

.Header-descriptionLogo
  color:green
  //font-family: 'cursive'

.eco
  font-size: 1.2em;
  color: white;
  margin: 0


.MainMenu-item
  flex: 1;
  box-sizing: border-box;
  border-left: 1px solid color-verde;
  text-align: center;
  &2
    box-sizing: border-box;
    border-left: 1px solid #FFF;
    background: color-verde;
    padding: 2.4em 0em;
    text-align: center;
    color: #949292;
    text-decoration: none;
    flex: 1;

    &-log
      background: color-verde
      border-left: 1px solid #FFF;
      &-a
        color #FFF!important


.MainMenu-link
  padding: 2.4em 0em;
  color:color-verde;
  display: block;
  text-decoration: none;
  background: #fff;
  transition: background .25s ease-out, color .25s ease-out;
  position: relative;
  //
  // &::before
  //   content: "";
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;
  //   width: 0px;
  //   cursor: #FFF
  //   height: 100%;
  //   background: #7ECDC4;
  //   transition: all 2s ease;
  //
  //
  &1
    color: #fff
    text-decoration: none
  &2
    color: #fff
    text-decoration: none

.MainMenu-link1:hover
  cursor: pointer
.MainMenu-link:hover
  cursor: pointer
  background: #fcfcfc
  color: color-verde
  text-decoration: none

    //
    // .MainMenu-link:hover:before
    //   width 100%!important


.MainMenu-link1:hover
  cursor: pointer
  color: #fff
  text-decoration: none!important
.MainMenu-link2:hover
  cursor: pointer
  color: #fff
  text-decoration: none!important

.MainMenu-link:hover:focus
  text-decoration: none
.MainMenu-link:focus
  color: color-verde
  text-decoration: none

.MainMenu-link1:focus
  color: #fff!important
  text-decoration: none!important

.MainMenu-link2:focus
  color #FFF!important
  text-decoration: none!important

.dropdown-menu
  padding: 0;
  left: auto;
  top: 87px;
  color: #FFF;
  border: 1px solid color-verde;
  background-color: #949292;
  right: 0;
  margin: auto;
  &:hover
    cursor: pointer;
    border: 1px solid #fff;
  & > li > a:hover
    background-color: grey
    color: white

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
  background-color: color-verde;
  color: white
.dropdown-menu > li > a
  color: color-verde;

.dropdown-menu > li > a:hover
  background: color-verde;
.navbar-nav > li > a
  //padding-top: 33px!important
  //padding-bottom: 34px!important
  color: color-verde
  &:hover
    color: white;
    cursor: pointer;
    background-color: color-verde;



.NewClass
  padding-top: 13em
.dropdown-menu
  background: white
  text-align: center;

@media screen and (max-width: 940px)
  header
    background:transparent;

    height: 7rem


    label
      display: block;

  #btn-menu2:checked ~ .MainMenu
    margin-top: 6.7rem
    margin-left: -1px


  .MainMenu
    position: absolute;
    align-items: flex-start;
    height: auto;
    width: 86%;
    margin-top: 6.7rem;
    transition: all .4s ease-in-out;
    margin-left: -100%;
    border-bottom: none;
    border-right: 1px solid color-verde;
    display: flex;
    overflow-y: auto;
    max-height: 35.4rem;

  .MainMenu-list
    display: flex;
    flex-direction: column;
    list-style: none;
  .MainMenu-item
    border-bottom:1px solid color-verde
    width: 100%
  .MainMenu-item:nth-child(1)
    border-top:1px solid #94929
  .MainMenu-item2
    border-top:1px solid #FFF
    width: 100%
  .MainMenu-item-log
    width 100%
    border-bottom: 1px solid color-verde
  .Toggle
    background: white;
    border-rigth 1px solid #FFF;
    border-top: 1px solid #FFF;
    width: 100%;
    flex: 1;
    text-align: center;
  .navbar-nav
    margin: -1px 0 0 0;
    width 100%
  .-imageLogo
    width: 3.7em
  .Mainmenu-logo
    display: none


.Main
  border-left: 1px solid #3c948b;




  .Mainmenu-logo-responsive
    z-index: 1;
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    text-align: center;





.navbar-nav > li > .dropdown-menu
  @media screen and (max-width 940px)
    width: 100%
