.Parra {
  margin: 0 auto 45px;
  width: 110%;
  font-size: 17px;
  text-align: justify;
}
.glyphicon {
  font-family: 'Glyphicons Halflings' !important;
}
.Nosotros-section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Nosotros-section-article {
  width: 35em;
  margin: 1em auto;
  padding: 0em 1em;
}
@media screen and (max-width: 600px) {
  .Nosotros-section-article {
    width: 90%;
  }
}
.Nosotros-section-article-tittle {
  color: #3c948b;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .Nosotros-section-article-tittle {
    width: 100%;
  }
}
.Nosotros-section-article-tittle::before {
  display: table;
  content: "";
  line-height: 0;
  width: 40%;
  border-top: 1px solid #3c948b;
  margin-right: 0.5em;
}
@media screen and (max-width: 400px) {
  .Nosotros-section-article-tittle::before {
    width: 32%;
  }
}
.Nosotros-section-article-tittle::after {
  display: table;
  content: "";
  line-height: 0;
  width: 40%;
  border-top: 1px solid #3c948b;
  margin-left: 0.5em;
}
@media screen and (max-width: 400px) {
  .Nosotros-section-article-tittle::after {
    width: 32%;
  }
}
.Nosotros-section-article-tittle-corporativo {
  color: #3c948b;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100%;
  margin: auto;
  max-width: 32em;
}
@media screen and (max-width: 600px) {
  .Nosotros-section-article-tittle-corporativo {
    width: 100%;
  }
}
.Nosotros-section-article-tittle-corporativo::before {
  display: table;
  content: "";
  line-height: 0;
  width: 30%;
  border-top: 1px solid #3c948b;
  margin-right: 1em;
}
@media screen and (max-width: 920px) {
  .Nosotros-section-article-tittle-corporativo::before {
    display: none;
  }
}
.Nosotros-section-article-tittle-corporativo::before .Parra {
  width: 84%;
}
.Nosotros-section-article-tittle-corporativo::after {
  display: table;
  content: "";
  line-height: 0;
  width: 30%;
  border-top: 1px solid #3c948b;
  margin-left: 1em;
}
@media screen and (max-width: 920px) {
  .Nosotros-section-article-tittle-corporativo::after {
    display: none;
  }
}
.Nosotros-section-article-text {
  text-align: justify;
  font-size: 17px;
}
.Nosotros-section-valores-article {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 1em 0em 2em 0em;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media screen and (max-width: 990px) {
  .Nosotros-section-valores-article {
    display: inline-block;
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  .Nosotros-section-valores-article {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    -o-box-pack: distribute;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.Nosotros-section-valores-article-container {
  text-align: center;
  max-width: 22em;
  padding: 1em;
}
@media screen and (max-width: 990px) {
  .Nosotros-section-valores-article-container {
    display: inline-table;
  }
}
.Nosotros-section-valores-article-container-tittle {
  border-bottom: 1px solid #3c948b;
  padding-bottom: 0.5em;
}
.Nosotros-section-valores-article-container-text {
  text-align: justify;
}
.Nosotros-section-valores-article-figure {
  width: 15em;
  height: 15em;
  display: inline-block;
}
.Nosotros-section-valores-article-figure-img {
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  border: 1px solid #3c948b;
}
.Nosotros-section-valores-article-cop {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 40em;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .Nosotros-section-valores-article-cop {
    width: 90%;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.Nosotros-section-valores-article-cop-ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 700px) {
  .Nosotros-section-valores-article-cop-ul {
    width: 8em;
    text-align: left;
  }
}
.Nosotros-section-valores-article-cop-ul-li {
  font-size: 17px !important;
  text-transform: capitalize;
  padding: 0.5em 0em;
}
.Forma {
  width: 250px;
  height: 192px;
  -webkit-border-radius: 0 50%/0 100%;
  border-radius: 0 50%/0 100%;
  background: #5cb85c;
  border: 3px solid #555;
}
.EncabezadoNosotros {
  width: 100%;
  max-height: 33em;
}
.Organizacion {
  color: #3c948b;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100%;
  margin: auto;
  max-width: 32em;
}
.corporativo {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100%;
  margin: auto;
  max-width: 32em;
}
.MV {
  background-color: #dadada;
}
.LM,
.PR {
  width: 100%;
  margin: 0;
}
.Titulo-coorporativo {
  max-width: 35em;
  margin: auto;
}
.Nosotros-section-valores {
  padding-bottom: 2em;
}
@media screen and (max-width: 990px) {
  .Nosotros-section-valores {
    width: 80%;
    margin: auto;
  }
  .Nosotros-section-valores .container {
    width: 20em;
  }
}
.Nosotros-tittle {
  margin: 0;
  padding-bottom: 1em;
  text-align: center;
}
.nosotros-icon {
  font-size: 14px !important;
}
