@import 'nib';
.Parra
  margin: 0 auto 45px
  width: 110%
  font-size: 17px
  text-align: justify
.glyphicon
  font-family: 'Glyphicons Halflings'!important;
.Nosotros-section
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &-article
    width: 35em;
    margin: 1em auto;
    padding: 0em 1em;
    @media screen and (max-width: 600px)
      width: 90%


    &-tittle
      color: #3c948b;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 0em;
      width: 100%;
      margin: 0;
      @media screen and (max-width: 600px)
        width: 100%
      &::before
        display: table;
        content: "";
        line-height: 0;
        width: 40%
        border-top: 1px solid #3c948b
        margin-right: .5em
        @media screen and (max-width: 400px)
          width: 32%;
      &::after
        display: table;
        content: "";
        line-height: 0;
        width: 40%
        border-top: 1px solid #3c948b
        margin-left: .5em
        @media screen and (max-width: 400px)
          width: 32%;

    &-tittle-corporativo
      color: #3c948b;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1em 0em;
      width: 100%;
      margin: auto;
      max-width: 32em;
      @media screen and (max-width: 600px)
        width: 100%
      &::before
        display: table;
        content: "";
        line-height: 0;
        width: 30%
        border-top: 1px solid #3c948b
        margin-right: 1em
        @media screen and (max-width: 920px)
          display: none
        .Parra
          width: 84%
      &::after
        display: table;
        content: "";
        line-height: 0;
        width: 30%
        border-top: 1px solid #3c948b
        margin-left: 1em
        @media screen and (max-width: 920px)
          display: none
    &-text
      text-align: justify;
      font-size: 17px
  &-valores-article
    display: flex;
    padding: 1em 0em 2em 0em;

    justify-content: space-around;
    @media screen and (max-width: 990px)
      display: inline-block;
      text-align: center;
    @media screen and (max-width: 700px)
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    &-container
      text-align: center;
      max-width: 22em;
      padding: 1em;
      @media screen and (max-width: 990px)
        display: inline-table;

      &-tittle
        border-bottom: 1px solid #3c948b
        padding-bottom: .5em
      &-text
        text-align: justify;
    &-figure
      width:15em
      height:15em
      display: inline-block;
      &-img
        width: 100%
        border-radius: 50%
        height: 100%
        border: 1px solid #3c948b
    &-cop
      display: flex;
      justify-content: space-around;
      width: 40em;
      margin: auto;

      @media screen and (max-width: 700px)
        width: 90%;
        flex-direction: column;
        align-items: center;

      &-ul
        list-style: none;
        padding-left: 0
        margin-bottom: 0
        @media screen and (max-width: 700px)
          width: 8em
          text-align: left;
        &-li
          font-size: 17px!important
          text-transform: capitalize;
          padding: .5em 0em
.Forma
  width: 250px;
  height: 192px;
  border-radius: 0 50% / 0 100%;
  background: #5cb85c;
  border: 3px solid #555;
.EncabezadoNosotros
  width: 100%;
  max-height: 33em;
.Organizacion
  color: #3c948b;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100%;
  margin: auto;
  max-width: 32em;

.corporativo
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0em;
  width: 100%;
  margin: auto;
  max-width: 32em;
.MV
  background-color: #dadada;
.LM, .PR
  width 100%
  margin 0




.Titulo-coorporativo
  max-width: 35em
  margin: auto;
.Nosotros-section-valores
  padding-bottom: 2em
  @media screen and (max-width: 990px)
    width: 80%;
    margin: auto;
    .container
      width: 20em
.Nosotros-tittle
  margin: 0
  padding-bottom: 1em
  text-align: center;

.nosotros-icon
  font-size: 14px!important
