  <encabezado2></encabezado2>
<div class="padding"></div>
<div class="">
  <figure class="PR">
    <img class="EncabezadoNosotros" src="/img/Encabezado.jpg" alt="">
  </figure>
</div>

<section class="MV">
  <h2 class="Organizacion">Organización</h2>
  <article class="Nosotros-section-valores-article">
    <div class="Nosotros-section-valores-article-container">
    <figure class="LM">
      <img class="Forma" src="/img/flecha.jpg" alt="">
    </figure>
      <h4 class="Nosotros-section-valores-article-container-tittle">
        Misión
      </h4>
    <p class="Nosotros-section-valores-article-container-text">
      Somos una empresa dedicada al desarrollo de software proporcionando
        nuevas tecnologías innovadoras de fácil uso y calidad para los usuarios, implementando soluciones
        adaptadas a sus necesidades.</p>
    </div>
    <div class="Nosotros-section-valores-article-container">
      <figure class="LM">
        <img class="Forma" src="/img/proposito.jpg" alt="">
      </figure>
      <h4 class="Nosotros-section-valores-article-container-tittle">Propósito</h4>
      <p class="Nosotros-section-valores-article-container-text">
Nuestro propósito es motivar y sensibilizar a las personas sobre el cuidado del medio ambiente, estamos 100% comprometidos en la preservación del mundo.
contactamos las mejores empresas de reciclaje del Valle del Cauca.
      </p>
    </div>


    <div class="Nosotros-section-valores-article-container">
      <figure class="LM">
        <img class="Forma" src="/img/vision.jpg" alt="">
      </figure>
      <h4 class="Nosotros-section-valores-article-container-tittle">Visión</h4>
      <p class="Nosotros-section-valores-article-container-text">
        Pretendemos para el 2023 consolidarnos como una de las mejores empresas a nivel
        del Valle del Cauca entorno al cumplimiento y satisfacción de los clientes de acuerdo
        al desarrollo de las nuevas tecnologías de software. </p>
    </div>


</section>
<h2 class="corporativo">Valores Corporativos</h2>
<section class="Nosotros-section-valores">
  <article class="Nosotros-section-valores-article">
    <div class="Nosotros-section-valores-article-container">
    <figure class="Nosotros-section-valores-article-figure">
      <img class="Nosotros-section-valores-article-figure-img" src="/img/solidaridad2.jpg" alt="">
    </figure>
      <h4 class="Nosotros-section-valores-article-container-tittle">
        Amabilidad
      </h4>
    <p class="Nosotros-section-valores-article-container-text">
      Tratar a las personas con cortesía, amabilidad y bondad para animar a los compañeros de trabajo a expresar sus opiniones e ideas especialmente saludar con cordialidad y tener un trato amable con el cliente resolviendo las preguntas o inquietudes para así brindarle la mejor atención.
    </div>

    <div class="Nosotros-section-valores-article-container">
      <figure class="Nosotros-section-valores-article-figure">
        <img class="Nosotros-section-valores-article-figure-img" src="/img/disciplina.jpg" alt="">
      </figure>
      <h4 class="Nosotros-section-valores-article-container-tittle">Disciplina</h4>
      <p class="Nosotros-section-valores-article-container-text">
        Ser puntual  en los compromisos asumidos con el equipo de trabajo y las actividades laborales, crecer a pesar de los obstáculos que se presentE tomando en cuenta la opinión del usuario, la disciplina es un valor que implementamos ya que somos muy puntuales y ordenados.
      </p>
    </div>
    <div class="Nosotros-section-valores-article-container">
      <figure class="Nosotros-section-valores-article-figure">
        <img class="Nosotros-section-valores-article-figure-img" src="/img/respeto.jpg" alt="">
      </figure>
      <h4 class="Nosotros-section-valores-article-container-tittle">Respeto</h4>
      <p class="Nosotros-section-valores-article-container-text">
        Ser educado y respetuoso con cada uno de los compañeros de trabajo para tener una armonía en la empresa; es importante tener una buena actitud hacia los clientes para la satisfacción de ellos y de la empresa.
      </p>
    </div>

    <div class="Nosotros-section-valores-article-container">
      <figure class="Nosotros-section-valores-article-figure">
        <img class="Nosotros-section-valores-article-figure-img" src="/img/tolerancia.jpg" alt="">
      </figure>
      <h4 class="Nosotros-section-valores-article-container-tittle">Tolerancia</h4>
      <p class="Nosotros-section-valores-article-container-text">
        Procurar tener una comunicación asertiva entorno al equipo de trabajo y mantener una buena convivencia laboral, si se presenta algún problema tener paciencia con los clientes a la hora de presentarse una situación frente al servicio prestado.   </p>
      </div>

</section>
