@font-face {
  font-family: MyriadWebPro;
  src: url("/fonts/MyriadWebPro.ttf");
}
.Footer {
  width: 100%;
  padding: 15px 0 0 0;
  background: #202121;
  border-bottom: 1px solid #333;
  overflow: hidden;
  margin: 0 auto;
  margin-top: auto;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  font: 150% sans-serif;
  text-align: center;
}
.caja {
  border: 1px solid #d2d6d5;
  border-color: #333;
  margin: 0.5em;
  padding: 1em;
  color: #444;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 12px;
  height: 260px;
  vertical-align: top;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  transition: 1s ease-out;
}
.caja:hover {
  border: 1px solid #3c948b;
}
.Footer-image {
  width: 17em;
  height: 13em;
}
.Footer-image:hover {
  color: rgba(0,0,0,0.8);
}
.texto {
  padding-bottom: 3em;
  border-bottom: 1px solid #333;
  padding-top: 4em;
  text-align: center;
  font-size: 14px;
}
.titulo {
  width: 11em;
  padding: 1em 0em 0.8em 0em;
  line-height: 1.1em;
  text-align: left;
  margin: 0 !important;
  color: #808080 !important;
  text-decoration: none !important;
  font-size: 17px;
}
.tex {
  color: #3c948b;
  display: inline-block;
  margin-bottom: 20px;
}
.Link-Read1 {
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -ms-flex-item-align: end;
  color: #3c948b;
  float: right;
  margin-top: auto;
}
.Footer2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 15px 15px 10px 0;
  border-top: 1px solid #333;
}
.tex2 {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  font-size: 1em;
  padding-right: 0 1em;
  color: #444;
}
.item {
  text-transform: uppercase;
  font-size: 21px;
  padding: 1em 0 0;
  margin: auto;
}
.fa-facebook-square:before {
  font-size: 1.3em;
  padding: 0.2em;
}
.fa-twitter-square:before {
  font-size: 1.3em;
  padding: 0.2em;
}
.fa-instagram:before {
  font-size: 1.3em;
  padding: 0.2em;
}
.fa-youtube-square:before {
  font-size: 1.3em;
  padding: 0.2em;
}
.item .fa {
  font-size: 1.5em !important;
  color: #555;
}
.item-link-footer,
.titleContact {
  text-decoration: none;
  color: #555;
  font-size: 1.3em;
  text-transform: uppercase;
}
.item-link-footer:hover {
  color: #848484;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
.List-Footer {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  list-style: none;
}
@media screen and (max-width: 400px) {
  .Footer-formContainer {
    max-width: 100%;
    display: inline-block;
    text-align: center;
  }
  .Footer-contacto {
    width: 95%;
  }
  .Footer-left {
    margin: 0;
    display: inline-block;
    max-width: 90%;
    padding: 0;
    float: none;
  }
  .Footer-description {
    padding: 1em 0em;
    max-width: 100%;
    float: none;
    margin: 0em;
  }
  .Footer-form {
    display: inline-block;
    width: 75%;
    float: none;
  }
  .Footer-formInput {
    width: 100%;
  }
  .Footer2 {
    display: block;
  }
  .Footer-textArea {
    width: 100%;
  }
}
@media screen and (max-width: 920px) {
  .List-Footer {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .Footer2 {
    display: block;
  }
  .item {
    padding: 0.5em;
  }
  .footer {
    width: 92%;
  }
}
