<footer class="Footer">

  <div class="caja">
      <img class="Footer-image" src="/img/a2.jpg" />
      <h2 class="titulo"><a class="titulo" href="#/ayuda">Preguntas Frecuentes</a></h2>
      <a class="Link-Read1" href="#/ayuda">Leer más...</a>
  </div>
  <div class="caja">
      <img class="Footer-image" src="/img/manual.png" />
      <h2 class="titulo"><a class="titulo" target="_blank" href="/pdf/Manual_de_usuario.pdf">Manual</a></h2>
      <a class="Link-Read1" target="_blank" href="/pdf/Manual_de_usuario.pdf">Leer más...</a>
  </div>
  <div class="caja">
      <a jsf:outcome="portafolio" class="Portafolio">
          <img class="Footer-image" src="/img/a4.jpg" />
          <h2 class="titulo"><a class="titulo" href="#/portafolio">Portafolio</a></h2>
          <a class="Link-Read1" href="#/portafolio">Oficial</a>
      </a>
  </div>
    <div class="Footer2">
        <ul class="List-Footer">

            <li class="item">
                <a href="https://www.facebook.com/profile.php?id=100011439450927">
                  <i class="fa fa-facebook-square" aria-hidden="true"></a></i>
                <a href="https://twitter.com/Ecosirec">
                  <i class="fa fa-twitter-square" aria-hidden="true"></a></i>
                <a href="https://www.instagram.com/ecosirec/">
                  <i class="fa fa-instagram" aria-hidden="true"></a></i>
                <a href="https://www.youtube.com/watch?v=oXtZOr9cFH0">
                  <i class="fa fa-youtube-square" aria-hidden="true"></a></i>
                  </li>
        </ul>
    </div>
</footer>
