<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-pedidos prueba">
    <form name="projectForm" ng-submit="projectForm.$valid && vm.create()" novalidate>
        <article class="Section-anuncios-result">
            <h3 class="Section-anuncios-result-tittle">CREAR PEDIDO</h3>
            <div class="Section-anuncios-result-label">
                <article class="Article-regisA">
                    <md-input-container flex class="Input-container input-pedido">
                        <label class="LabelA">Paquete</label>
                        <input type="text" name="precio" ng-model="vm.paquete.nombre" readonly>
                    </md-input-container>
                    <md-input-container flex class="Input-container">
                        <label class="LabelA">Duracion(Meses)</label>
                        <input type="number" name="duracion" ng-model="vm.paquete.duracionMeses" readonly>
                    </md-input-container>
                </article>
                <md-input-container flex class="Input-container">
                    <label class="LabelA">Cantidad del paquete que desea solicitar</label>
                    <input type="number" name="cantidad" ng-model="vm.detalle.cantidad" ng-change="vm.datefin()" ng-required="true" ng-pattern="/^[1-5]*$/">
                    <div ng-messages="projectForm.cantidad.$error" ng-if="projectForm.$dirty" role="alert">
                        <!-- <div ng-message="required">Campo requerido</div>
                        <div ng-message="pattern">Utilice solo números entre 1 y 5</div> -->
                        <div ng-message-exp="['required', 'pattern']">Campo requerido, utilice solo números entre 1 y 5</div>
                    </div>
                </md-input-container>
                <md-input-container flex class="Input-container" ng-if="vm.detalle.cantidad">
                    <label class="LabelA">Fecha Fin</label>
                    <input type="text" name="fechaFin" value="{{vm.detalle.fechaFin | date : 'fullDate'}}" readonly>
                </md-input-container>
                <md-input-container flex class="Input-container">
                    <label class="LabelA">Precio</label>
                    <input type="text" name="precio" ng-model="vm.detalle.precio" readonly>
                </md-input-container>
                <md-input-container flex class="Input-container" ng-if="vm.detalle.cantidad">
                    <label class="LabelA">Total</label>
                    <input type="text" name="total" value="{{vm.resultado}}" readonly>
                </md-input-container>
            </form>

            <section layout="row" layout-align="center center" layout-wrap>
                <md-button type="submit" ng-disabled="vm.detalle.cantidad == null || vm.detalle.cantidad > 5 || vm.detalle.cantidad < 1" class="md-raised md-primary Btn-guardarA">Enviar</md-button>
                <md-button ng-href="#/portafolio" class="md-raised md-warn Btn-cancelarA">Cancelar</md-button>
            </section>
        </div>
    </article>
</section>
