<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-list-anuncios">
    <div class="color-A">
        <div class="container pedidos prueba">
            <h2 class="Tittle-users color-Title">Lista de Pedidos</h2>
            <div class="Container-search-regis table-bordered">
                <div class="Container-search-regis-flex">
                    <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
                        <button class="Button-search glyphicon glyphicon-search"></button>
                    </input>
                </div>
            </div>
            <form ng-controller="LoginCtrl as loginCtrl">
                <table class="table-bordered table-hover color-t Table-container-pedidos">
                    <thead>
                        <div class="col-md-3">
                            <tr class="color-campo">
                                <th class="Table-container-pedidos-elements Encabezados">Nombre del usuario</th>
                                <th class="Table-container-pedidos-elements Encabezados">Paquete</th>
                                <th class="Table-container-pedidos-elements Encabezados">Fecha inicio</th>
                                <th class="Table-container-pedidos-elements Encabezados">Fecha Final</th>
                                <th class="Table-container-pedidos-elements Encabezados">Cantidad</th>
                                <th class="Table-container-pedidos-elements Encabezados">Precio</th>
                                <th class="Table-container-pedidos-elements Encabezados">Total</th>
                                <th class="Table-container-pedidos-elements Encabezados">Estado</th>

                            </tr>
                        </div>
                    </thead>
                    <tbody class="Color-resultados" ng-if="loginCtrl.isAdmin()">
                        <!-- <tr ng-if="loginCtrl.isEmp()" ng-repeat="det in vm.detallePedidos | toArray:false | filter:vm.busqueda | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit ">
                            <td class="Table-container-pedidos-elements">{{det.pedidos.idUsuario.nombre}}</td>
                            <td class="Table-container-pedidos-elements">{{det.servicios.nombre}}</td>
                            <td class="Table-container-pedidos-elements">{{det.fechaInicio | date: 'dd/MM/yyyy'}}</td>
                            <td class="Table-container-pedidos-elements">{{det.fechaFin | date: 'dd/MM/yyyy'}}</td>
                            <td class="Table-container-pedidos-elements">{{det.cantidad}}
                            </td>
                            <td class="Table-container-pedidos-elements">{{det.precio}}</td>
                            <td class="Table-container-pedidos-elements">{{det.precio*det.cantidad}}</td>
                            <td class="Table-container-pedidos-elements">{{det.pedidos.idEstado.descripcion}}</td> -->
                            <!--<td class="Table-container-pedidos-elements">
                        <md-switch ng-model="det.pedidos.estado" aria-label="Switch No Ink" ng-change="vm.inhabilitar(det.pedidos)" class="md-primary">
                        </md-switch>
                    </td>-->
                        <!-- </tr> -->
                        <tr ng-repeat="det in vm.detallePedidoslist | toArray:false | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit | filter:vm.busqueda">
                            <td class="Table-container-pedidos-elements">{{det.pedidos.idUsuario.nombre}}</td>
                            <td class="Table-container-pedidos-elements">{{det.servicios.nombre}}</td>
                            <td class="Table-container-pedidos-elements">{{det.fechaInicio | date: 'dd/MM/yyyy'}}</td>
                            <td class="Table-container-pedidos-elements">{{det.fechaFin | date: 'dd/MM/yyyy'}}</td>
                            <td class="Table-container-pedidos-elements">{{det.cantidad}}</td>
                            <td class="Table-container-pedidos-elements">{{det.precio}}</td>
                            <td class="Table-container-pedidos-elements">{{det.precio*det.cantidad}}</td>
                            <td class="Table-container-pedidos-elements">
                                <!-- <md-input-container class="md-block">
                                <label class="Label"></label> -->
                                <md-select ng-model="det.pedidos.idEstado.idEstado" ng-change="vm.inhabilitar(det.pedidos)">
                                    <md-option value="1">Pago</md-option>
                                    <md-option value="2">En transaccion</md-option>
                                    <md-option value="3">Pendiente por pagar</md-option>
                                    <md-option value="4">Inactivo</md-option>
                                    <!-- <md-option ng-repeat="estado in vm.estados" value="{{estado}}">{{estado.descripcion}}</md-option> -->
                                </md-select>
                                <!-- </md-input-container> -->
                            </td>
                                <!--<td class="Table-container-pedidos-elements">
                        <md-switch ng-model="det.pedidos.estado" aria-label="Switch No Ink" ng-change="vm.inhabilitar(det.pedidos)" class="md-primary">
                        </md-switch>
                    </td>-->
                            </tr>
                        </tbody>
                    </table>
                    <md-table-pagination class="Pagination" md-limit="vm.query.limit" md-limit-options="[5,10,15,20]" md-page="vm.query.page" md-total="{{vm.detallePedidoslist.length}}"></md-table-pagination>

                    <!-- <button type="button" ng-if="loginCtrl.isEmp()" class="btn btn-success Section-reciclar-container-articles-buttons btn-comprar btn-comprar-crear ">
                        <a class="btn-comprar-actualizar-a" ng-href="#/portafolio">Crear Pedido</a>
                    </button> -->
                </form>
            </div>
        </div>
    </section>
