.input-pedido {
  margin: 18px 24px 0px 0px !important;
  display: inline-block !important;
  position: relative !important;
  padding: 2px !important;
  vertical-align: middle !important;
}
.Section-pedidos {
  width: 36em;
  margin: 9em auto 3em auto;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .Section-pedidos {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .Section-pedidos {
    width: 91%;
  }
  .Section-anuncios-result-label {
    padding: 0em;
  }
}
.fecha-pedido {
  margin-left: 0px !important;
}
.PickerB {
  margin: 12px 0px 40px -17px !important;
}
.img-pedido {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 3.5em;
  margin-left: 1em;
}
.md-primary {
  margin-left: 2em;
  margin-right: 0;
}
md-switch:last-of-type {
  margin-left: 2em;
  margin-right: 0;
}
.Table-container-pedidos-elements:first-letter {
  text-transform: uppercase;
}
.Table-container-pedidos {
  width: 100%;
}
.Table-container-pedidos-elements {
  padding: 0.7em 1em;
  text-align: left;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  table.Table-container-pedidos,
  .Table-container-pedidos thead,
  .Table-container-pedidos tbody,
  .Table-container-pedidos th,
  .Table-container-pedidos td,
  .Table-container-pedidos tr {
    display: block;
  }
  .Table-container-pedidos thead tr {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-pedidos tr {
    margin-bottom: 2em;
    border: 2px solid #3c948b !important;
  }
  .Table-container-pedidos td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  .Table-container-pedidos td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0em 1em;
    background-color: #3c948b;
  }
  .Table-container-pedidos td:nth-of-type(1):before {
    content: "Nombre del usuario";
  }
  .Table-container-pedidos td:nth-of-type(2):before {
    content: "Paquete";
  }
  .Table-container-pedidos td:nth-of-type(3):before {
    content: "Fecha inicio";
  }
  .Table-container-pedidos td:nth-of-type(4):before {
    content: "Fecha Final";
  }
  .Table-container-pedidos td:nth-of-type(5):before {
    content: "Cantidad";
  }
  .Table-container-pedidos td:nth-of-type(6):before {
    content: "Precio";
  }
  .Table-container-pedidos td:nth-of-type(7):before {
    content: "Total";
  }
  .Table-container-pedidos td:nth-of-type(8):before {
    content: "Estado";
  }
  .descarto {
    display: none;
  }
}
.pedidos {
  margin-top: 7em !important;
  margin-bottom: 3em;
}
@media (min-width: 1200px) {
  .pedidos {
    width: 900px !important;
  }
}
