@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?eae6f3");
  src: url("/fonts/icomoon.eot?#iefixeae6f3") format('embedded-opentype'), url("/fonts/icomoon.ttf?eae6f3") format('truetype'), url("/fonts/icomoon.woff?eae6f3") format('woff'), url("/fonts/icomoon.svg?eae6f3#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: MyriadWebPro;
  src: url("/fonts/MyriadWebPro.ttf");
}
/*
.Fuente
  font-family: MyriadWebPro!important;
*/
.icon-recycle:after {
  content: "\e60a";
  font-size: 1em;
  color: #000;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  padding-left: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: MyriadWebPro !important;
}
body {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 100vh;
}
.section {
  margin-top: -6.5em;
}
.SectionGlobal {
  background: #e3e2e2;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.Recicle {
  margin: 0;
  padding-bottom: 1rem;
}
.Responsive-inicio {
  display: none;
}
@media screen and (max-width: 550px) {
  .Responsive-inicio {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/img/slider1.jpg");
  }
}
.Slider-container-text-responsive {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 95%;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .prueba {
    min-height: 67vh;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .prueba > form {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1400px) {
  .prueba {
    min-height: 80vh;
  }
}
.padding {
  margin-top: 6.2em;
}
@media screen and (max-width: 920px) {
  .padding {
    margin-top: 4em;
  }
}
.Work-description2 {
  color: #202121;
  text-transform: capitalize;
  color: #555;
  font-size: 20px;
}
.contex {
  color: #555;
  padding: 0;
  font-family: MyriadWebPro !important;
}
/*NUEVO SLIDER*/
.contenedor-slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.slider {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  width: 300%; /*Cambiar el ancho de acuerdo a la cantidad de imágenes, por ejm 10 imagenes = 1000%*/
}
.slider__section {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__contenido {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slider__contenido__titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 58px;
}
.slider__contenido__texto {
  color: #fff;
  font-size: 22px;
}
.slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-prev,
.btn-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  cursor: pointer;
  z-index: 200;
}
.fa-angle-left,
.fa-angle-right {
  font-size: 50px !important;
  color: #fff;
}
.arriba {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  margin: auto;
  height: 50px;
  width: 50px;
}
.arriba > .fa {
  font-size: 50px !important;
}
.arriba:focus {
  color: #fff;
  border: none !important;
}
.arriba:active {
  color: #fff;
  border: none !important;
}
.arriba:hover {
  color: rgba(255,255,255,0.8);
}
.abajo {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  z-index: 100;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.abajo > .fa {
  font-size: 50px !important;
}
.abajo:focus {
  color: #fff;
  border: none !important;
}
.abajo:active {
  color: #fff;
  border: none !important;
}
.abajo:hover {
  color: rgba(255,255,255,0.8);
}
.btn-prev {
  left: 10px;
}
.btn-next {
  right: 10px;
}
/** FIN SLIDER*/
/*NUEVO SLIDER 2*/
.contenedor-slider2 {
  width: 100%;
  height: 194px;
  overflow: hidden;
  position: relative;
}
.slider2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 100%;
  width: 300%; /*Cambiar el ancho de acuerdo a la cantidad de imágenes, por ejm 10 imagenes = 1000%*/
}
.bannerTitle {
  text-align: center;
  color: #3c948b;
  margin: 0;
}
.slider2__section {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider2__contenido {
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slider2__contenido__titulo {
  color: #fff;
  text-transform: uppercase;
  font-size: 58px;
}
.slider2__contenido__texto {
  color: #fff;
  font-size: 22px;
}
.slider2__img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-prev1,
.btn-next1 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,0.7);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
  z-index: 200;
}
.btn-prev1:hover,
.btn-next1:hover {
  background: #fff;
}
.btn-prev1 {
  left: 10px;
}
.btn-next1 {
  right: 10px;
}
.Slider {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: auto;
  position: relative;
  -webkit-box-shadow: 0px 8px 8px -2px #808080;
  box-shadow: 0px 8px 8px -2px #808080;
}
@media screen and (max-width: 550px) {
  .Slider {
    display: none;
  }
}
.Slider > ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0;
  width: 300%;
  -webkit-animation: cambio 20s infinite alternate ease-in;
  -moz-animation: cambio 20s infinite alternate ease-in;
  -o-animation: cambio 20s infinite alternate ease-in;
  -ms-animation: cambio 20s infinite alternate ease-in;
  animation: cambio 20s infinite alternate ease-in;
}
.Slider > ul > li {
  width: 100%;
  height: 600px;
  list-style: none;
}
@media screen and (max-width: 1350px) {
  .Slider > ul > li {
    height: 400px;
  }
}
@media screen and (max-width: 750px) {
  .Slider > ul > li {
    height: 300px;
  }
}
.Slider > ul > li > img {
  width: 100%;
  height: 100%;
}
.Slider-container {
  position: relative;
}
.Slider-container-text {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.Slider-container-text-div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 95%;
  height: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.Slider-container-text-p {
  font-size: 100px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}
.Slider-container-text-p2 {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.Slider-container-text-p2:first-letter {
  text-transform: uppercase;
  color: #fff;
}
.ver {
  color: #fff !important;
}
.aqui {
  color: #000 !important;
  background-color: #fff !important;
  border-color: #f9f9f9;
  padding: 0.4em;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.PiePagina {
  margin-top: auto;
}
.Descripcion {
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 30em;
  -webkit-box-shadow: 0px 14px 17px -6px #616161;
  box-shadow: 0px 14px 17px -6px #616161;
  background-image: url("/img/imagen.jpg");
}
.Text1 {
  margin: 0;
  padding: 0 0 1em 0;
}
.Text-description1 {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 0.5em;
}
.divDescription {
  width: 32em;
  background-color: rgba(0,0,0,0.55);
  -webkit-box-shadow: 0 0 8px 3px #000, 0 0 11px 4px #3c948b;
  box-shadow: 0 0 8px 3px #000, 0 0 11px 4px #3c948b;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0em 1em;
}
.Header-tittle1 {
  border-bottom: 1px;
  color: #f1f1f1;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  text-shadow: 0px 0px 2px #fff;
}
.Header-caja {
  display: inline-block;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  max-width: 25em;
}
.Header-description {
  color: #f1f1f1;
  display: inline-block;
  text-align: justify;
  font-size: 19px;
  padding: 0.1em;
}
.Seccion2-item {
  display: inline-block;
  margin-bottom: 1.8em;
}
.Secc2 {
  text-align: center;
  background-color: #e0dede;
  min-height: 30em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Work-seccion2 {
  color: #555;
  text-align: center;
  margin: 0;
  padding: 1em 0em;
}
/*.Secc-transpatent
  padding: 1.5em*/
.Work-imageContainer2 {
  margin: 0;
  display: block;
  text-align: center;
  padding: 0em 1em;
  display: inline-block;
  width: 19em;
  height: 16em;
}
.Seccion-image {
  width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 100%;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.Seccion-image:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  -ms-transition-duration: 1s;
  transition-duration: 1s;
}
.Seccion2-item {
  max-height: 20%;
}
.Work-image1 {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 12em;
  height: 12em;
  -webkit-box-shadow: 0px 1px 6px 2px #000, 0 0 0 4px #fff;
  box-shadow: 0px 1px 6px 2px #000, 0 0 0 4px #fff;
  margin-top: 1em;
}
.SectionDescription1 {
  padding-top: 1em;
  display: inline-block;
  color: #000080;
  padding: 2em 0em 0em 4em;
  color: #080808;
  text-align: center;
  max-width: 30em;
  font-size: 1.2em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Text1 {
  margin: 0;
  padding: 0 0 1em 0;
}
.Text-description1 {
  margin: 0;
  padding: 0;
  text-align: left;
  padding-bottom: 0.5em;
}
.Profile-link {
  color: #9ad6b0;
  font-weight: bold;
}
.Work-description1 {
  color: #fff;
}
.banner {
  width: 100%;
  height: 226px;
  margin: auto;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-animation: banner 10s infinite;
  -moz-animation: banner 10s infinite;
  -o-animation: banner 10s infinite;
  -ms-animation: banner 10s infinite;
  animation: banner 10s infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
  background-position: center;
}
@-moz-keyframes banner {
  0%, 30% {
    background-image: url("/img/banner1.jpg");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  31%, 34% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  35%, 65% {
    background-image: url("/img/banner2.png");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  66%, 69% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  70%, 100% {
    background-image: url("/img/banner3.png");
  }
}
@-webkit-keyframes banner {
  0%, 30% {
    background-image: url("/img/banner1.jpg");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  31%, 34% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  35%, 65% {
    background-image: url("/img/banner2.png");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  66%, 69% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  70%, 100% {
    background-image: url("/img/banner3.png");
  }
}
@-o-keyframes banner {
  0%, 30% {
    background-image: url("/img/banner1.jpg");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  31%, 34% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  35%, 65% {
    background-image: url("/img/banner2.png");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  66%, 69% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  70%, 100% {
    background-image: url("/img/banner3.png");
  }
}
@keyframes banner {
  0%, 30% {
    background-image: url("/img/banner1.jpg");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  31%, 34% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  35%, 65% {
    background-image: url("/img/banner2.png");
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  66%, 69% {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
  }
  70%, 100% {
    background-image: url("/img/banner3.png");
  }
}
/*********************
STYLUS PROFILE 1 INFORMCION!!
**********************/
.Section-reciclar {
  border-bottom: 1px;
  border-top: 1px dashed rgba(0,0,0,0);
  text-align: center;
  padding: 3em 0em 4em 0em;
}
.Section-reciclar-container {
  max-width: 100em;
  margin: auto;
  min-height: 30em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 1em;
}
.Section-reciclar-container-articles {
  width: 33.33%;
  min-height: 33em;
  border: 1px solid #3c948b;
  padding: 1em;
  margin: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
}
.Section-reciclar-container-articles-figure {
  width: 100%;
  height: 12em;
  position: relative;
}
.Section-reciclar-container-articles-figure:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-radial-gradient(rgba(255,255,255,0.3) 9%, transparent 15%);
  background-image: -moz-radial-gradient(rgba(255,255,255,0.3) 9%, transparent 15%);
  background-image: -o-radial-gradient(rgba(255,255,255,0.3) 9%, transparent 15%);
  background-image: -ms-radial-gradient(rgba(255,255,255,0.3) 9%, transparent 15%);
  background-image: radial-gradient(rgba(255,255,255,0.3) 9%, transparent 15%);
  -webkit-background-size: 7px 7px;
  -moz-background-size: 7px 7px;
  background-size: 7px 7px;
}
.Section-reciclar-container-articles-figure-img {
  width: 100%;
  height: 100%;
}
.Section-reciclar-container-articles-text {
  text-align: justify;
}
.Section-reciclar-container-articles-buttons {
  width: 6em;
  background-color: #3c948b !important;
  border-color: #f9f9f9;
  color: #fff;
  margin-top: auto;
}
.Section-reciclar-container-articles-buttons:hover {
  background-color: rgba(60,148,139,0.9) !important;
  color: #fff;
  border-color: #f9f9f9;
}
.Section-reciclar-container-articles-buttons:focus {
  border: 1px solid #f9f9f9 !important;
}
/*
@media screen and (max-width:1339px)
  .Work-imageContainer2
    width: 18em

@media screen and (max-width:1354px)
  .Work-imageContainer2
    width: 18.7em

@media screen and (max-width:1307px)
  .Work-imageContainer2
    width: 16.7em

@media screen and (max-width:1142px)
  .Work-imageContainer2
    width: 20em
*/
/** publicidad**/
h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
  color: #555;
}
p {
  color: #555;
}
.Container-publicidad {
  width: 100%;
  height: 114px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Container-publicidad-figure {
  width: 52.2%;
  height: 100px;
  background-image: url("/img/banner1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}
.Container-publicidad-figure:after {
  content: "";
  background: #202121;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  display: table;
  width: 23.76%;
  height: 107px;
  position: absolute;
  right: 0;
  top: 4px;
}
.Container-publicidad-figure:before {
  content: "";
  background: #202121;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  display: table;
  width: 23.8%;
  height: 107px;
  position: absolute;
  left: 0;
  top: 4px;
}
.Publicidad {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background: #f7f7f7;
  min-height: 30em;
}
.Publicidad-tittle {
  margin: 0 auto;
  padding: 1.1em 0em 1em 0em;
}
.Container-publicidad-images {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Container-publicidad-images >figure >img {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: 1.2s;
  -moz-transition: 1.2s;
  -o-transition: 1.2s;
  -ms-transition: 1.2s;
  transition: 1.2s;
}
.Container-publicidad-images >figure >img:hover {
  cursor: pointer;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
@media screen and (max-width: 940px) {
  .Section-reciclar-container {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -o-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .Section-reciclar-container-articles {
    width: 60%;
    margin: 1em auto;
  }
}
@media screen and (max-width: 700px) {
  .Section-reciclar-container-articles {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .Section-reciclar-container-articles {
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .divDescription {
    width: 90%;
    text-align: center;
  }
  .Header-description {
    width: 90%;
  }
  .Slider-container-text-p {
    font-size: 60px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .Slider-container-text-div {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .divDescription {
    max-width: 91%;
    height: auto;
  }
  .Header-transparent {
    text-align: center;
  }
  .Descripcion {
    margin: 0;
    display: inline-block;
    text-align: center;
    min-height: 25em;
  }
  .Header-description {
    width: 100%;
  }
  .Work-image1 {
    width: 81%;
    height: 11em;
  }
  .SectionDescription1 {
    height: 90%;
    padding: 1em 2em;
  }
  .Profile1 {
    height: auto;
    width: auto;
    display: inline-block;
  }
  .Profile-title1 {
    padding: 1em 0em;
  }
  .Text-description1 {
    float: left;
  }
  .Text-description2 {
    display: block;
  }
  .Text-description3 {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .Header-caja {
    max-width: 22em;
  }
  .Profile-Image1 {
    display: block;
  }
  .SectionDescription1 {
    padding: 2em 0em 3em 0em;
  }
  .Secc-transpatent {
    padding: 0;
  }
  .Work-seccion2 {
    padding: 1.5em;
  }
  .Seccion2-item {
    max-height: 20%;
  }
  .Work-imageContainer2 {
    margin: 0;
    display: block;
    text-align: center;
    padding: 0em 1em;
    display: inline-block;
    width: 16em;
  }
  .Seccion-image {
    width: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 100%;
    border: 1px solid #3c948b;
  }
  .Work-description2 {
    text-align: center;
  }
}
@media screen and (min-width: 1274px) {
  .Seccion2-item {
    width: 350px;
  }
}
@media screen and (max-width: 1287px) {
  .Seccion2-item {
    width: 350px;
  }
}
@media screen and (max-width: 940px) {
  #btn-menu:checked ~ .MainMenu {
    margin-top: 6.7rem;
    margin-left: -1px;
  }
}
