<encabezado id="Pruebita"></encabezado>

  <section class="Fuente">

  <section class="Slider">


    <div id="contenedor-slider" class="contenedor-slider">
     <div id="slider" class="slider">
       <section class="slider__section">
         <div class="slider__contenido">
           <div class="Slider-container-text-div">
             <p class="Slider-container-text-p">e</p>
             <p class="Slider-container-text-p">c</p>
             <p class="Slider-container-text-p">o</p>
             <p class="Slider-container-text-p">s</p>
             <p class="Slider-container-text-p">i</p>
             <p class="Slider-container-text-p">r</p>
             <p class="Slider-container-text-p">e</p>
             <p class="Slider-container-text-p">c</p>
           </div>
         </div>
         <img src="/img/slider1.jpg" class="slider__img">
       </section>
         <section class="slider__section">
         <div class="slider__contenido">
           <p class="slider__contenido__titulo">Empresas De Reciclaje</p>
           <p class="slider__contenido__texto">Convence a tu familia y amigos que lleven los residuos a una empresa de reciclaje que encontraras</p>
           <button type="button" class="aqui">
            <a class="aqui" href="#/usuarios/create">AQUÍ</a></button>
         </div>
         <img src="/img/slider2.jpg" class="slider__img">
       </section>
       <section class="slider__section">
         <div class="slider__contenido">
           <p class="slider__contenido__titulo">Reciclar</p>
           <p class="slider__contenido__texto">Ayuda a disminuir la contaminación del aire y del agua</p>
         </div>
         <img src="/img/slider3.jpg" class="slider__img">
       </section>
     </div>
      <!-- <div id="btn-prev" class="btn-prev">&#60;</div>
      <div id="btn-next" class="btn-next">&#62;</div> -->
      <div id="btn-prev" class="btn-prev fa fa-angle-left"></div>
      <div id="btn-next" class="btn-next fa fa-angle-right"></div>
      <a href="#abajo" class="abajo"><i class="fa fa-angle-down"></i></a>
     </div>


  <!-- <div class="Slider">
    <!-- <div class="divDescription">

    <p class="Header-caja Header-description">Básicamente el RECICLAJE consiste en usar los materiales una y otra vez para hacer nuevos productos reduciendo en forma significativa, la utilización de nuevas materias primas.</p>

    </div> -->
    <!--ul>
      <li class="Slider-container"><img src="/img/slider1.jpg" alt="">
        <div class="Slider-container-text">
          <div class="Slider-container-text-div">
            <p class="Slider-container-text-p">e</p>
            <p class="Slider-container-text-p">c</p>
            <p class="Slider-container-text-p">o</p>
            <p class="Slider-container-text-p">s</p>
            <p class="Slider-container-text-p">i</p>
            <p class="Slider-container-text-p">r</p>
            <p class="Slider-container-text-p">e</p>
            <p class="Slider-container-text-p">c</p>
          </div>
          <p class="Slider-container-text-p2">comprometidos con el medio ambiente</p>
        </div>
      </li>
      <li><img src="/img/slider2.jpg" alt=""></li>
      <li><img src="/img/slider3.jpg" alt=""></li>
      <!-- <li><img src="/img/04.jpg" alt=""></li>
      <li><img src="/img/05.jpg" alt=""></li> -->
    <!--/ul>
  </div> -->
  </section>
  <section class="Responsive-inicio">
    <div class="Slider-container-text-responsive">
      <p class="Slider-container-text-p">e</p>
      <p class="Slider-container-text-p">c</p>
      <p class="Slider-container-text-p">o</p>
      <p class="Slider-container-text-p">s</p>
      <p class="Slider-container-text-p">i</p>
      <p class="Slider-container-text-p">r</p>
      <p class="Slider-container-text-p">e</p>
      <p class="Slider-container-text-p">c</p>
    </div>
  </section>
<section class="Section-reciclar">
  <h2  class="Recicle">¿Cómo Reciclar Correctamente?</h2>

  <article class="Section-reciclar-container">

        <article class="Section-reciclar-container-articles">
          <figure  class="Section-reciclar-container-articles-figure">
            <img class ="Section-reciclar-container-articles-figure-img" src="/img/imagen_inicio1.jpg" alt="" />
          </figure>
          <h3>Reutilizar</h3>
          <p class="Section-reciclar-container-articles-text">
            Significa alargar la vida de cada producto desde cuando se compra hasta cuando se tira. La mayoría de los bienes pueden tener más de una vida útil, sea reparándolos o utilizando la imaginación para darles otro uso. Reutilizar también incluye la compra de productos de segunda mano, a la vez implica una reducción de consumo de productos nuevos, porque en vez de comprar algo nuevo lo compras de segunda y ahorramos gastos.</p>
          <button type="button" class="btn btn-success Section-reciclar-container-articles-buttons "><a class="ver" href="#/papelera">ver más</a></button>
        </article>

        <article class="Section-reciclar-container-articles">
          <figure  class="Section-reciclar-container-articles-figure">
            <img class ="Section-reciclar-container-articles-figure-img" src="/img/imagen_inicio2.jpg" alt="" />
          </figure>
            <h3>Reciclar</h3>
            <p class="Section-reciclar-container-articles-text">
              El reciclaje es un proceso que empieza con la separación de los residuos sólidos que posteriormente serán recolectados, clasificados, preparados y enviados a la industria para ser conformados nuevamente materia prima, además de cerrar el ciclo de vida de los productos, la recuperación de materia posteriormente a su consumo ayuda a disminuir el volumen de residuos vertidos en rellenos sanitarios.</p>
            <button type="button" class="btn btn-success Section-reciclar-container-articles-buttons "><a class="ver" href="#/papelera">ver más</a></button>

        </article>

        <article class="Section-reciclar-container-articles">
          <figure class="Section-reciclar-container-articles-figure">
            <img class="Section-reciclar-container-articles-figure-img" src="/img/imagen_inicio3.jpg" alt="" />
          </figure>
          <h3>Reduccir</h3>
          <p class="Section-reciclar-container-articles-text">
           Es lo primero que tenemos que tratar de hacer porque es la mejor forma de prevenir que se genere la basura, Utilizando los productos de  manera correcta. ¿Cómo?: Comprando siempre productos con menor cantidad de envase, Teniendo cuidado al utilizar productos contaminantes para no derramar o desperdiciar. Es importante que comprendamos que para ayudar a nuestro planeta es necesario tomar en cuenta las tres “R”.</p>
          <button type="button" class="btn btn-success Section-reciclar-container-articles-buttons "><a class="ver" href="#/papelera">ver más</a></button>

        </article>

      </article>

</section>
<!--seccion2-->
<section class="Secc2" id="Ambiental">

  <h2 class="Work-seccion2">Educación Ambiental</h2>
    <div class="Secc-transpatent">
        <article class="Seccion2-item">
            <figure class=" Work-imageContainer2">
                <img class="Seccion-image" src="/img/organicos.jpg" alt="es la descripcion de la imagen" />
                <h4 class="Work-description2">Residuos Orgánicos</h4>
                <p class="contex"> Son residuos de alimentos después del consumo, estos se deben depositar en la caneca de color Naranja.
                </p>
            </figure>
        </article>
        <article class="Seccion2-item">
            <figure class="Work-imageContainer2">
                <img class="Seccion-image" src="/img/plastico.jpg" alt="es la descripcion de la imagen" />
                <h4 class="Work-description2">Residuos Plásticos</h4>
                  <p class="contex"> Son residuos como bolsas plásticas y envases limpios, estos se deben depositar en la caneca de color Azul.</p>
            </figure>
        </article>
        <article class="Seccion2-item">
            <figure class="Work-imageContainer2">
                <img class="Seccion-image" src="/img/papel.jpg" alt="es la descripcion de la imagen" />
                <h4 class="Work-description2">Residuos de Papel y Cartón</h4>
                  <p class="contex"> Son residuos periódicos, cartón limpio, estos se deben depositar en la caneca de color Gris.</p>
            </figure>
        </article>
        <article class="Seccion2-item">
            <figure class="Work-imageContainer2">
                <img class="Seccion-image" src="/img/ordinarios.jpg" alt="es la descripcion de la imagen" />
                <h4 class="Work-description2">Residuos Ordinarios</h4>
                  <p class="contex">Son residuos como servilletas, icopor, estos se deben depositar en la caneca de color Verde.</p>
            </figure>
        </article>
        <article class="Seccion2-item">
            <figure class="Work-imageContainer2">
                <img src="/img/azul.jpg" alt="es la descripcion de la imagen" class="Seccion-image" />
                <h4 class="Work-description2">Residuos de Vidrios</h4>
                  <p class="contex">Son residuos como botellas, garrafas, estos se deben depositar en la caneca de color Blanco.</p>
            </figure>
        </article>
    </div>

    <a href="#Pruebita" id="abajo" class="arriba"><i class="fa fa-angle-up"></i></a>
</section>


<section class="Fuente">

<section class="">
  <h1 class="bannerTitle">Empresas comprometidas </h1>

  <div id="contenedor-slider2" class="contenedor-slider2">
   <div id="slider2" class="slider2">
     <div class="slider2__section">
       <div class="slider2__contenido">
         <div class="Slider2-container-text-div">
         </div>
       </div>
       <img src="/img/banner1.jpg" class="slider2__img">
     </div>
       <div class="slider2__section">
       <div class="slider2__contenido">
       </div>
       <img src="/img/banner2.png" class="slider2__img">
     </div>
     <div class="slider2__section">
       <div class="slider2__contenido">

       </div>
       <img src="/img/banner3.png" class="slider2__img">
     </div>
   </div>
    <div id="btn-prev1" class="btn-prev1">&#60;</div>
    <div id="btn-next1" class="btn-next1">&#62;</div>
   </div>

<!--<section class="Publicidad">

    <h2 class="Publicidad-tittle">empresas mas importantes</h2>
    <article class="Container-publicidad">

      <figure class="Container-publicidad-figure">
        <img src="" alt="">
      </figure>

    </article>
    <article class="Container-publicidad-images">
      <figure>
        <img src="/img/cocacola.png" alt="">
      </figure>
      <figure>
        <img src="/img/cocacola.png" alt="">
      </figure>
      <figure>
        <img src="/img/cocacola.png" alt="">
      </figure>
      <figure>
        <img src="/img/cocacola.png" alt="">
      </figure>
      <figure>
        <img src="/img/cocacola.png" alt="">
      </figure>

    </article>-->
    <!--div class="Slider2">
    <ul>
    <li><img src="/img/banner1.jpg" alt=""></li>
    <li><img src="/img/banner1.jpg" alt=""></li>
    <li><img src="/img/banner1.jpg" alt=""></li>
    <li><img src="/img/banner1.jpg" alt=""></li>
    <li><img src="/img/banner1.jpg" alt=""></li>
    </ul>
    </div-->
<!-- fin de la seccion1 -->

</section>

</section>
