@import 'nib';
@font-face
    font-family 'icomoon'
    src:url('/fonts/icomoon.eot?eae6f3')
    src:url('/fonts/icomoon.eot?#iefixeae6f3') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?eae6f3') format('truetype'),
        url('/fonts/icomoon.woff?eae6f3') format('woff'),
        url('/fonts/icomoon.svg?eae6f3#icomoon') format('svg')
    font-weight: normal
    font-style: normal

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
    /* Better Font Rendering ========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

@font-face
  font-family MyriadWebPro
  src url('/fonts/MyriadWebPro.ttf')
/*
.Fuente
  font-family: MyriadWebPro!important;
*/
.icon-recycle:after
  content: "\e60a";
  font-size: 1em;
  color: #000;
  text-decoration: none;
  margin: 0;
  display: inline-block;
  padding-left: .5em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;

*
  margin 0
  padding 0
  font-family: MyriadWebPro!important;

body
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  //font-family: MyriadWebPro!important;

.section
  margin-top: -6.5em
.SectionGlobal
  background: #e3e2e2
  flex-grow: 1

.Recicle
  margin: 0
  padding-bottom: 1rem

.Responsive-inicio
  display: none;
  @media screen and (max-width:550px)
    display: flex;
    height: 400px
    background-repeat: no-repeat;
    background-position: center;
    background-image url('/img/slider1.jpg')
.Slider-container-text-responsive
  display: flex;
  justify-content: space-around;
  width: 95%
  margin: auto;



@media screen and (min-width:1200px)
  .prueba
    min-height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:1400px)
      min-height: 80vh;

    > form
      width: 100%


.padding
  margin-top:  6.2em;
  @media screen and (max-width:920px)
    margin-top: 4em
.Work-description2
  color:#202121
  text-transform: capitalize;
  color: #555;
  font-size: 20px;
.contex
  color: #555;
  padding: 0;
  font-family: MyriadWebPro !important;

/*NUEVO SLIDER*/


.contenedor-slider {

  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.slider {
  display:flex;
  height: 100%;
  width: 300%; /*Cambiar el ancho de acuerdo a la cantidad de imágenes, por ejm 10 imagenes = 1000%*/
}

.slider__section {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__contenido
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  width: 100%;
  height: 100%
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__titulo
    color: white
    text-transform: uppercase;
    font-size: 58px
  &__texto
    color white
    font-size: 22px
.slider__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-prev, .btn-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index:200;
}
.fa-angle-left
.fa-angle-right
  font-size: 50px!important
  color: white
// .fa-angle
//   &-left
//
//   &-right
.arriba
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF
  margin: auto
  height: 50px;
  width: 50px;
  > .fa
    font-size: 50px!important
  &:focus
    color: white
    border: none!important
  &:active
    color: white
    border: none!important
  &:hover
    color: rgba(255, 255, 255, 0.8);
.abajo
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: center;
  > .fa
    font-size: 50px!important
  &:focus
    color: white
    border: none!important
  &:active
    color: white
    border: none!important
  &:hover
    color: rgba(255, 255, 255, 0.8);

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}

/** FIN SLIDER*/




/*NUEVO SLIDER 2*/
.contenedor-slider2 {

  width: 100%;
  height: 194px;
  overflow: hidden;
  position: relative;
}

.slider2 {
  display:flex;
  height: 100%;
  width: 300%; /*Cambiar el ancho de acuerdo a la cantidad de imágenes, por ejm 10 imagenes = 1000%*/
}
.bannerTitle
  text-align: center;
  color: #3c948b
  margin: 0

.slider2__section {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider2__contenido
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  width: 100%;
  height: 100%
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__titulo
    color: white
    text-transform: uppercase;
    font-size: 58px
  &__texto
    color white
    font-size: 22px
.slider2__img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.btn-prev1, .btn-next1 {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-family: monospace;
  cursor: pointer;
  z-index:200;
}

.btn-prev1:hover, .btn-next1:hover {
  background: white;
}

.btn-prev1 {
  left: 10px;
}

.btn-next1 {
  right: 10px;
}

.Slider
  width: 100%
  height: 500px
  overflow: hidden;
  margin: auto;
  position: relative;
  box-shadow: 0px 8px 8px -2px gray;
  @media screen and (max-width: 550px)
    display: none
  > ul
    display: flex;
    padding: 0
    width: 300%
    animation: cambio 20s infinite alternate ease-in
    > li
      width 100%
      height: 600px
      list-style: none;
      @media screen and (max-width: 1350px)
        height: 400px
      @media screen and (max-width: 750px)
        height: 300px
      > img
        width 100%
        height: 100%
  &-container
    position: relative;
    &-text
      position: absolute;
      top: 50%
      width: 100%
      transform: translateY(-50%);
      &-div
        display: flex;
        width: 95%
        height: 100%
        align-items: center;
        justify-content: space-around;
      &-p
        font-size: 100px
        color: #FFF
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0
        &2
          color: #FFF
          font-size: 20px
          text-align: center;
        &2:first-letter
          text-transform: uppercase;
          color: #FFF


// @keyframes cambio
//   0% { margin-left: 0}
//   35% {margin-left: 0}
//
//   40%{margin-left: -100%}
//   75%{margin-left: -100%}
//
//   80%{margin-left: -200%}
//   100%{margin-left: -200%}
//   //
//   // 60%{margin-left: -300%}
//   // 75%{margin-left: -300%}
//
//
//
// .Slider2
//   width: 100%
//   height: 130px
//   overflow: hidden;
//   margin: auto;
//   position: relative;
//   box-shadow: 0px 8px 8px -2px gray;
//   /*@media screen and (max-width: 1350px)
//     height: 500px
//   @media screen and (max-width: 750px)
//     height: 400px
//   @media screen and (max-width: 550px)
//     display: none*/
//   > ul
//     display: flex;
//     padding: 0
//     width: 500%
//     animation: cambio2 20s infinite alternate ease-in
//     > li
//       width 6.7%
//       height: 130px
//       list-style: none;
//       > img
//         width 100%
//         height: 100%
//
// @keyframes cambio2
//   0% { margin-left: 0}
//   15% {margin-left: 0}
//
//   20%{margin-left: -33.33%}
//   35%{margin-left: -33.33%}
//
//   40%{margin-left: -66.9%}
//   55%{margin-left: -66.9%}
//
//   60%{margin-left: -99.9999999%}
//   75%{margin-left: -99.9999999%}
//
//   80%{margin-left: -113.2222222%}
//   100%{margin-left: -113.2222222%}


.ver
  color: white !important
.aqui
  color: black !important
  background-color: white !important
  border-color: #f9f9f9;
  padding: 0.4em
  border-radius: 8px
.PiePagina
  margin-top: auto;

.Descripcion
  background-attachment: fixed
  background-position: center
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%
  height: 30em
  box-shadow: 0px 14px 17px -6px #616161;
  background-image url('/img/imagen.jpg')

.Text1
  margin:0
  padding: 0 0 1em 0

.Text-description1
  margin:0
  padding: 0
  text-align: left
  padding-bottom: .5em

.divDescription
  width: 32em
  background-color: rgba(000,000,0000,0.55)
  box-shadow: 0 0 8px 3px black , 0 0 11px 4px #3C948B
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 0em 1em;

.Header-tittle1
  border-bottom: 1px
  color: #F1F1f1
  font-size: 1.5em
  font-weight: bold
  margin: 0px
  text-align: center
  text-shadow: 0px 0px 2px white

.Header-caja
  display: inline-block
  border-radius: 1em
  max-width: 25em

.Header-description
  color: #F1F1f1
  display: inline-block
  text-align: justify;
  font-size: 19px
  padding: 0.1em

.Seccion2-item
  display: inline-block
  margin-bottom: 1.8em

.Secc2
  text-align: center
  // border-bottom: 0.1px
  // box-shadow: 0 0 17px 5px #616161
  background-color: #E0DEDE
  min-height: 30em
  display: flex;
  flex-direction: column;

.Work-seccion2
  color: #555
  text-align: center
  margin: 0
  padding 1em 0em

/*.Secc-transpatent
  padding: 1.5em*/


.Work-imageContainer2
  margin: 0
  display: block
  text-align: center
  padding: 0em 1em
  display: inline-block
  width: 19em;
  height: 16em

.Seccion-image
  width: 100%;
  border-radius: 50%;
  height: 100%;
  transform: rotateY(0deg);
  transition-duration: 1s;


.Seccion-image:hover
  transform: rotateY(180deg);
  transition-duration: 1s;




.Seccion2-item
  max-height: 20%




.Work-image1
  border-radius: 50%
  width: 12em
  height: 12em
  box-shadow: 0px 1px 6px 2px black , 0 0 0 4px white
  margin-top: 1em

.SectionDescription1
  padding-top: 1em
  display: inline-block
  color: navy
  padding: 2em 0em 0em 4em
  color: #080808
  text-align: center
  max-width: 30em
  font-size: 1.2em
  display: flex;
  flex-direction: column;
  align-items: center

.Text1
  margin:0;
  padding: 0 0 1em 0

.Text-description1
  margin:0
  padding: 0
  text-align: left
  padding-bottom: .5em

.Profile-link
  color: #9AD6B0
  font-weight: bold

.Work-description1
  color: white

.banner
  width: 100%
  height: 226px
  margin: auto
  background-size: 100% 100%;
  animation: banner 10s infinite
  animation-direction: alternate;
  background-position: center;
  @keyframes banner
    0%, 30%
      background-image: url(/img/banner1.jpg);
      opacity: 1
    31%, 34%
      opacity: 0.1
    35%, 65%
      background-image: url(/img/banner2.png);
      opacity: 1
    66%, 69%
      opacity: 0.1
    70%, 100%
      background-image: url(/img/banner3.png);

/*********************
STYLUS PROFILE 1 INFORMCION!!
**********************/
.Section-reciclar
  border-bottom: 1px
  border-top: 1px dashed rgba(0, 0, 0, 0)
  text-align: center
  padding: 3em 0em 4em 0em
  // position: relative;
  // z-index: 1
  // &:after
  //   bgsize = 7px
  //   bgpoint = 15%
  //   bgcolor = rgba(#3c948b, .3)
  //   content: " "
  //   position: absolute;
  //   width: 100%
  //   height: 100%
  //   top: 0
  //   left: 0
  //   background-image: radial-gradient(bgcolor bgpoint, transparent bgpoint);
  //   background-size: bgsize bgsize;
  //   z-index: -1
  //   width: 100%
  //   height: 100%
  &-container
    max-width: 100em;
    margin: auto;
    min-height: 30em
    display: flex;
    padding: 1em;

    &-articles
      width: 33.33%
      min-height: 33em
      border: 1px solid #3C948B
      padding: 1em
      margin: 1em
      display: flex;
      flex-direction: column;
      align-items: center;
      background: white

      &-figure
        width: 100%
        height: 12em
        position: relative;
        &:after
          bgsize = 7px
          bgpoint = 15%
          bgcolor = rgba(white, .3)
          content: " "
          position: absolute;
          width: 100%
          height: 100%
          top: 0
          left: 0
          background-image: radial-gradient(bgcolor 9%, transparent bgpoint);
          background-size: bgsize bgsize;
        &-img
          width 100%
          height: 100%
      &-text
        text-align: justify;
      &-buttons
        width: 6em
        background-color: #3C948B!important
        border-color: #f9f9f9
        color: #FFF
        margin-top: auto;
        &:hover
          background-color:rgba(60, 148, 139, 0.9)!important
          color: white
          border-color: #f9f9f9
        &:focus
          border: 1px solid #f9f9f9!important

/*
@media screen and (max-width:1339px)
  .Work-imageContainer2
    width: 18em

@media screen and (max-width:1354px)
  .Work-imageContainer2
    width: 18.7em

@media screen and (max-width:1307px)
  .Work-imageContainer2
    width: 16.7em

@media screen and (max-width:1142px)
  .Work-imageContainer2
    width: 20em
*/

/** publicidad**/

h1,h2,h3,h4,h5,h5
  text-transform: capitalize;
  color #555

p
  color: #555

.Container-publicidad
  width: 100%;
  height: 114px;
  position: relative;
  display: flex;
  align-items: center;
  &-figure
    width: 52.2%;
    height: 100px;
    background-image: url('/img/banner1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    &:after
      content: "";
      background: rgb(32,33,33);
      opacity: 0.9
      display: table;
      width: 23.76%;
      height: 107px;
      position: absolute;
      right: 0;
      top: 4px;
    &:before
      content: "";
      background: rgb(32,33,33);
      opacity: 0.9
      display: table;
      width: 23.8%;
      height: 107px;
      position: absolute;
      left: 0;
      top: 4px;

.Publicidad

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #f7f7f7;
  min-height: 30em;
  &-tittle
    margin: 0 auto;
    padding: 1.1em 0em 1em 0em;


.Container-publicidad-images
  display: flex;
  width: 100%
  justify-content: space-around;
  flex-grow: 1
  align-items: center;
  >figure
    >img
      opacity: 0.5
      transition: 1.2s
      &:hover
        cursor: pointer;
        opacity: 1

@media screen and (max-width:940px)
  .Section-reciclar-container
    flex-wrap:wrap;
    &-articles
      width: 60%
      margin: 1em auto;
@media screen and (max-width: 700px)
  .Section-reciclar-container-articles
    width: 80%
@media screen and (max-width: 600px)
  .Section-reciclar-container-articles
    width: 95%

@media screen and (max-width: 800px)
  .divDescription
    width: 90%
    text-align: center;

  .Header-description
    width: 90%

  .Slider-container-text
    &-p
      font-size: 60px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    &-div
      width: 90%





@media screen and (max-width: 400px)
  .divDescription
    max-width: 91%
    height: auto

  .Header-transparent
    text-align: center

  .Descripcion
    margin:0
    display: inline-block
    text-align: center
    min-height: 25em

  .Header-description
    width: 100%

  .Work-image1
    width: 81%
    height: 11em

  .SectionDescription1
    height: 90%
    padding: 1em 2em

  .Profile1
    height: auto
    width: auto
    display: inline-block

  .Profile-title1
    padding: 1em 0em

  .Text-description1
    float: left

  .Text-description2
    display: block

  .Text-description3
    width: 100%

@media screen and (max-width: 850px)
  .Header-caja
    max-width: 22em

  .Profile-Image1
    display: block

  .SectionDescription1
    padding: 2em 0em 3em 0em

  .Secc-transpatent
    padding: 0

  .Work-seccion2
    padding: 1.5em

  .Seccion2-item
    max-height: 20%

  .Work-imageContainer2
    margin: 0
    display: block
    text-align: center
    padding: 0em 1em
    display: inline-block
    width: 16em;

  .Seccion-image
    width: 100%;
    border-radius: 50%;
    height: 100%;
    border: 1px solid #3c948b;

  .Work-description2
    text-align: center

@media screen and (min-width: 1274px)
  .Seccion2-item
    width: 350px;
@media screen and (max-width: 1287px)
  .Seccion2-item
    width: 350px;


@media screen and (max-width: 940px)
  #btn-menu:checked ~ .MainMenu
    margin-top: 6.7rem
    margin-left: -1px
