@import 'nib';
.modulo-papeleras
  border-bottom: 0.1px
.Basura
  padding: 1.5em
  background-color: ghostwhite
.title-papelera
  color: #3c948b
  text-align: center;
.titlePaper
  font-size: 1.3em
.figPaper
  text-align: center
.parrafoPaper
  font-size: 1.5em
  text-align: justify;
.text-pa
  text-align: justify;
  font-size: 1.3em;

@media screen and (min-width: 800px)
  .seccPa
    display: flex;
    padding: 1.5em
  .text-pa
    width: 60%;
    padding: 3em;
  .parrafoPaper
    padding: 3em
  .seccionPaper
    margin: auto;
@media screen and (max-width: 770px)
  .text-pa
    padding: 0 5em 5em;
  .parrafoPaper
    padding: 2em
@media screen and (max-width: 500px)
  .text-pa
    padding: 0.7em
  .parrafoPaper
    padding: 0.7em
@media screen and (max-width: 400px)
  .text-pa
    padding: 0
  .parrafoPaper
    padding: 0
