<encabezado2></encabezado2>
<div class="padding"></div>
<section class="modulo-papeleras">
               <div class="Basura">
                   <h2 class="title-papelera">IDENTIFICAR EL COLOR DE LAS PAPELERAS</h2>
                   <p class="parrafoPaper">Un punto fundamental dentro del reciclaje, es distinguir correctamente los colores del reciclaje, de esta forma haremos una separación correcta de todo aquello que queramos reciclar.
                     Estos colores del reciclaje los podremos ver generalmente en los contenedores y papeleras de reciclaje diseñadas para
                     entornos urbanos o bien domésticos, vamos a conocer que tipo de productos deben ir en cada contenedor, y a diferenciar los materiales de los que están hechos algunos envases o productos que usamos a diario,
                     podrás completar esta información con los diferentes tipos de reciclaje que verás en el menú lateral. Los colores del reciclaje básicos son estos:</p>
                  <div class="seccPa">
                   <article class="seccionPaper">
                    <figure class="figPaper">
                           <img class="imgPaper" src="/img/azul.png" alt="es la descripcion de la imagen" />
                           <figcaption class="titlePaper">Residuos Plásticos</figcaption>
                       </figure>
                    </article>
                     <p class="text-pa">Caneca azul:  En esta caneca se depositan los plásticos. Para poder llevar a cabo el reciclaje, así como todos los demás residuos,
                       es fundamental la colaboración ciudadana a la hora de la separación selectiva de las basuras. Los ciudadanos separan y determinadas empresas reciclan.
                       La cantidad de envases de plástico que se utilizan en los hogares es elevadísima, y en la actualidad el 80% del reciclaje de plásticos corresponde a envases
                        que provienen de hogares, aún así es conveniente aumentar el porcentaje de ciudadanos que separan estos residuos.</p></div>
                  <div class="seccPa">
                   <article class="seccionPaper">
                       <figure class="figPaper">
                           <img class="imgPaper" src="/img/gris.png" alt="es la descripcion de la imagen" />
                           <figcaption class="titlePaper">Residuos de Papel y Cartón</figcaption>
                       </figure>
                    </article>
                      <p class="text-pa">Caneca gris: Junta y lleva a reciclar: periódicos, revistas, papel blanco, cajas de cartón (galletas, aparatos electrónicos, etc.), rollo de papel higiénico y de cocina,
                        papel de envoltorios, publicidad, sobres sin ventanilla, etc. Guarda el papel en cajas de cartón o bolsas de papel y déjalo así en el contenedor. Procura que el papel está seco.
                        Son muchas las ventajas del reciclaje del papel: Se disminuye el consumo de madera, agua y energía para fabrical papel; se reducen los residuos y por lo tanto, se alarga la vida de los vertederos;
                        se disminuye la contaminación del agua y del aire, al no tener que fabricar pasta de papel; disminuye la tala de los bosques; disminuye la importación de madera o incluso de papel usado.</p></div>
                  <div class="seccPa">
                   <article class="seccionPaper">
                       <figure class="figPaper">
                           <img class="imgPaper" src="/img/abano.png" alt="es la descripcion de la imagen" />
                           <figcaption class="titlePaper">Residuos Biodegradables</figcaption>
                       </figure>
                    </article>
                      <p class="text-pa">Canecas Beige: Los biodegradables (se descomponen naturalmente). Son aquellos que tienen la característica de poder desintegrarse o degradarse
                          rápidamente, transformándose en otro tipo de materia orgánica. Ejemplo: los restos de comida, frutas y verduras, sus cáscaras, carne, huevos, estos residuos volverán
                          a formar parte de forma relativamente rápida del ecosistema, para integrarse a la tierra. Pero este proceso puede acelerarse para reducir los volúmenes de basura más
                          rápidamente, como ocurre en la preparación de compost, o con el añadido de animales como las lombrices o determinados microorganismos que aceleren el proceso de descomposición.</p></div>
                   <div class="seccPa">
                   <article class="seccionPaper">
                       <figure class="figPaper">
                           <img class="imgPaper" src="/img/blanco.png" alt="es la descripcion de la imagen" class="Seccion-image" />
                           <figcaption class="titlePaper">Residuos de Vidrios</figcaption>
                       </figure>
                    </article>
                       <p class="text-pa">Caneca blanca: Es uno de los materiales que permiten reutilizar una gran parte del material desechado, de ahí su importancia. La forma ideal
                          para recilar vidrio, consiste en almacenar en nuestros hogares, todo tipo de tarros, botellas o envases de vidrio. Es importante tener en cuenta que deberemos
                          retirar cualquier otro material de estos productos, como tapones, anillas, y si es posible, el papel de las etiquetas. De esta forma, facilitaremos en gran medida
                          el proceso de reciclaje del vidrio, siendo este mucho más rápido y económico.</p></div>
               </div>

            </section>
