@import 'nib';
.Section-ayuda{
  width: 41em;
  margin: 3em auto;
  padding-top: 3em;
  text-align: justify;
}
.Section-ayuda-list{
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 27em;
  width: 100%;
}

.Section-ayuda-list-tittle{
    background: #3c948b;
    color: #fff;
    padding: 1em;
    margin: 0 !important;
    margin-bottom: 0 !important;
    text-align: center;
}

.Section-ayuda-list-label{
  padding: 1em;
  display: flex;
  flex-direction: column;
  max-width: 25em;
  min-width: 90%;
  margin: auto;
  margin-top: 21px;
}

@media screen and (max-width: 600px){

  .Section-ayuda{
    width: 90%;
}
}
@media screen and (max-width: 500px){

  .Section-ayuda{
    width: 95%;
  }
  .Section-ayuda-list-label{
    padding: 0em;
}
}
@media screen and (max-width: 400px){

    .preguntas{
      padding: 2em;
}
}
