<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-ayuda prueba">
  <article class="Section-ayuda-list">
    <h3 class="Section-ayuda-list-tittle">¿PREGUNTAS FRECUENTES?</h3>
    <div class="Section-ayuda-list-label">
          <ul class="preguntas">
              <p><li type="circle">¿Cómo puedo calificar una empresa?</li>
              R/ Una vez usted se haya registrado como Persona natural, podrá ver la lista de las empresas seleccionar la que desea, al lado derecho encontrara  la opción “Calificar”.</p>

              <p><li type="circle">¿Cómo puedo contactarme con ustedes?</li>
              R/ Para contactarse con nosotros, puede bajar al final de la página opción contactar y seleccionar una de nuestras diferentes redes sociales.</p>

               <p><li type="circle">¿En que temporada salen las promociones?</li>
              R/ No hay una fecha o temporada de las promociones, deberá estar pendiente de los anuncios que las empresas publican  que está ubicada en la barra de menú opción “Anuncios”.</p>

               <p><li type="circle">¿Cómo puedo ver la información de la Empresa?</li>
              R/ Una vez usted se haya registrado como Persona natural, podrá ver la lista de las empresas seleccionar la que desea, al lado derecho encontrara  la opción “Ver”.</p>

               <p><li type="circle">¿En dónde puedo ver los paquetes publicitarios?</li>
              R/ Debe dirigirse  al final de la página en el recuadro “Portafolio de servicios “ahí encontrara cada uno de los paquetes que ofrecemos.</p>

               <p><li type="circle">¿Cómo me puedo contactar con una empresa?</li>
              R/ Una vez usted se haya registrado como Persona natural, podrá ver la lista de las empresas seleccionar la que desea, al lado derecho encontrara  la opción “Contactar”.</p>

               <p><li type="circle">¿Cómo puedo crear un anuncio?</li>
              R/ Si usted se ha registrado como Persona natural no podrá realizar anuncios, ya que las únicas cuentas permitidas para efectuarla son las Empresas.</p>

               <p><li type="circle">¿Cómo puedo actualizar mi perfil?</li>
              R/ Deberá dirigirse al menú en la opción Perfil y en la parte inferior de sus datos actuales encontrara un botón llamado “Actualizar”.</p>

               <p><li type="circle">¿Cuáles son los precios de los paquetes?</li>
              R/ <li type="square">El paquete Free (gratis) tendrá derecho a seis (6) anuncios publicaciones durante un lapso de un mes.
              <li type="square">El paquete Bronce tiene un valor de $ 1’750.000 tendrá derecho a cinco (5) anuncios publicitarios libres sin fecha de vencimiento.
              <li type="square">El paquete Plata tiene un valor de $ 3’500.000 tendrá derecho a diez (10) anuncios publicitarios libres sin fecha de vencimiento.
              <li type="square">El paquete Bronce tiene un valor de $ 5’250.000 tendrá derecho a quince (15) anuncios publicitarios libres sin fecha de vencimiento.</p>

               <p><li type="circle">¿Cómo es la forma de pago?</li>
              R/ En la forma de pago se llegara a un acuerdo con la Empresa y la debido diligenciamiento del contrato.</p>
            </ul>

          </div>
        </article>

    </section>
