<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-info-empresa prueba">
    <article class="Section-info-empresa-info-cont">
        <h3 class=" Section-calificar-result-tittle">RECUPERE SU CONTRASEÑA</h3>
        <article class="Section-info-empresa-result-label container-input-label">
            <form name="projectForm" ng-submit="projectForm.$valid && vm.updatepassrec()" novalidate>
                <md-input-container class="cambiarPass">
                    <label class="Label">Nueva Contraseña</label>
                    <input type="password" md-minlength="6" md-maxlength="10" minlength="6" maxlength="10" name="passnueva" ng-model="vm.password1" ng-required="true">
                    <div ng-messages="projectForm.passnueva.$error" role="alert" ng-if="projectForm.$dirty">
                        <div ng-message-exp="['md-minlength', 'md-maxlength', 'minlength', 'maxlength', 'required']">Campo requerido, min 6, max 10 carácteres.</div>
                    </div>
                </md-input-container>

                <md-input-container class="cambiarPass">
                    <label class="Label">Repita Contraseña</label>
                    <input type="password" md-minlength="6" md-maxlength="10" minlength="6" maxlength="10" name="passnuevarepit" ng-model="vm.password2" ng-required="true">
                    <div ng-if="vm.password1 !== vm.password2 && vm.password2 !== null"><p class="validation-messages2">Las contraseñas no coinciden!</p></div>
                    <div ng-messages="projectForm.passnuevarepit.$error" role="alert" ng-if="projectForm.$dirty">
                        <div ng-message-exp="['md-minlength', 'md-maxlength', 'minlength', 'maxlength', 'required']">Campo requerido, min 6, max 10 carácteres.</div>
                        <!-- <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Mínimo 6 Carácteres y Máximo 10 Carácteres</div>
                        <div ng-message="maxlength">Máximo 10 Carácteres</div> -->
                    </div>
                </md-input-container>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" ng-disabled="loginForm.$invalid || vm.password1 == null || vm.password2 == null || vm.password1 !== vm.password2"
                              class="md-raised md-primary Btn-guardarC btn-enviar">
                              Actualizar
                    </md-button>
                </section>
            </form>
        </article>
    </article>
</section>
