<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-info-empresa prueba">
    <article class="Section-info-empresa-info-cont">
        <h3 class=" Section-calificar-result-tittle">INGRESA TU CORREO</h3>
        <article class="Section-info-empresa-result-label container-input-label">
            <form name="projectForm" ng-hide="vm.isAuthenticated()" ng-submit="projectForm.$valid && vm.signIn()" novalidate>
                <md-input-container class="cambiarPass">
                    <label class="Label">Correo Electronico</label>
                    <input type="email" md-minlength="12" md-maxlength="60" minlength="12" maxlength="60" name="email" ng-model="vm.recuperarpass.email" ng-required="true" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="projectForm.email.$error" role="alert"> <!-- ng-if="loginForm.email.$dirty" -->
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'md-minlength', 'md-maxlength', 'pattern', 'email']">
                          Campo requerido, Debe cumplir con formato email, min 12, max 60 carácteres, arroba(@) y punto(.)
                        </div>
                    </div>
                 </md-input-container>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" ng-disabled="projectForm.$invalid" class="md-raised md-primary Btn-guardarC btn-enviar" ng-click="vm.enviar()">Enviar</md-button>
                </section>
            </form>
        </article>
    </article>
</section>
