<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-calificar">
    <form class="calificaciones1 prueba" name="projectForm" ng-submit="projectForm.$valid && vm.calificar(vm.usuario.idUsuario)" novalidate>
        <article class="Section-calificar-result">
            <h3 class=" Section-calificar-result-tittle1">Califica a
                {{vm.usuario.nombre}}</h3>
            <div class="Section-calificar-result-label">
                <div style="padding-left: 30px display:flex;">
                    <md-radio-group ng-model="vm.calificaciones.calificacion" name="calificacion">
                        <md-radio-button value="1" class="md-primary item-calificar">
                            Muy malo
                        </md-radio-button>
                        <md-radio-button value="2" class="md-primary item-calificar">
                            Malo</md-radio-button>
                        <md-radio-button value="3" class="md-primary item-calificar">
                            Regular</md-radio-button>
                        <md-radio-button value="4" class="md-primary item-calificar">
                            Bueno</md-radio-button>
                        <md-radio-button value="5" class="md-primary item-calificar">
                            Excelente</md-radio-button>
                    </md-radio-group>
                    <p ng-if="!vm.calificaciones.calificacion" class="validation-messages2">Seleccione una calificación</p>
                    <!-- <div ng-messages="projectForm.calificacion.$error" ng-if="projectForm.$dirty" role="alert">
                      <div ng-message="required">Campo requerido</div>
                    </div> -->
                  </div>

                <md-input-container class="Section-calificar-result-label-container">
                    <label class="Label">Comentario</label>
                    <input type="text" name="comentario" ng-model="vm.calificaciones.comentario" md-minlength="5" minlength="5" md-maxlength="100" maxlength="100">
                    <div ng-messages="projectForm.comentario.$error" role="alert" ng-if="projectForm.$dirty">
                      <div ng-message="minlength">Mínimo 5 Carácteres y Máximo 100 Carácteres</div>
                      <div ng-message="maxlength">Máximo 100 Carácteres</div>
                    </div>
                </md-input-container>

                <div class="Botones-contactar-contanier">
                    <md-button class="md-raised md-primary Btn-calificar" type="submit" ng-disabled="vm.calificaciones.calificacion === undefined">Calificar</md-button>  <!-- ng-click="vm.calificar(vm.usuario.idUsuario)"-->
                    <md-button class="md-raised md-primary Btn-calificar" href="#/usuarios/listempview/{{vm.usuario.idUsuario}}" type="submit">Ver</md-button>
                    <!--a href="#/usuarios/calificaciones/{{usr.idUsuario}}" ng-if="loginCtrl.isUser()" class="Link-list">ver calificaciones</a-->
                </div>
            </div>
        </article>
    </form>
</section>
