<encabezado2></encabezado2>
<div class="padding"></div>
<div class="color-list prueba">
    <div class="container containeru">
        <h1 class="Tittle-calificaciones">Calificaciones de
            <span class="Tittle-calificaciones-span">{{vm.nombre}}</span>
        </h1>
        <div class="Container-search-regis table-bordered">
            <div class="Container-search-regis-flex">
                <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
                    <button class="Button-search glyphicon glyphicon-search"></button>
                </input>
            </div>
        </div>
        <div class="">
            <form ng-controller="LoginCtrl as loginCtrl">
                <!-- overflow-y: hidden = este sirve para un scroll vertical pero no se como implementarlo. -->
                <table class="table-bordered table-hover color-t Table-container-calview">
                    <thead>
                        <div class="col-md-3">
                            <tr class="color-campo">
                                <th class="Table-container-calview-elements Encabezados Calificacion">Calificación</th>
                                <th class="Table-container-calview-elements Encabezados">Comentario</th>
                                <th class="Table-container-calview-elements Encabezados">Usuario que calificó</th>
                            </tr>
                        </div>
                    </thead>
                    <tbody class="Color-resultados">
                        <tr ng-repeat="cal in vm.calificaciones | toArray:false | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit | filter:vm.busqueda">
                            <td class="Table-container-calview-elements">{{cal.calificacion}}</td>
                            <td class="Table-container-calview-elements">{{cal.comentario}}</td>
                            <td class="Table-container-calview-elements">{{cal.idUsuario.nombre}}</td>

                        </tr>
                        <tr>
                            <td class="ResultadoTotal" colspan=3>Puntuación Promedio:
                                <span class="ResultadoTotal-num" ng-readonly>{{vm.totalV | number:1}}</span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <md-table-pagination class="Pagination" md-limit="vm.query.limit" md-limit-options="[5,10,15,20]" md-page="vm.query.page" md-total="{{vm.calificaciones.length}}"></md-table-pagination>
</div>
