<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-info-empresa prueba">
    <article class="Section-info-empresa-info-cont">
        <h3 class=" Section-calificar-result-tittle">Confirmar Contraseña</h3>
        <article class="Section-info-empresa-result-label container-input-label">
            <form name="projectForm" ng-submit="projectForm.$valid && vm.confirmar()" novalidate>
                <md-input-container class="cambiarPass">
                    <label class="Label">Ingresa tu contraseña actual</label>
                    <input type="password" md-minlength="6" md-maxlength="10" minlength="6" maxlength="10" name="passwordactual" ng-model="vm.passwordNow" ng-required="true">
                    <div ng-messages="projectForm.passwordactual.$error" role="alert" ng-if="projectForm.$dirty">
                        <!-- <div ng-message-exp="['md-minlength', 'md-maxlength', 'minlength', 'maxlength']">min 6, max 10 carácteres.</div> -->
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Mínimo 6 Carácteres y Máximo 10 Carácteres</div>
                        <div ng-message="maxlength">Máximo 10 Carácteres</div>
                    </div>
                </md-input-container>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" ng-disabled="vm.passwordNow === undefined" class="md-raised md-primary Btn-guardarC">Confirmar</md-button>
                    <md-button ng-href="#/usuarios/perfil" class="md-raised md-warn Btn-cancelarC">Cancelar</md-button>
                </section>
            </form>
        </article>
    </article>
</section>
