<encabezado2></encabezado2>
<div class="padding"></div>
<section class="prueba">
    <section class="Section-contactar">
        <form class="contactar1" ng-submit="projectForm.$valid && vm.enviar()" name="projectForm">
            <article class="Section-contactar-result">
                <h3 class="Section-contactar-result-tittle">Contactar Empresa</h3>
                <div class="Section-contactar-result-label">
                    <md-input-container>
                        <label class="Label">Email Empresa</label>
                        <input type="text" ng-model="vm.email.emailEmpresa" disabled/>
                    </md-input-container>
                    <!--md-input-container>
              <label class="Label">Texto Mensaje</label>
              <input type="text" ng-model="vm.email.textoMensaje"/>
          </md-input-container-->

                    <md-input-container class="md-block">
                        <label class="Label">Mensaje</label>
                        <textarea name="mensaje" md-minlength="10" minlength="10" md-maxlength="200" maxlength="200" ng-required="true" rows="5" md-select-on-focus ng-model="vm.email.textoMensaje"></textarea>
                        <div ng-messages="projectForm.mensaje.$error" role="alert" ng-if="projectForm.$dirty">
                          <div ng-message="required">Campo requerido</div>
                          <div ng-message="minlength">Mínimo 10 Carácteres y Máximo 200 Carácteres</div>
                          <div ng-message="maxlength">Máximo 200 Carácteres</div>
                        </div>
                    </md-input-container>

                    <md-button class="md-raised md-primary Btn-contactar" type="submit" ng-disabled="vm.email.textoMensaje == null">Enviar</md-button>
                </div>
            </article>
        </form>
    </section>
</section>
<!--
<h3>A</h3>

<form>
<input type="text" ng-model="vm.email.emailEmpresa" placeholder="EmailEmpresa" disabled />

<textarea ng-model="vm.email.textoMensaje" placeholder="Texto Mensaje" >
</textarea>

<md-button type="submit" ng-click= class="md-raised md-primary Btn-guardar">Enviar</md-button>

</form>
-->
