<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-info-empresa prueba">
    <article class="Section-info-empresa-info">
        <h3 class=" Section-calificar-result-tittle container-tittle-actualizar">
            <div class="container-img-actualizar">
              <p ng-if="vm.imagen()" class="validation-messages2">{{vm.mensaje()}}</p>
              <md-input>
                <label class="container-img-actualizar-label" for="imagen_input">
                    Subir Imagen
                </label>
              </md-input>
                <input id="imagen_input" type="file" style="display:none;" on-read-img="vm.loadImg($fileContent)"/>
                <img ng-hide="vm.usuario.foto" ng-src="/img/avatar.svg" height="70px" width="70px"/>
                <img ng-if="vm.usuario.foto" ng-src="{{'data:image/png;base64,' + vm.usuario.foto}}" height="70px" width="70px"/>
            </div>

           actualiza tus datos</h3>
        <form name="projectForm" ng-submit="projectForm.$valid && vm.update()" novalidate>
            <article class="Section-info-empresa-result-label container-input-label" ng-controller="LoginCtrl as loginCtrl">
                <md-input-container class="flex" ng-if="loginCtrl.isUser()">
                    <label>Nombre*</label>
                    <input class="Section-info-empresa-info-inputs" type="text" md-minlength="3" minlength="3" md-maxlength="30" maxlength="30" md-no-asterisk name="nombre" ng-model="vm.usuario.nombre" ng-required="true" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/">
                    <div ng-messages="projectForm.nombre.$error" role="alert" ng-show="projectForm.$dirty">
                      <!-- <div ng-message-exp="['md-minlength', 'minlength', 'md-maxlength', 'maxlength', 'required', 'pattern']">Este campo es requerido, utilice solo letras. min 3, max 30 carácteres.</div> -->
                    <div ng-message="required">Campo requerido</div>
                    <div ng-message="pattern">Utilice solo letras</div>
                    <div ng-message="minlength">Mínimo 3 Carácteres y Máximo 30 Carácteres</div>
                    <div ng-message="maxlength">Máximo 30 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="flex" ng-if="loginCtrl.isEmp()">
                    <label>Nombre*</label>
                    <input class="Section-info-empresa-info-inputs" type="text" md-minlength="4" minlength="4" md-maxlength="30" maxlength="30" ng-model="vm.usuario.nombre" name="nombre" ng-required="true" md-no-asterisk ng-pattern="/^[a-zA-Z . ñáéíóú \s]*$/">
                    <div ng-messages="projectForm.nombre.$error" role="alert" ng-show="projectForm.$dirty">
                        <!-- <div ng-message-exp="['md-minlength', 'minlength', 'md-maxlength', 'maxlength', 'required', 'pattern']">Este campo es requerido, utilice solo letras. min 4, max 30 carácteres.</div> -->
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="pattern">Utilice solo letras</div>
                        <div ng-message="minlength">Mínimo 4 Carácteres y Máximo 30 Carácteres</div>
                        <div ng-message="maxlength">Máximo 30 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="flex" ng-if="loginCtrl.isUser()">
                    <label>Primer Apellido*</label>
                    <input type="text" md-minlength="3" minlength="3" md-maxlength="30" maxlength="30" name="primerApellido" class="Section-info-empresa-info-inputs" md-no-asterisk ng-required="true" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/" ng-model="vm.usuario.primerApellido">
                    <div ng-messages="projectForm.primerApellido.$error" role="alert" ng-show="projectForm.$dirty">
                      <!-- <div ng-message-exp="['md-minlength', 'minlength', 'md-maxlength', 'maxlength', 'pattern', 'required']">Campo requerido. Utilice solo letras. min 3, max 30 carácteres.</div> -->
                      <div ng-message="required">Campo requerido</div>
                      <div ng-message="pattern">Utilice solo letras</div>
                      <div ng-message="minlength">Mínimo 3 Carácteres y Máximo 30 Carácteres</div>
                      <div ng-message="maxlength">Máximo 30 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="flex" ng-if="loginCtrl.isUser()">
                    <label>Segundo Apellido</label>
                    <input type="text" md-minlength="3" minlength="3" md-maxlength="30" maxlength="30" name="segundoApellido" ng-pattern="/^[a-zA-Z ñáéíóú \s]*$/" class="Section-info-empresa-info-inputs" md-no-asterisk ng-model="vm.usuario.segundoApellido">
                    <div ng-messages="projectForm.segundoApellido.$error" role="alert" ng-show="projectForm.$dirty">
                      <!-- <div ng-message-exp="['md-minlength', 'minlength', 'md-maxlength', 'maxlength', 'pattern']">Utilice solo letras. min 3, max 30 carácteres.</div> -->
                      <div ng-message="pattern">Utilice solo letras</div>
                      <div ng-message="minlength">Mínimo 3 Carácteres y Máximo 30 Carácteres</div>
                      <div ng-message="maxlength">Máximo 30 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="flex">
                    <label>Teléfono*</label>
                    <input md-minlength="7" md-maxlength="15" minlength="7" maxlength="15" name="telefono" class="Section-info-empresa-info-inputs" md-no-asterisk ng-required="true" ng-pattern="/^[0-9]*$/" ng-model="vm.usuario.telefono">
                    <div ng-messages="projectForm.telefono.$error" role="alert" ng-if="projectForm.$dirty">
                      <!--   <div ng-message-exp="['required', 'pattern', 'md-minlength', 'md-maxlength', 'minlength', 'maxlength']">Este campo es requerido, utilice solo números. min 7, max 15 carácteres.</div> -->
                      <div ng-message="required">Campo requerido</div>
                      <div ng-message="pattern">Utilice solo números</div>
                      <div ng-message="minlength">Mínimo 7 Carácteres y Máximo 15 Carácteres</div>
                      <div ng-message="maxlength">Máximo 15 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="flex">
                    <label>Dirección*</label>
                    <input type="text" md-minlength="10" md-maxlength="35" minlength="10" maxlength="35" name="direccion" class="Section-info-empresa-info-inputs" md-no-asterisk ng-required="true" ng-model="vm.usuario.direccion" ng-pattern="/^[a-zA-Z 0-9 # ° \s -]*$/">
                    <div ng-messages="projectForm.direccion.$error" role="alert" ng-if="projectForm.$dirty">
                        <!-- <div ng-message-exp="['required', 'md-minlength', 'md-maxlength', 'minlength', 'maxlength', 'pattern']">Este campo es requerido, min 10, max 35 carácteres. solo simbolos de tipo direccion(# N° -)</div> -->
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="pattern">Utilice símbolos de tipo dirección(# N° -)</div>
                        <div ng-message="minlength">Mínimo 10 Carácteres y Máximo 35 Carácteres</div>
                        <div ng-message="maxlength">Máximo 35 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="flex">
                    <label>Email*</label>
                    <input type="email" ng-blur="vm.validaCorreo()" class="Section-info-empresa-info-inputs" md-no-asterisk ng-required="true" name="email" ng-model="vm.usuario.email" md-minlength="12" minlength="12" md-maxlength="60" maxlength="60" ng-pattern="/^.+@.+\..+$/">
                    <div ng-messages="projectForm.email.$error" role="alert" ng-if="projectForm.$dirty">
                        <!-- <div ng-message-exp="['required', 'md-maxlength', 'maxlength', 'minlength', 'md-minlength', 'pattern', 'email']">
                            Este campo es requerido, Debe cumplir con formato email, min 12, max 60 carácteres, arroba(@) y punto(.)
                        </div> -->
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="pattern">Debe ser formato "Email" con arroba(@) y punto(.)</div>
                        <div ng-message="email">Debe ser formato "Email" con arroba(@) y punto(.)</div>
                        <div ng-message="minlength">Mínimo 12 Carácteres y Máximo 60 Carácteres</div>
                        <div ng-message="maxlength">Máximo 60 Carácteres</div>
                    </div>
                    <p ng-show="vm.validaEmail" class="validation-messages2">
                      El email ya se encuentra registrado....
                    </p>
                </md-input-container>
                  <!--ng-required="true" md-input-maxlength="18" -->
                <md-autocomplete ng-required="true"
                    class="AutoComplete"
                    md-selected-item="vm.usuario.ciudades"
                    md-search-text="vm.searchTextCiudades"
                    md-items="item in vm.queryCiudades(vm.searchTextCiudades)"
                    md-floating-label="Ciudad*"
                    md-item-text="item.nombreCiudad +' - ' + item.departamentos.nombreDepartamento"
                    md-min-length="1"  md-input-name="ciudad"
                    md-input-minlength="2"
                    md-require-match="true">
                    <md-item-template>
                        <span md-highlight-text="vm.searchTextCiudades" md-highlight-flags="^i">
                            {{item.nombreCiudad}}
                            -
                            {{item.departamentos.nombreDepartamento}}
                        </span>
                    </md-item-template>
                    <md-not-found>
                        La ciudad "{{vm.searchTextCiudades}}" no fue encontrada.
                    </md-not-found>
                    <div ng-messages="projectForm.ciudad.$error" ng-if="projectForm.$dirty" role="alert">
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="md-require-match">Por favor ingrese una ciudad existente</div>
                        <div ng-message="minlength">Minimo 2 caracteres</div>
                    </div>
                </md-autocomplete>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" class="md-raised md-primary Btn-guardarA">Actualizar</md-button> <!-- ng-disabled="vm.usuario.nombre == null || vm.usuario.primerApellido == null ||
                     vm.usuario.telefono == null || vm.usuario.direccion == null ||
                     vm.usuario.email == null || vm.usuario.ciudades == null" -->
                    <md-button ng-href="#/usuarios/perfil" class="md-raised md-warn Btn-cancelarA">Cancelar</md-button>
                </section>
            </article>
        </form>
    </article>
</section>
