<encabezado2></encabezado2>
<div class="padding"></div>
<section class="prueba">
    <section class="Section-desactivar">
        <article class="Section-desactivar-cuenta">
            <h3 class="Section-contactar-result-tittle">Desactivar Cuenta</h3>
            <div class="Section-contactar-result-label">
                <p>Hola,
                    <b>{{vm.getCurrentUser()}}</b>:</p>
                <p class="text-desact">Lamentamos que quieras desactivar tu cuenta. Al desactivarla ya no podrás acceder a nuestros servicios, si quieres recuperarla deberás contactarte con nosotros.</p>
                <p class="text-desact">Si pulsas el siguiente botón se desactivará tu cuenta.</p>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button ng-click="vm.inhabilitar()" class="md-raised md-primary Btn-guardarC">Desactivar</md-button>
                    <md-button ng-href="#/usuarios/perfil" class="md-raised md-warn Btn-cancelarC">Cancelar</md-button>
                </section>
            </div>
        </article>
    </section>
</section>
