<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-info-empresa prueba">
    <article class="Section-info-empresa-info">
        <h3 class=" Section-calificar-result-tittle">
            <img ng-hide="vm.usuario.foto" ng-src="/img/avatar.svg" height="100px" width="100px"/><img ng-if="vm.usuario.foto" ng-src="{{'data:image/png;base64,' + vm.usuario.foto}}" height="100px" width="100px"/>Información de
            {{vm.usuario.nombre}}
        </h3>
        <article class="Section-info-empresa-result-label">
            <div class="Section-info-empresa-result-label-div" layout-gt-xs="row">
                <md-input-container class="flex">
                    <label>Teléfono</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.telefono">
                </md-input-container>
                <md-input-container class="flex">
                    <label>Dirección</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.direccion">
                </md-input-container>
            </div>
            <div class="Section-info-empresa-result-label-div" layout-gt-xs="row">

                <md-input-container class="flex">
                    <label>Nit</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.razonSocial">
                </md-input-container>
                <md-input-container class="flex">
                    <label>Ciudad</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.ciudades.nombreCiudad">
                </md-input-container>
            </div>
            <div class="Section-info-empresa-result-label-div" layout-gt-xs="row">

                <md-input-container class="flex">
                    <label>Departamento</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.ciudades.departamentos.nombreDepartamento">
                </md-input-container>
                <md-input-container class="flex">
                    <label>Email</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.email">
                </md-input-container>
            </div>
        </article>

    </article>

</section>
