<encabezado2></encabezado2>
<div class="padding"></div>
<section class="prueba">
    <div class="container">
        <div class="color-Usu">
            <h2 class="Tittle-users color-Title">LISTA DE USUARIOS</h2>
            <div class="Container-search-regis  table-bordered">
                <div class="Container-search-regis-flex">
                    <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
                        <button class="Button-search glyphicon glyphicon-search"></button>
                    </input>
                </div>
            </div>

            <div class="table-responsive">
                <form>
                    <!-- overflow-y: hidden = este sirve para un scroll vertical pero no se como implementarlo. -->
                    <table class="table-bordered color-tabla table-hover Table-container-usuarios">
                        <thead>
                            <tr class="Color-Princ">
                                <th class="Table-container-usuarios-elements Encabezados">N°</th>
                                <th class="Table-container-usuarios-elements Encabezados">Nombre</th>
                                <th class="Table-container-usuarios-elements Encabezados">Primer Apellido</th>
                                <th class="Table-container-usuarios-elements Encabezados">Segundo Apellido</th>
                                <th class="Table-container-usuarios-elements Encabezados">Teléfono</th>
                                <th class="Table-container-usuarios-elements Encabezados">Dirección</th>
                                <th class="Table-container-usuarios-elements Encabezados">Email</th>
                                <th class="Table-container-usuarios-elements Encabezados">Password</th>
                                <th class="Table-container-usuarios-elements Encabezados">Fecha Nacimiento</th>
                                <th class="Table-container-usuarios-elements Encabezados">Nit</th>
                                <th class="Table-container-usuarios-elements Encabezados">Rol</th>
                                <th class="Table-container-usuarios-elements Encabezados">Ciudad</th>
                                <th class="Table-container-usuarios-elements Encabezados">Departamento</th>
                                <th class="Table-container-usuarios-elements Encabezados">Tipo Usuario</th>
                                <th class="Table-container-usuarios-elements Encabezados">Tipo Documento</th>
                                <th class="Table-container-usuarios-elements Encabezados">Foto</th>
                                <!-- <th class="Table-container-usuarios-elements Encabezados">Editar</th> -->
                                <th class="Table-container-usuarios-elements Encabezados">Estado</th>
                            </tr>
                        </thead>
                        <tbody class="Color-resultados">
                            <tr ng-repeat="usr in vm.usuarios | toArray:false | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit | filter:vm.busqueda">
                                <td class="Table-container-usuarios-elements">{{usr.idUsuario}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.nombre}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.primerApellido}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.segundoApellido}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.telefono}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.direccion}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.email}}</td>
                                <td class="Table-container-usuarios-elements">******</td>
                                <td class="Table-container-usuarios-elements">{{usr.fechaNacimiento | date: 'dd/MM/yyyy'}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.razonSocial}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.idRol.idRol}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.ciudades.nombreCiudad}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.ciudades.departamentos.nombreDepartamento}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.idTipoUsuario.descripcionTipoUsuario}}</td>
                                <td class="Table-container-usuarios-elements">{{usr.idTipoDocumento.idTipoDocumento}}</td>
                                <td class="Table-container-usuarios-elements">
                                    <img ng-if="usr.foto" ng-src="{{'data:image/png;base64,' + usr.foto}}" height="100px" width="100px"/>
                                    <img ng-hide="usr.foto" ng-src="/img/avatar.svg" height="100px" width="100px"/>
                                </td>
                                <!-- <td class="Table-container-usuarios-elements">
                                    <a href="#/usuarios/update" class="Color-resultados-e Link-list">Editar</a>
                                </td> -->
                                <td class="Table-container-usuarios-elements">
                                    <md-switch ng-model="usr.estado" aria-label="Switch No Ink" ng-change="vm.inhabilitar(usr.idUsuario)" class="md-primary"></md-switch>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <md-table-pagination class="Pagination" md-limit="vm.query.limit" md-limit-options="[5,10,15,20]" md-page="vm.query.page" md-total="{{vm.usuarios.length}}"></md-table-pagination>
        </form>
    </div>
</section>
