<encabezado2></encabezado2>
<div class="padding"></div>
<div class="color-list prueba">
    <div class="container containeru">
        <h2 class="Tittle-calificaciones">EMPRESAS DE RECICLAJE</h2>
        <div class="Container-search-regis table-bordered">
            <div class="Container-search-regis-flex">
                <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
                    <button class="Button-search glyphicon glyphicon-search"></button>
                </input>
            </div>
        </div>
        <div class="">
            <form ng-controller="LoginCtrl as loginCtrl">
                <!-- overflow-y: hidden = este sirve para un scroll vertical pero no se como implementarlo. -->
                <table class="table-bordered table-hover color-t Table-container-empresa">
                    <thead>
                        <div class="col-md-3">
                            <tr class="color-campo">
                                <th class="Table-container-empresa-elements Encabezados">Nombre</th>
                                <th class="Table-container-empresa-elements Encabezados">Email</th>
                                <th class="Table-container-empresa-elements Encabezados">Información</th>
                                <th class="Table-container-empresa-elements Encabezados" ng-if="loginCtrl.isUser()">Contacta</th>
                                <th class="Table-container-empresa-elements Encabezados" ng-if="loginCtrl.isUser()">Califica</th>
                                <th class="Table-container-empresa-elements Encabezados" ng-if="loginCtrl.isUser()">Todas las Calificaciones</th>
                            </tr>
                        </div>
                    </thead>
                    <tbody class="Color-resultados">
                        <tr ng-repeat="usr in vm.empresas | toArray:false | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit | filter:vm.busqueda">
                            <td class="Table-container-empresa-elements">{{usr.nombre}}</td>
                            <td class="Table-container-empresa-elements">{{usr.email}}</td>
                            <td class="Table-container-empresa-elements">
                                <a class="Color-resultados-e" href="#/usuarios/listempview/{{usr.idUsuario}}" class="Link-list">Ver</a>
                            </td>
                            <td class="Table-container-empresa-elements" ng-if="loginCtrl.isUser()">
                                <a class="Color-resultados-e" href="#/usuarios/contactar/{{usr.idUsuario}}" ng-if="loginCtrl.isUser()" class="Link-list">Contactar</a>
                            </td>
                            <td class="Table-container-empresa-elements" ng-if="loginCtrl.isUser()">
                                <a class="Color-resultados-e" href="#/usuarios/calificar/{{usr.idUsuario}}" ng-if="loginCtrl.isUser()" class="Link-list">Calificar</a>
                            </td>
                            <td class="Table-container-empresa-elements" ng-if="loginCtrl.isUser()">
                                <a class="Color-resultados-e" href="#/usuarios/calificaciones/{{usr.idUsuario}}" ng-if="loginCtrl.isUser()" class="Link-list">Ver calificaciones</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <md-table-pagination class="Pagination" md-limit="vm.query.limit" md-limit-options="[5,10,15,20]" md-page="vm.query.page" md-total="{{vm.empresas.length}}"></md-table-pagination>

            </form>
        </div>
    </div>
    <!-- <md-table-pagination class="Pagination" md-limit="vm.query.limit" md-limit-options="[5,10,15,20]" md-page="vm.query.page" md-total="{{vm.empresas.length}}"></md-table-pagination> -->
</div>
