<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-info-empresa prueba">
    <article class="Section-info-empresa-info">
        <h3 class=" Section-calificar-result-tittle">
            <img ng-hide="vm.usuario.foto" ng-src="/img/avatar.svg" height="70px" width="70px"/>
            <img ng-if="vm.usuario.foto" ng-src="{{'data:image/png;base64,' + vm.usuario.foto}}" height="70px" width="70px"/>{{vm.usuario.nombre}}
            {{vm.usuario.primerApellido}}
            {{vm.usuario.segundoApellido}}</h3>
        <article class="Section-info-empresa-result-label container-input-label" ng-controller="LoginCtrl as loginCtrl">
            <div class="Section-info-empresa-result-label-div" layout-gt-xs="row">
                <md-input-container class="flex">
                    <label>Tipo Documento</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="tipoDocumento" ng-model="vm.usuario.idTipoDocumento.idTipoDocumento">
                </md-input-container>
                <md-input-container class="flex" ng-if="loginCtrl.isEmp()">
                    <label>Nit</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.razonSocial">
                </md-input-container>
            </div>
            <div class="Section-info-empresa-result-label-div" layout-gt-xs="row">

                <md-input-container class="flex">
                    <label>Teléfono</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.telefono">
                </md-input-container>
                <md-input-container class="flex">
                    <label>Dirección</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.direccion">
                </md-input-container>
            </div>

            <div class="Section-info-empresa-result-label-div" layout-gt-xs="row">
                <md-input-container class="flex">
                    <label>Ciudad</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.ciudades.nombreCiudad">
                </md-input-container>
                <md-input-container class="flex">
                    <label>Departamento</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.ciudades.departamentos.nombreDepartamento">
                </md-input-container>
            </div>
            <div class="Section-info-empresa-result-label-div" layout-gt-xs="row">

                <md-input-container class="flex" ng-if="loginCtrl.isUser()">
                    <label>Fecha Nacimiento</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="fechaNacimiento" value="{{vm.usuario.fechaNacimiento | date: 'dd/MM/yyyy'}}">
                </md-input-container>

                <md-input-container class="flex">
                    <label>Email</label>
                    <input class="Section-info-empresa-info-inputs" disabled md-no-asterisk id="nombre" ng-model="vm.usuario.email">
                </md-input-container>

            </div>
            <div class="Perfil-bottons1">
              <section class="section-bns">
                    <md-button ng-href="#/usuarios/update" class="md-raised md-primary Perfil-bottons1-btn perfil-btns-item sin-margin" name="button">Actualizar</md-button>


                  <md-button ng-href="#/usuarios/perfil/confirmarpasswd" class="md-raised md-primary Perfil-bottons1-btn perfil-btns-item sin-margin" name="button">Desactivar cuenta</md-button>


                    <!-- <md-button class="md-primary md-raised Perfil-bottons1-btn perfil-btns-item" ng-click="showConfirm($event)" >
                      Confirm Dialog
                    </md-button> -->
                </section>
                <md-button ng-href="#/usuarios/updatepass" class="md-raised md-primary Perfil-bottons1-btn perfil-btns-item sin-margin" name="button">Cambiar Contraseña</md-button>
            </div>
        </article>

    </article>

</section>
