<encabezado2></encabezado2>
<div class="padding"></div>
<section class="Section-info-empresa prueba">
    <article class="Section-info-empresa-info-cont">
        <h3 class=" Section-calificar-result-tittle">Cambiar Contraseña</h3>
        <article class="Section-info-empresa-result-label container-input-label">
            <form name="projectForm" ng-submit="projectForm.$valid && vm.updatepass()" novalidate>
                <md-input-container class="cambiarPass">
                    <label class="Label">Password Actual</label>
                    <input type="password" md-minlength="6" md-maxlength="10" minlength="6" maxlength="10" name="passwordactual" ng-model="vm.passwordNow" ng-required="true">
                    <div ng-messages="projectForm.passwordactual.$error" role="alert" ng-if="projectForm.$dirty">
                        <!-- <div ng-message-exp="['md-minlength', 'md-maxlength', 'minlength', 'maxlength']">min 6, max 10 carácteres.</div> -->
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Mínimo 6 Carácteres y Máximo 10 Carácteres</div>
                        <div ng-message="maxlength">Máximo 10 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="cambiarPass">
                    <label class="Label">Password Nueva</label>
                    <input type="password" md-minlength="6" md-maxlength="10" minlength="6" maxlength="10" name="passwordnueva" ng-model="vm.passwordNew" ng-required="true">
                    <div ng-messages="projectForm.passwordnueva.$error" role="alert" ng-if="projectForm.$dirty">
                        <!-- <div ng-message-exp="['md-minlength', 'md-maxlength', 'minlength', 'maxlength']">min 6, max 10 carácteres.</div> -->
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Mínimo 6 Carácteres y Máximo 10 Carácteres</div>
                        <div ng-message="maxlength">Máximo 10 Carácteres</div>
                    </div>
                </md-input-container>

                <md-input-container class="cambiarPass">
                    <label class="Label">Repite Password</label>
                    <input type="password" md-minlength="6" md-maxlength="10" minlength="6" maxlength="10" name="passwordrep" ng-model="vm.passwordNewRepeat" ng-required="true">
                    <div ng-if="vm.passwordNew !== vm.passwordNewRepeat && vm.passwordNewRepeat !== null"><p class="validation-messages2">Las contraseñas no coinciden!</p></div>
                    <div ng-messages="projectForm.passwordrep.$error" role="alert" ng-show="projectForm.$dirty">
                        <!-- <div ng-message-exp="['md-minlength', 'md-maxlength', 'minlength', 'maxlength']">min 6, max 10 carácteres.</div> -->
                        <div ng-message="required">Campo requerido</div>
                        <div ng-message="minlength">Mínimo 6 Carácteres y Máximo 10 Carácteres</div>
                        <div ng-message="maxlength">Máximo 10 Carácteres</div>
                    </div>
                </md-input-container>

                <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                    <md-button type="submit" ng-disabled="vm.passwordNow === undefined || vm.passwordNew !== vm.passwordNewRepeat || vm.passwordNewRepeat === undefined" class="md-raised md-primary Btn-guardarC">Cambiar</md-button>
                    <md-button ng-href="#/usuarios/perfil" class="md-raised md-warn Btn-cancelarC">Cancelar</md-button>
                </section>
            </form>
        </article>
    </article>
</section>

<!--
<form class="Section-login" novalidate name="loginForm">
    <div class="form-group">
        <h1 class="Tittle-login">Cambiar Contraseña</h1>
        <md-input-container>
            <label class="Label">Password</label>
            <input type="password" ng-model="vm.passwordnew">
        </md-input-container>

        <md-button class="md-raised md-primary Btn-guardar" name="button" ng-click="vm.updatepass()">Cambiar Contraseña</md-button>
    </div>
</form>
-->
