@import 'nib';
.Work-transparent
  /*background-color: rgba(999,999,999,0.7);*/
  text-align: center;
  width: 50%;
  display: inline-block;
  /*border-radius: 2em;*/

.datepickerdemoBasicUsage, .validation-messages
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px;

.validation-messages1
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 22px;

.validation-messages2
  font-size: 12px;
  color: #dd2c00;
  margin: 0px!important;


.colorTipo
  color: #5D5D5D!important;

.md-select, .md-select-value, .md-select-placeholder
  color: rgba(93, 93, 93, 0.76)!important;

md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container .md-placeholder {
  color: rgba(93, 93, 93, 0.76);
}


.cambiarPass
  display: block!important;
  margin: 7px 0!important;

.Regis
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
.agregar_user
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;


section
  md-input-container
   .Select
      border-bottom-color:  #949292 !important;
      color: #949292 !important;


.Perfil-bottons
  display: flex;
  width: 100%;
  justify-content: space-around;
  &-btn
    flex: 1;
  @media screen and (max-width: 540px)
    flex-direction: column;

.container-input-label
  >div
    display flex!important


.Label
  color: #949292!important
.AutoComplete
  height: 67px !important;
  margin-bottom: 2.8rem !important;
  min-width 190px!important
.Picker
  display: block!important
  position: relative!important
  padding: 2px!important
  margin: 10px 0px 0px 1px!important
  vertical-align: middle!important


.md-datepicker-input
  min-width: 142px!important;

.TypeDocument
  height 40px!important
.Select1
  padding: .5em;
  width: 50%;
  height: 4em;
  /* margin-left: .2em; */
  /* margin-bottom: .2em; */
  margin-top: .5em;
  display: flex;
  flex-grow: 1;
  appearance: menulist-button;


.Link-list:hover
  text-decoration: none!important;

.Boton
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;

.Ingresa:hover
  box-shadow: inset 0 -70px 0 0 #08B;
  transition:0.6s;

.Container
  /* display: inline-block; */
  /* width: 12.5em; */
  text-align: center;
  position: absolute;
  top: 8.5em;
  right: 5px;
  display: none;


.Titulo
  margin-bottom: .5em;
  color: rgba(255, 253, 255, 0.85);

.Caja-Texto
  margin: 0;
  /* margin-bottom: .2em; */
  /* margin-right: .3em; */
  /* box-sizing: border-box; */
  /* padding: .5em; */
  width: 100%;
  padding: 0em 2%;
  height: 3.85em;
  display: flex;
  flex-grow: 1;
  margin-top: .5em;
  &-fecha
    margin: 0;
    margin: .5em 0em 0em 1em;
    padding: 0.4em;
    height: 2.85em;
    min-width: 42%;
    display: flex;
    flex-grow: 1;
  &-form
    margin: 0;
    margin: .1em .1em;
    padding: .6em;
    display: block;

.PruebaContainer
  text-align: center!important;
  margin: auto;

.Fecha
  font-size: 21px;

.Ingresa
  background-color: rgb(50, 119, 22);
  color: white;
  border: none;
  padding: .5em 1em;
  margin: .5em .2em;
  display: inline-block;

.Regis-tittle
  text-align: center;
  margin-top: 3em;

.Section-regis
  width: 32em
  margin: 3em auto ;
  text-align: center;
.Article-regis
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: -1rem;
  &-form
    text-align: left!important;
    display: flex;
    flex-direction: column;
    min-height: 10em;
    width: 44%;
.Tipo-usuario
  width: 100%
.Btn-guardar
  color: white!important
  background-color: rgb(50,119,22)!important;
.Btn-cancelar
  color: white!important
  background-color: #A81E1E !important
  &-reg
    color: white!important
    background-color: #A81E1E !important
    margin-bottom: -.97em;

.user-perfil
  max-width: 44em
  text-align: center;
.Labels-user
.Inputs-user
  margin: 10px;
  display: inline-block;
  background: rgba(0,0,0,0.3);
  width: 50%;
  max-width: 20em;
.Labels-lost
  display: none;
.Section-edit
  max-width: 30em
  min-height: 50em
  margin: auto;
  text-align: center;

.Section-contactar
  height: 30em;
  box-sizing: border-box;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
.form-group
  display: flex;
  text-align: center;
  width: 30em;
  margin: auto;
  flex-direction: column;
.Tittle-contactar
  margin-bottom: 1em
.Btn-contactar
  margin-top: 2em

.Tabla-perfil
  display: flex;



/*
PAGINADOR
*/
.Pagination
  height: 6em!important;
  display: flex;
  border-top: 0;
  width: 10em;
  padding: 0;
  margin: auto;
  justify-content: center;
  position: relative;
  color: #3c948b!important;

  >.limit-select
    position: absolute;
    left: 0;
    top: 25px;
    padding-left: 70%;
    display: inline-block;
    height: 0em;
    transform: translateX(-50%);
    >.label
      display: none
  >.buttons
    display: flex;
    justify-content: space-between;
    margin: 0!important;
    width: 12em;

    >.label
      position: absolute;
    >.md-icon-button.md-button.md-ink-ripple
      margin: 0
      padding: 0
      color: #3c948b!important
      >md-icon
        &:hover
          cursor: pointer;
        >svg
          color: #3c948b!important

//Estilos de calificar

.Section-calificar
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
  max-width: 80em;
  margin: auto;
  @media screen and (max-width: 1200px)
    width: 80%
  @media screen and (max-width: 500px)
    width: 100%
    margin: 0

  &-info
    max-width: 30em;
    min-height: 23em;
    display: flex;
    flex-direction: column;
    padding-right: 1e;
    @media screen and (max-width: 925px)
      width: 30em
      padding: 0
    @media screen and (max-width: 500px)
      margin: 0em 1em;
    &-article
      display: flex;
      text-align: center;
      justify-content: space-around;
      @media screen and (max-width: 925px)
        justify-content: space-between;
      &-content1
        text-align: left;
        margin-right: .5em
      &-content2
        text-align: right
        margin-left: .5em
    &-inputs
      color: #000!important
      text-align: left;
  &-result
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    border: 1px solid #3c948b;
    min-height: 27em;
    min-width: 30em;
    @media screen and (max-width: 500px)
      width: 95%
      margin: auto;
    &-tittle
      background: #3C948B;
      color: #FFF;
      padding: 1em;
      display: flex;
      text-transform: capitalize;

      >img
        border-radius: 50%;
        margin-right: 2em;

      align-items: center;
      margin: 0!important
      margin-bottom: 0!important
      text-align: center;

      @media screen and (max-width: 500px)
        padding: 1em 0em
    &-label
      padding: 1em;
      display: flex;
      flex-direction: column;
      max-width: 25em;
      min-width: 90%;
      margin: 2em auto;
      margin-top: 21px;

.Section-calificar-result-tittle1
  background: #3c948b;
  color: #fff;
  padding: 1em;

  text-transform: capitalize;
  align-items: center;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center
/*IMAGEN DE ACTUALIZAR*/
.container
  &-tittle-actualizar
    height: 124px     //107px
    text-align: center;
    @media screen and (max-width: 500px)
      padding: .5em
    >strong
      padding-left: 6px;
  &-img-actualizar
    display: flex;
    flex-direction: column-reverse;
    margin-right: 3em;
    text-align: left;
    @media screen and (max-width: 925px)
      margin-right 2em
    @media screen and (max-width: 500px)
      margin-right 1.8em
    @media screen and (max-width: 400px)
      margin-right 1em
    @media screen and (max-width: 320px)
      margin-right 0
    &-label
      padding-top: 1px
      font-size: 12px
      cursor pointer
    >img
      border-radius: 50%
.Btn-calificar
  margin: 0em 1em!important
  background-color: #3c948b!important;

.Section-calificar-result-label-container.md-select-menu-container.md-active md-select-menu > *
  padding 0

.Botones-contactar-contanier
  display: flex;
  margin: auto;
  justify-content: center;

.calificaciones1
  @media screen and (max-width: 500px)
    width: 80%
//tabla de usuarios
//Estilos Lista de usuarios
.Color-Princ
  background: #3C948B
  color: white
  border: 3px solid #3C948B;
.color-tabla
  background: white!important
  border: 3px solid #3C948B;

.color-title
  text-align: center;
  padding-bottom: 2em

.Table-container-usuarios
  width: 100%
  &-elements
    padding: .7em 1em
    text-align: left

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px){
  table.Table-container-usuarios, .Table-container-usuarios thead, .Table-container-usuarios tbody, .Table-container-usuarios th, .Table-container-usuarios td, .Table-container-usuarios tr {
    display: block; }
  .Table-container-usuarios thead tr {
    position: absolute;
    display: none
  }
  .color-tabla{
    border: none
    margin-left: 0;
  }

  .Table-container-usuarios tr {
    margin-bottom: 2em;
    border: 2px solid #3C948B!important; }
  .Table-container-usuarios td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align:left }
  .Table-container-usuarios td:before {
    position: absolute;
    top: 0px; left: 0px;
    width: 45%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #FFF;
    height: 100%;
    padding: 0em 1em;
    background-color: #3C948B;}

.Table-container-usuarios td:nth-of-type(1):before { content: "Id Usuario"; }
.Table-container-usuarios td:nth-of-type(2):before { content: "Nombre"; }
.Table-container-usuarios td:nth-of-type(3):before { content: "Primer Apellido"; }
.Table-container-usuarios td:nth-of-type(4):before { content: "Segundo Apellido"; }
.Table-container-usuarios td:nth-of-type(5):before { content: "telefono"; }
.Table-container-usuarios td:nth-of-type(6):before { content: "direccion"; }
.Table-container-usuarios td:nth-of-type(7):before { content: "Email"; }
.Table-container-usuarios td:nth-of-type(8):before { content: "Password"; }
.Table-container-usuarios td:nth-of-type(9):before { content: "Fecha Nacimiento"; }
.Table-container-usuarios td:nth-of-type(10):before { content: "Nit"; }
.Table-container-usuarios td:nth-of-type(11):before { content: "Rol"; }
.Table-container-usuarios td:nth-of-type(12):before { content: "Ciudad"; }
.Table-container-usuarios td:nth-of-type(13):before { content: "Departamento"; }
.Table-container-usuarios td:nth-of-type(14):before { content: "Tipo Usuario"; }
.Table-container-usuarios td:nth-of-type(15):before { content: "Tipo Documento"; }
.Table-container-usuarios td:nth-of-type(16):before { content: "Editar"; }

.descarto {
  display:none;}

    }

//estylus contactar

.Tittle-calificaciones
  color: #3c948b

  &-span
    text-transform: uppercase;
    font-weight: bold;



.Section-contactar
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
  max-width: 80em;
  margin-top: 2em;
  @media screen and (max-width: 1200px)
    width: 96%
    margin-top: 7em
  @media screen and (max-width: 500px)
    width: 96%
    margin-top: 6em

  &-info
    max-width: 30em;
    min-height: 23em;
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    @media screen and (max-width: 925px)
      width: 30em
      padding: 0
    @media screen and (max-width: 500px)
      margin: 0em 1em;
    &-article
      display: flex;
      text-align: center;
      justify-content: space-around;

      @media screen and (max-width: 925px)
        justify-content: space-between;
      &-content1
        text-align: left;
        margin-right: .5em
      &-content2
        text-align: right
        margin-left: .5em
    &-inputs
      color: #000!important
      text-align: left;
  &-result
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    border: 1px solid #3c948b;
    min-height: 27em;
    width: 30em;
    @media screen and (max-width: 500px)
      width: 95%
    &-tittle
      background: #3C948B
      color: #FFF
      padding: 1em
      margin: 0!important
      margin-bottom: 0!important
      text-align: center;
      @media screen and (max-width: 500px)
        padding: 1em 0em
    &-label
      padding: 1em;
      display: flex;
      flex-direction: column;
      max-width: 25em;
      min-width: 90%;
      margin: auto;
      margin-top: 21px;

.contactar1
  @media screen and (max-width: 500px)
    width: 80%

.Btn-contactar
  margin: 0!important

.Section-contactar-result-label-container.md-select-menu-container.md-active md-select-menu > *
  padding 0


//estylus informacion de empresa

.Tittle-calificaciones
  color: #3c948b
  margin-top: 1em



.Section-info-empresa
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 3em 0;
  max-width: 80em;
  margin: 3em auto;
  @media screen and (max-width: 1200px)
    width: 80%
  @media screen and (max-width: 500px)
    width: 100%
    margin: 0

  &-info
    width: 35em;
    min-height: 23em;
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    border: 1px solid #3c948b;
    @media screen and (max-width: 925px)
      width: 30em
      padding: 0
    @media screen and (max-width: 500px)
      margin: 0em 1em;
    &-cont
      width: 33em;
      display: flex;
      flex-direction: column;
      background: #f8f8f8;
      border: 1px solid #3c948b;
    &-article
      display: flex;
      text-align: center;
      justify-content: space-around;
      @media screen and (max-width: 925px)
        justify-content: space-between;
      &-content1
        text-align: left;
        margin-right: .5em
      &-content2
        text-align: right
        margin-left: .5em
    &-inputs
      color: #000!important
      text-align: left;
  &-result
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    border: 1px solid #3c948b;
    min-height: 27em;
    width: 30em;
    @media screen and (max-width: 500px)
      width: 95%
    &-tittle
      background: #3C948B
      color: #FFF
      padding: 1em
      margin: 0!important
      margin-bottom: 0!important
      text-align: center;
      @media screen and (max-width: 500px)
        padding: 1em 0em
    &-label
      padding: 1em;
      display: flex;
      flex-direction: column;
      max-width: 25em;
      min-width: 90%;
      margin: auto;
      margin-top: 21px;

.Btn-guardarC
  color: #fff !important;
  background-color: #3c948b !important;
  width: 11em;

.Btn-cancelarC
  color: #fff !important;
  background-color: #ad3838 !important;
  width: 11em;

.Encabezados
  text-align: center!important;

.contactar1
  @media screen and (max-width: 500px)
    width: 80%

.Btn-contactar
  margin: 0!important

.Section-contactar-result-label-container.md-select-menu-container.md-active md-select-menu > *
  padding 0



//tabala de empresas

.Table-container-empresa
  width: 100%
  &-elements
    padding: .7em 1em
    text-align: left

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px){
  table.Table-container-empresa, .Table-container-empresa thead, .Table-container-empresa tbody, .Table-container-empresa th, .Table-container-empresa td, .Table-container-empresa tr {
    display: block; }
  .Table-container-empresa thead tr {
    position: absolute;
    display: none
  }
  .color-t{
    border: none
  }

  .Table-container-empresa tr {
    margin-bottom: 2em;
    border: 2px solid #3C948B!important; }
  .Table-container-empresa td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align:left }
  .Table-container-empresa td:before {
    position: absolute;
    top: 0px; left: 0px;
    width: 45%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #FFF;
    height: 100%;
    padding: 0em 1em;
    background-color: #3C948B;
  }

.Table-container-empresa td:nth-of-type(1):before { content: "Nombre"; }
.Table-container-empresa td:nth-of-type(2):before { content: "Email"; }
.Table-container-empresa td:nth-of-type(3):before { content: "Informacion"; }
.Table-container-empresa td:nth-of-type(4):before { content: "Contacta"; }
.Table-container-empresa td:nth-of-type(5):before { content: "Califica"; }
.Table-container-empresa td:nth-of-type(6):before { content: "Todas las calificaciones"; }

.descarto {
  display:none;}

    }

//tabla de calificaciones

.Table-container-calificaciones
  width: 100%
  &-elements
    padding: .7em 1em
    text-align: left

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px){
  table.Table-container-calificaciones, .Table-container-calificaciones thead, .Table-container-calificaciones tbody, .Table-container-calificaciones th, .Table-container-calificaciones td, .Table-container-calificaciones tr {
    display: block; }
  .Table-container-calificaciones thead tr {
    position: absolute;
    display: none
  }
  .color-t{
    border: none
  }

  .Table-container-calificaciones tr {
    margin-bottom: 2em;
    border: 2px solid #3C948B!important; }
  .Table-container-calificaciones td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align:left }
  .Table-container-calificaciones td:before {
    position: absolute;
    top: 0px; left: 0px;
    width: 45%;
    white-space: nowrap
    display: flex;
    align-items: center;
    color: #FFF
    height: 100%;
    padding: 0em 1em
    background-color: #3C948B;
  }

.Table-container-calificaciones td:nth-of-type(1):before { content: "Calificación"; }
.Table-container-calificaciones td:nth-of-type(2):before { content: "Comentario"; }
.Table-container-calificaciones td:nth-of-type(3):before { content: "Usuario que califió"; }
.Table-container-calificaciones td:nth-of-type(4):before { content: "Empresa calificada"; }

.descarto {
  display:none;}

    }


//tabla de calificaciones view

.Table-container-calview
  width: 100%
  &-elements
    padding: .7em 1em
    text-align: left

.ResultadoTotal
  font-size: 23px
  padding: 1em 0em
  &-num
    font-weight: bold;
.Calificacion
  // max-width: 3em

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px){
  table.Table-container-calview, .Table-container-calview thead, .Table-container-calview tbody, .Table-container-calview th, .Table-container-calview td, .Table-container-calview tr {
    display: block; }
  .Table-container-calview thead tr {
    position: absolute;
    display: none
  }
  .color-t{
    border: none
  }

  .Table-container-calview tr {
    margin-bottom: 2em;
    border: 2px solid #3C948B!important; }
  .Table-container-calview td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align:left }
  .Table-container-calview td:before {
    position: absolute;
    top: 0px; left: 0px;
    width: 45%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #FFF;
    height: 100%;
    padding: 0em 1em;
    background-color: #3C948B;
  }

.Table-container-calview td:nth-of-type(1):before { content: "Calificación"; }
.Table-container-calview td:nth-of-type(2):before { content: "Comentario"; }
.Table-container-calview td:nth-of-type(3):before { content: "Usuario que calificó"; }

.descarto {
  display:none;}

    }

@media screen and (max-height:600px)
  .Section-info-empresa-result-label > .Section-info-empresa-result-label-div > md-input-container
    width: 100%




@media screen and (max-height:600px)

  .form-group
    width: 25em

/*md-input-container .md-input
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 30px;
  line-height: 26px;
  margin-top: 0;
  order: 2;
  padding: 2px 2px 1px;
  width: 100%;*/


@media screen and (max-width: 922px)
  .Section-regis
    width: 28em
    margin-top: 8em;

@media screen and (min-width: 923px)
  .Section-regis
    //width: 28em
    margin-top: 11em;

@media screen and (min-width: 1200px)
  .Section-regis
    //width: 28em
    margin-top: 0em;

@media screen and (max-width: 630px)
  .Labels-user
  .Inputs-user
    display: none
  .Labels-lost
    margin: 10px;
    background: rgba(0,0,0,0.3);
    display: block;
    margin: 0px auto;
    width: 60%
    min-width: 20em

@media screen and (max-width: 550px)
  .Section-regis
    width: 20em
    margin-top: 8em;

.user-perfil

  margin: 30px auto;

.Labels-user
.Inputs-user
  margin: 10px;
  background: rgba(0,0,0,0.3);
  width: 50%;
  max-width: 20em;

.Caja-Texto-labelusr
.Caja-Texto-usr
  text-align: left;
  border: none;
  display: block;
  padding: 10px 0px 10px 10px;
  margin: 10px;
  border-bottom: 1px solid white;

//barra busqueda
.Container-search-regis
  min-height: .01%;
  display: flex;
  margin: 1em auto;
  justify-content space-between
  width: 95%
  align-items: center;
  border: none;
  &-flex
    min-height: .01%;
    display: flex;
    align-items: center;
    border: none;
    width: 25em
.Button-search
  color: #777;
  padding: 0.65em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin-left: -1em;
  margin-top: -2px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  transition: none;
  border-radius: 2px;

//updatpass
.Section-login
  height: 30em;
  box-sizing: border-box;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
.form-group
  display: flex;
  text-align: center;
  width: 30em
  margin: auto;
  flex-direction: column;
.Tittle-login
  margin-bottom: 1em
.Btn-login
  margin-top: 2em

.form-control
  border-radius: 2px!important
@media screen and (max-height:600px)

  .form-group
    width: 25em

  .Container-search-regis
    justify-content: center;

  .Container-search-regis-flex
    width:inherit;

/*
@media screen and (max-height:700px)
  .md-table-pagination > .buttons:not(:first-child), .md-table-pagination > .limit-select:not(:first-child) {
    margin-left: -50px!important;*/

.text-desact
  text-align: justify;

.Section-desactivar
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0em 3em 0em;
  /*@media screen and (max-width: 1200px)
    width: 80%
  @media screen and (max-width: 500px)
    width: 100%
    margin: 0*/
  &-cuenta
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    border: 1px solid #3c948b;
    min-height: 22em;
    width: 33em;
    @media screen and (max-width: 500px)
      width: 95%



.sin-margin
  margin-left: 0

@media (max-width: 959px) and (min-width: 600px)
  .layout-sm-column
    flex-direction: row!important;


.section-btns-perfil
  width: 50%;

.section-bns
  width: 100%;
  display: flex;
  @media screen and (max-width: 400px)
    width: auto;
.perfil-btns-item
  width: 93%;
  font-size: .9em;

.Perfil-bottons1
  display flex!important
  width: 100%
  //justify-content: space-around;
  flex-wrap: wrap;
  &-btn
    flex: 1
    margin: .5em .5em
  @media screen and (max-width: 400px)
    flex-direction: column;
    align-items: center

.item-calificar
  margin-left: 0!important;
  margin-right: 0!important;
