.Work-transparent {
/*background-color: rgba(999,999,999,0.7);*/
  text-align: center;
  width: 50%;
  display: inline-block;
/*border-radius: 2em;*/
}
.datepickerdemoBasicUsage,
.validation-messages {
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px;
}
.validation-messages1 {
  font-size: 12px;
  color: #dd2c00;
  margin-left: 15px;
  margin-top: 7px;
  margin-bottom: 22px;
}
.validation-messages2 {
  font-size: 12px;
  color: #dd2c00;
  margin: 0px !important;
}
.colorTipo {
  color: #5d5d5d !important;
}
.md-select,
.md-select-value,
.md-select-placeholder {
  color: rgba(93,93,93,0.76) !important;
}
md-input-container label:not(.md-no-float):not(.md-container-ignore),
md-input-container .md-placeholder {
  color: rgba(93,93,93,0.76);
}
.cambiarPass {
  display: block !important;
  margin: 7px 0 !important;
}
.Regis {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.agregar_user {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
section md-input-container .Select {
  border-bottom-color: #949292 !important;
  color: #949292 !important;
}
.Perfil-bottons {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  width: 100%;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.Perfil-bottons-btn {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media screen and (max-width: 540px) {
  .Perfil-bottons {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.container-input-label >div {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: box !important;
  display: flex !important;
}
.Label {
  color: #949292 !important;
}
.AutoComplete {
  height: 67px !important;
  margin-bottom: 2.8rem !important;
  min-width: 190px !important;
}
.Picker {
  display: block !important;
  position: relative !important;
  padding: 2px !important;
  margin: 10px 0px 0px 1px !important;
  vertical-align: middle !important;
}
.md-datepicker-input {
  min-width: 142px !important;
}
.TypeDocument {
  height: 40px !important;
}
.Select1 {
  padding: 0.5em;
  width: 50%;
  height: 4em;
/* margin-left: .2em; */
/* margin-bottom: .2em; */
  margin-top: 0.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-appearance: menulist-button;
  -moz-appearance: menulist-button;
  appearance: menulist-button;
}
.Link-list:hover {
  text-decoration: none !important;
}
.Boton {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}
.Ingresa:hover {
  -webkit-box-shadow: inset 0 -70px 0 0 #08b;
  box-shadow: inset 0 -70px 0 0 #08b;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.Container {
/* display: inline-block; */
/* width: 12.5em; */
  text-align: center;
  position: absolute;
  top: 8.5em;
  right: 5px;
  display: none;
}
.Titulo {
  margin-bottom: 0.5em;
  color: rgba(255,253,255,0.85);
}
.Caja-Texto {
  margin: 0;
/* margin-bottom: .2em; */
/* margin-right: .3em; */
/* box-sizing: border-box; */
/* padding: .5em; */
  width: 100%;
  padding: 0em 2%;
  height: 3.85em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-top: 0.5em;
}
.Caja-Texto-fecha {
  margin: 0;
  margin: 0.5em 0em 0em 1em;
  padding: 0.4em;
  height: 2.85em;
  min-width: 42%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.Caja-Texto-form {
  margin: 0;
  margin: 0.1em 0.1em;
  padding: 0.6em;
  display: block;
}
.PruebaContainer {
  text-align: center !important;
  margin: auto;
}
.Fecha {
  font-size: 21px;
}
.Ingresa {
  background-color: #327716;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin: 0.5em 0.2em;
  display: inline-block;
}
.Regis-tittle {
  text-align: center;
  margin-top: 3em;
}
.Section-regis {
  width: 32em;
  margin: 3em auto;
  text-align: center;
}
.Article-regis {
  max-width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: -1rem;
}
.Article-regis-form {
  text-align: left !important;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 10em;
  width: 44%;
}
.Tipo-usuario {
  width: 100%;
}
.Btn-guardar {
  color: #fff !important;
  background-color: #327716 !important;
}
.Btn-cancelar {
  color: #fff !important;
  background-color: #a81e1e !important;
}
.Btn-cancelar-reg {
  color: #fff !important;
  background-color: #a81e1e !important;
  margin-bottom: -0.97em;
}
.user-perfil {
  max-width: 44em;
  text-align: center;
}
.Labels-user,
.Inputs-user {
  margin: 10px;
  display: inline-block;
  background: rgba(0,0,0,0.3);
  width: 50%;
  max-width: 20em;
}
.Labels-lost {
  display: none;
}
.Section-edit {
  max-width: 30em;
  min-height: 50em;
  margin: auto;
  text-align: center;
}
.Section-contactar {
  height: 30em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.form-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-align: center;
  width: 30em;
  margin: auto;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Tittle-contactar {
  margin-bottom: 1em;
}
.Btn-contactar {
  margin-top: 2em;
}
.Tabla-perfil {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
/*
PAGINADOR
*/
.Pagination {
  height: 6em !important;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  border-top: 0;
  width: 10em;
  padding: 0;
  margin: auto;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
  color: #3c948b !important;
}
.Pagination >.limit-select {
  position: absolute;
  left: 0;
  top: 25px;
  padding-left: 70%;
  display: inline-block;
  height: 0em;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.Pagination >.limit-select >.label {
  display: none;
}
.Pagination >.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0 !important;
  width: 12em;
}
.Pagination >.buttons >.label {
  position: absolute;
}
.Pagination >.buttons >.md-icon-button.md-button.md-ink-ripple {
  margin: 0;
  padding: 0;
  color: #3c948b !important;
}
.Pagination >.buttons >.md-icon-button.md-button.md-ink-ripple >md-icon:hover {
  cursor: pointer;
}
.Pagination >.buttons >.md-icon-button.md-button.md-ink-ripple >md-icon >svg {
  color: #3c948b !important;
}
.Section-calificar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 3em 0;
  max-width: 80em;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .Section-calificar {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .Section-calificar {
    width: 100%;
    margin: 0;
  }
}
.Section-calificar-info {
  max-width: 30em;
  min-height: 23em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 1e;
}
@media screen and (max-width: 925px) {
  .Section-calificar-info {
    width: 30em;
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .Section-calificar-info {
    margin: 0em 1em;
  }
}
.Section-calificar-info-article {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media screen and (max-width: 925px) {
  .Section-calificar-info-article {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.Section-calificar-info-article-content1 {
  text-align: left;
  margin-right: 0.5em;
}
.Section-calificar-info-article-content2 {
  text-align: right;
  margin-left: 0.5em;
}
.Section-calificar-info-inputs {
  color: #000 !important;
  text-align: left;
}
.Section-calificar-result {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 27em;
  min-width: 30em;
}
@media screen and (max-width: 500px) {
  .Section-calificar-result {
    width: 95%;
    margin: auto;
  }
}
.Section-calificar-result-tittle {
  background: #3c948b;
  color: #fff;
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-transform: capitalize;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
.Section-calificar-result-tittle >img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 2em;
}
@media screen and (max-width: 500px) {
  .Section-calificar-result-tittle {
    padding: 1em 0em;
  }
}
.Section-calificar-result-label {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25em;
  min-width: 90%;
  margin: 2em auto;
  margin-top: 21px;
}
.Section-calificar-result-tittle1 {
  background: #3c948b;
  color: #fff;
  padding: 1em;
  text-transform: capitalize;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
/*IMAGEN DE ACTUALIZAR*/
.container-tittle-actualizar {
  height: 124px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .container-tittle-actualizar {
    padding: 0.5em;
  }
}
.container-tittle-actualizar >strong {
  padding-left: 6px;
}
.container-img-actualizar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-direction: reverse;
  -moz-box-direction: reverse;
  -o-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-right: 3em;
  text-align: left;
}
@media screen and (max-width: 925px) {
  .container-img-actualizar {
    margin-right: 2em;
  }
}
@media screen and (max-width: 500px) {
  .container-img-actualizar {
    margin-right: 1.8em;
  }
}
@media screen and (max-width: 400px) {
  .container-img-actualizar {
    margin-right: 1em;
  }
}
@media screen and (max-width: 320px) {
  .container-img-actualizar {
    margin-right: 0;
  }
}
.container-img-actualizar-label {
  padding-top: 1px;
  font-size: 12px;
  cursor: pointer;
}
.container-img-actualizar >img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.Btn-calificar {
  margin: 0em 1em !important;
  background-color: #3c948b !important;
}
.Section-calificar-result-label-container.md-select-menu-container.md-active md-select-menu > * {
  padding: 0;
}
.Botones-contactar-contanier {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (max-width: 500px) {
  .calificaciones1 {
    width: 80%;
  }
}
.Color-Princ {
  background: #3c948b;
  color: #fff;
  border: 3px solid #3c948b;
}
.color-tabla {
  background: #fff !important;
  border: 3px solid #3c948b;
}
.color-title {
  text-align: center;
  padding-bottom: 2em;
}
.Table-container-usuarios {
  width: 100%;
}
.Table-container-usuarios-elements {
  padding: 0.7em 1em;
  text-align: left;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  table.Table-container-usuarios,
  .Table-container-usuarios thead,
  .Table-container-usuarios tbody,
  .Table-container-usuarios th,
  .Table-container-usuarios td,
  .Table-container-usuarios tr {
    display: block;
  }
  .Table-container-usuarios thead tr {
    position: absolute;
    display: none;
  }
  .color-tabla {
    border: none;
    margin-left: 0;
  }
  .Table-container-usuarios tr {
    margin-bottom: 2em;
    border: 2px solid #3c948b !important;
  }
  .Table-container-usuarios td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  .Table-container-usuarios td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0em 1em;
    background-color: #3c948b;
  }
  .Table-container-usuarios td:nth-of-type(1):before {
    content: "Id Usuario";
  }
  .Table-container-usuarios td:nth-of-type(2):before {
    content: "Nombre";
  }
  .Table-container-usuarios td:nth-of-type(3):before {
    content: "Primer Apellido";
  }
  .Table-container-usuarios td:nth-of-type(4):before {
    content: "Segundo Apellido";
  }
  .Table-container-usuarios td:nth-of-type(5):before {
    content: "telefono";
  }
  .Table-container-usuarios td:nth-of-type(6):before {
    content: "direccion";
  }
  .Table-container-usuarios td:nth-of-type(7):before {
    content: "Email";
  }
  .Table-container-usuarios td:nth-of-type(8):before {
    content: "Password";
  }
  .Table-container-usuarios td:nth-of-type(9):before {
    content: "Fecha Nacimiento";
  }
  .Table-container-usuarios td:nth-of-type(10):before {
    content: "Nit";
  }
  .Table-container-usuarios td:nth-of-type(11):before {
    content: "Rol";
  }
  .Table-container-usuarios td:nth-of-type(12):before {
    content: "Ciudad";
  }
  .Table-container-usuarios td:nth-of-type(13):before {
    content: "Departamento";
  }
  .Table-container-usuarios td:nth-of-type(14):before {
    content: "Tipo Usuario";
  }
  .Table-container-usuarios td:nth-of-type(15):before {
    content: "Tipo Documento";
  }
  .Table-container-usuarios td:nth-of-type(16):before {
    content: "Editar";
  }
  .descarto {
    display: none;
  }
}
.Tittle-calificaciones {
  color: #3c948b;
}
.Tittle-calificaciones-span {
  text-transform: uppercase;
  font-weight: bold;
}
.Section-contactar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 3em 0;
  max-width: 80em;
  margin-top: 2em;
}
@media screen and (max-width: 1200px) {
  .Section-contactar {
    width: 96%;
    margin-top: 7em;
  }
}
@media screen and (max-width: 500px) {
  .Section-contactar {
    width: 96%;
    margin-top: 6em;
  }
}
.Section-contactar-info {
  max-width: 30em;
  min-height: 23em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-right: 1em;
}
@media screen and (max-width: 925px) {
  .Section-contactar-info {
    width: 30em;
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .Section-contactar-info {
    margin: 0em 1em;
  }
}
.Section-contactar-info-article {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media screen and (max-width: 925px) {
  .Section-contactar-info-article {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.Section-contactar-info-article-content1 {
  text-align: left;
  margin-right: 0.5em;
}
.Section-contactar-info-article-content2 {
  text-align: right;
  margin-left: 0.5em;
}
.Section-contactar-info-inputs {
  color: #000 !important;
  text-align: left;
}
.Section-contactar-result {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 27em;
  width: 30em;
}
@media screen and (max-width: 500px) {
  .Section-contactar-result {
    width: 95%;
  }
}
.Section-contactar-result-tittle {
  background: #3c948b;
  color: #fff;
  padding: 1em;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .Section-contactar-result-tittle {
    padding: 1em 0em;
  }
}
.Section-contactar-result-label {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25em;
  min-width: 90%;
  margin: auto;
  margin-top: 21px;
}
@media screen and (max-width: 500px) {
  .contactar1 {
    width: 80%;
  }
}
.Btn-contactar {
  margin: 0 !important;
}
.Section-contactar-result-label-container.md-select-menu-container.md-active md-select-menu > * {
  padding: 0;
}
.Tittle-calificaciones {
  color: #3c948b;
  margin-top: 1em;
}
.Section-info-empresa {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 3em 0;
  max-width: 80em;
  margin: 3em auto;
}
@media screen and (max-width: 1200px) {
  .Section-info-empresa {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .Section-info-empresa {
    width: 100%;
    margin: 0;
  }
}
.Section-info-empresa-info {
  width: 35em;
  min-height: 23em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
}
@media screen and (max-width: 925px) {
  .Section-info-empresa-info {
    width: 30em;
    padding: 0;
  }
}
@media screen and (max-width: 500px) {
  .Section-info-empresa-info {
    margin: 0em 1em;
  }
}
.Section-info-empresa-info-cont {
  width: 33em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
}
.Section-info-empresa-info-article {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media screen and (max-width: 925px) {
  .Section-info-empresa-info-article {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
.Section-info-empresa-info-article-content1 {
  text-align: left;
  margin-right: 0.5em;
}
.Section-info-empresa-info-article-content2 {
  text-align: right;
  margin-left: 0.5em;
}
.Section-info-empresa-info-inputs {
  color: #000 !important;
  text-align: left;
}
.Section-info-empresa-result {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 27em;
  width: 30em;
}
@media screen and (max-width: 500px) {
  .Section-info-empresa-result {
    width: 95%;
  }
}
.Section-info-empresa-result-tittle {
  background: #3c948b;
  color: #fff;
  padding: 1em;
  margin: 0 !important;
  margin-bottom: 0 !important;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .Section-info-empresa-result-tittle {
    padding: 1em 0em;
  }
}
.Section-info-empresa-result-label {
  padding: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 25em;
  min-width: 90%;
  margin: auto;
  margin-top: 21px;
}
.Btn-guardarC {
  color: #fff !important;
  background-color: #3c948b !important;
  width: 11em;
}
.Btn-cancelarC {
  color: #fff !important;
  background-color: #ad3838 !important;
  width: 11em;
}
.Encabezados {
  text-align: center !important;
}
@media screen and (max-width: 500px) {
  .contactar1 {
    width: 80%;
  }
}
.Btn-contactar {
  margin: 0 !important;
}
.Section-contactar-result-label-container.md-select-menu-container.md-active md-select-menu > * {
  padding: 0;
}
.Table-container-empresa {
  width: 100%;
}
.Table-container-empresa-elements {
  padding: 0.7em 1em;
  text-align: left;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  table.Table-container-empresa,
  .Table-container-empresa thead,
  .Table-container-empresa tbody,
  .Table-container-empresa th,
  .Table-container-empresa td,
  .Table-container-empresa tr {
    display: block;
  }
  .Table-container-empresa thead tr {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-empresa tr {
    margin-bottom: 2em;
    border: 2px solid #3c948b !important;
  }
  .Table-container-empresa td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  .Table-container-empresa td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0em 1em;
    background-color: #3c948b;
  }
  .Table-container-empresa td:nth-of-type(1):before {
    content: "Nombre";
  }
  .Table-container-empresa td:nth-of-type(2):before {
    content: "Email";
  }
  .Table-container-empresa td:nth-of-type(3):before {
    content: "Informacion";
  }
  .Table-container-empresa td:nth-of-type(4):before {
    content: "Contacta";
  }
  .Table-container-empresa td:nth-of-type(5):before {
    content: "Califica";
  }
  .Table-container-empresa td:nth-of-type(6):before {
    content: "Todas las calificaciones";
  }
  .descarto {
    display: none;
  }
}
.Table-container-calificaciones {
  width: 100%;
}
.Table-container-calificaciones-elements {
  padding: 0.7em 1em;
  text-align: left;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  table.Table-container-calificaciones,
  .Table-container-calificaciones thead,
  .Table-container-calificaciones tbody,
  .Table-container-calificaciones th,
  .Table-container-calificaciones td,
  .Table-container-calificaciones tr {
    display: block;
  }
  .Table-container-calificaciones thead tr {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-calificaciones tr {
    margin-bottom: 2em;
    border: 2px solid #3c948b !important;
  }
  .Table-container-calificaciones td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  .Table-container-calificaciones td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0em 1em;
    background-color: #3c948b;
  }
  .Table-container-calificaciones td:nth-of-type(1):before {
    content: "Calificación";
  }
  .Table-container-calificaciones td:nth-of-type(2):before {
    content: "Comentario";
  }
  .Table-container-calificaciones td:nth-of-type(3):before {
    content: "Usuario que califió";
  }
  .Table-container-calificaciones td:nth-of-type(4):before {
    content: "Empresa calificada";
  }
  .descarto {
    display: none;
  }
}
.Table-container-calview {
  width: 100%;
}
.Table-container-calview-elements {
  padding: 0.7em 1em;
  text-align: left;
}
.ResultadoTotal {
  font-size: 23px;
  padding: 1em 0em;
}
.ResultadoTotal-num {
  font-weight: bold;
}
@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px) {
  table.Table-container-calview,
  .Table-container-calview thead,
  .Table-container-calview tbody,
  .Table-container-calview th,
  .Table-container-calview td,
  .Table-container-calview tr {
    display: block;
  }
  .Table-container-calview thead tr {
    position: absolute;
    display: none;
  }
  .color-t {
    border: none;
  }
  .Table-container-calview tr {
    margin-bottom: 2em;
    border: 2px solid #3c948b !important;
  }
  .Table-container-calview td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  .Table-container-calview td:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%;
    white-space: nowrap;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0em 1em;
    background-color: #3c948b;
  }
  .Table-container-calview td:nth-of-type(1):before {
    content: "Calificación";
  }
  .Table-container-calview td:nth-of-type(2):before {
    content: "Comentario";
  }
  .Table-container-calview td:nth-of-type(3):before {
    content: "Usuario que calificó";
  }
  .descarto {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .Section-info-empresa-result-label > .Section-info-empresa-result-label-div > md-input-container {
    width: 100%;
  }
}
@media screen and (max-height: 600px) {
  .form-group {
    width: 25em;
  }
}
/*md-input-container .md-input
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 1px;
  box-sizing: border-box;
  display: block;
  float: left;
  height: 30px;
  line-height: 26px;
  margin-top: 0;
  order: 2;
  padding: 2px 2px 1px;
  width: 100%;*/
@media screen and (max-width: 922px) {
  .Section-regis {
    width: 28em;
    margin-top: 8em;
  }
}
@media screen and (min-width: 923px) {
  .Section-regis {
    margin-top: 11em;
  }
}
@media screen and (min-width: 1200px) {
  .Section-regis {
    margin-top: 0em;
  }
}
@media screen and (max-width: 630px) {
  .Labels-user,
  .Inputs-user {
    display: none;
  }
  .Labels-lost {
    margin: 10px;
    background: rgba(0,0,0,0.3);
    display: block;
    margin: 0px auto;
    width: 60%;
    min-width: 20em;
  }
}
@media screen and (max-width: 550px) {
  .Section-regis {
    width: 20em;
    margin-top: 8em;
  }
}
.user-perfil {
  margin: 30px auto;
}
.Labels-user,
.Inputs-user {
  margin: 10px;
  background: rgba(0,0,0,0.3);
  width: 50%;
  max-width: 20em;
}
.Caja-Texto-labelusr,
.Caja-Texto-usr {
  text-align: left;
  border: none;
  display: block;
  padding: 10px 0px 10px 10px;
  margin: 10px;
  border-bottom: 1px solid #fff;
}
.Container-search-regis {
  min-height: 0.01%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin: 1em auto;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 95%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: none;
}
.Container-search-regis-flex {
  min-height: 0.01%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border: none;
  width: 25em;
}
.Button-search {
  color: #777;
  padding: 0.65em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin-left: -1em;
  margin-top: -2px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.Section-login {
  height: 30em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.form-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-align: center;
  width: 30em;
  margin: auto;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.Tittle-login {
  margin-bottom: 1em;
}
.Btn-login {
  margin-top: 2em;
}
.form-control {
  -webkit-border-radius: 2px !important;
  border-radius: 2px !important;
}
@media screen and (max-height: 600px) {
  .form-group {
    width: 25em;
  }
  .Container-search-regis {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .Container-search-regis-flex {
    width: inherit;
  }
}
/*
@media screen and (max-height:700px)
  .md-table-pagination > .buttons:not(:first-child), .md-table-pagination > .limit-select:not(:first-child) {
    margin-left: -50px!important;*/
.text-desact {
  text-align: justify;
}
.Section-desactivar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 3em 0em 3em 0em;
/*@media screen and (max-width: 1200px)
    width: 80%
  @media screen and (max-width: 500px)
    width: 100%
    margin: 0*/
}
.Section-desactivar-cuenta {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f8f8f8;
  border: 1px solid #3c948b;
  min-height: 22em;
  width: 33em;
}
@media screen and (max-width: 500px) {
  .Section-desactivar-cuenta {
    width: 95%;
  }
}
.sin-margin {
  margin-left: 0;
}
@media (max-width: 959px) and (min-width: 600px) {
  .layout-sm-column {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
}
.section-btns-perfil {
  width: 50%;
}
.section-bns {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
@media screen and (max-width: 400px) {
  .section-bns {
    width: auto;
  }
}
.perfil-btns-item {
  width: 93%;
  font-size: 0.9em;
}
.Perfil-bottons1 {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: box !important;
  display: flex !important;
  width: 100%;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.Perfil-bottons1-btn {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0.5em 0.5em;
}
@media screen and (max-width: 400px) {
  .Perfil-bottons1 {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.item-calificar {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
