//barra busqueda
@import 'nib';
.Container-search-regis
  min-height: .01%;
  display: flex;
  margin: 2em auto;
  justify-content space-between
  width: 95%;
  align-items: center;
  border: none;

  &-flex
    min-height: .01%;
    display: flex;
    align-items: center;
    border: none;
.Button-search
  color: #777;
  padding: 0.65em;
  border: 1px solid #ccc;
  background: #f8f8f8;
  margin-left: -1em;
  margin-top: -2px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  transition: none;



.Table-container-auditoria
  width: 100%
  &-elements
    padding: .7em 1em
    text-align: left

@media only screen and (max-width: 760px), (min-width: 760px) and (max-width: 1024px){
  table.Table-container-auditoria, .Table-container-auditoria thead, .Table-container-auditoria tbody, .Table-container-auditoria th, .Table-container-auditoria td, .Table-container-auditoria tr {
    display: block; }
  .Table-container-auditoria thead tr {
    position: absolute;
    display: none
  }
  .color-tabla{
    border: none
    margin-left: 0;
  }

  .Table-container-auditoria tr {
    margin-bottom: 2em;
    border: 2px solid #3C948B!important; }
  .Table-container-auditoria td {
    border: none;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 50%;
    text-align:left }
  .Table-container-auditoria td:before {
    position: absolute;
    top: 0px; left: 0px;
    width: 45%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    color: #FFF;
    height: 100%;
    padding: 0em 1em;
    background-color: #3C948B;}

.Table-container-auditoria td:nth-of-type(1):before { content: "N°"; }
.Table-container-auditoria td:nth-of-type(2):before { content: "Fecha de Modificación"; }
.Table-container-auditoria td:nth-of-type(3):before { content: "Nombre Antiguo"; }
.Table-container-auditoria td:nth-of-type(4):before { content: "Primer Apellido Antiguo"; }
.Table-container-auditoria td:nth-of-type(5):before { content: "Segundo Apellido Antiguo"; }
.Table-container-auditoria td:nth-of-type(6):before { content: "Teléfono Antiguo"; }
.Table-container-auditoria td:nth-of-type(7):before { content: "Dirección Antiguo"; }
.Table-container-auditoria td:nth-of-type(8):before { content: "Email Antiguo"; }
.Table-container-auditoria td:nth-of-type(9):before { content: "Password Antiguo"; }
.Table-container-auditoria td:nth-of-type(10):before { content: "Fecha Nacimiento Antiguo"; }
.Table-container-auditoria td:nth-of-type(11):before { content: "Nit Antiguo"; }
.Table-container-auditoria td:nth-of-type(12):before { content: "N° Ciudad Antiguo"; }
.Table-container-auditoria td:nth-of-type(13):before { content: "N° Departamento Antiguo"; }
.Table-container-auditoria td:nth-of-type(14):before { content: "Nombre Nuevo"; }
.Table-container-auditoria td:nth-of-type(15):before { content: "Primer Apellido Nuevo"; }
.Table-container-auditoria td:nth-of-type(16):before { content: "Segundo Apellido Nuevo"; }
.Table-container-auditoria td:nth-of-type(17):before { content: "Teléfono Nuevo"; }
.Table-container-auditoria td:nth-of-type(18):before { content: "Dirección Nuevo"; }
.Table-container-auditoria td:nth-of-type(19):before { content: "Email Nuevo"; }
.Table-container-auditoria td:nth-of-type(20):before { content: "Password Nuevo"; }
.Table-container-auditoria td:nth-of-type(21):before { content: "Fecha Nacimiento Nuevo"; }
.Table-container-auditoria td:nth-of-type(22):before { content: "Nit Nuevo"; }
.Table-container-auditoria td:nth-of-type(23):before { content: "N° Ciudad Nuevo"; }
.Table-container-auditoria td:nth-of-type(24):before { content: "N° Departamento Nuevo"; }

.descarto {
  display:none;}

    }
