<encabezado2></encabezado2>
<div class="padding"></div>
<section class="prueba">
    <div class="container">
      <div class="color-Usu">
          <h2 class="Tittle-users color-Title">Lista De Auditoría de Usuarios</h2>
          <div class="Container-search-regis  table-bordered">
              <div class="Container-search-regis-flex">
                  <input type="text" ng-model="vm.busqueda" class="form-control" placeholder="Buscar">
                      <button class="Button-search glyphicon glyphicon-search"></button>
                  </input>
              </div>
          </div>
        <div class="table-responsive">
          <form>
            <table class="table-bordered color-tabla table-hover Table-container-auditoria">
                <thead>
                    <tr class="Color-Princ">
                        <th class="Table-container-auditoria-elements Encabezados">N°</th>
                        <th class="Table-container-auditoria-elements Encabezados">Fecha de Modificación</th>
                        <th class="Table-container-auditoria-elements Encabezados">Nombre Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Primer Apellido Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Segundo Apellido Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Teléfono Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Dirección Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Email Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Password Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Fecha Nacimiento Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Nit Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Id Ciudad Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Id Departamento Antiguo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Nombre Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Primer Apellido Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Segundo Apellido Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Teléfono Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Dirección Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Email Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Password Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Fecha Nacimiento Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Nit Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Id Ciudad Nuevo</th>
                        <th class="Table-container-auditoria-elements Encabezados">Id Departamento Nuevo</th>
                    </tr>
                </thead>
                <tbody class="Color-resultados">
                    <tr ng-repeat="au in vm.auditoriaUsuario | toArray:false | limitTo: vm.query.limit: (vm.query.page - 1) * vm.query.limit | filter:vm.busqueda">
                        <td class="Table-container-auditoria-elements">{{au.idAuditoriaUsuario}}</td>
                        <td class="Table-container-auditoria-elements">{{au.fecha | date: 'dd/MM/yyyy'}}</td>
                        <td class="Table-container-auditoria-elements">{{au.nombreOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.primerApellidoOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.segundoApellidoOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.telefonoOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.direccionOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.emailOld}}</td>
                        <td class="Table-container-auditoria-elements">*****</td>
                        <td class="Table-container-auditoria-elements">{{au.fechaNacimientoOld | date: 'dd/MM/yyyy'}}</td>
                        <td class="Table-container-auditoria-elements">{{au.razonSocialOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.idCiudadOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.idDepartamentoOld}}</td>
                        <td class="Table-container-auditoria-elements">{{au.nombreNew}}</td>
                        <td class="Table-container-auditoria-elements">{{au.primerApellidoNew}}</td>
                        <td class="Table-container-auditoria-elements">{{au.segundoApellidoNew}}</td>
                        <td class="Table-container-auditoria-elements">{{au.telefonoNew}}</td>
                        <td class="Table-container-auditoria-elements">{{au.direccionNew}}</td>
                        <td class="Table-container-auditoria-elements">{{au.emailNew}}</td>
                        <td class="Table-container-auditoria-elements">*****</td>
                        <td class="Table-container-auditoria-elements">{{au.fechaNacimientoNew | date: 'dd/MM/yyyy'}}</td>
                        <td class="Table-container-auditoria-elements">{{au.razonSocialNew}}</td>
                        <td class="Table-container-auditoria-elements">{{au.idCiudadNew}}</td>
                        <td class="Table-container-auditoria-elements">{{au.idDepartamentoNew}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <md-table-pagination class="Pagination" md-limit="vm.query.limit" md-limit-options="[5,10,15,20]" md-page="vm.query.page" md-total="{{vm.auditoriaUsuario.length}}"></md-table-pagination>
      </form>
   </div>
</section>
