@import 'nib';
.fondoGris
  background-color: white;

.rec
  height: 75px;

.ContenedorM
  display:flex;
  justify-content: space-around;
  flex-flow: row wrap;
  max-width: 106em;
  margin: 0 auto 2em auto;



.bloqueFlex06
  width: 569px;
  background-color: #fff;

.label
  cursor: default;

.cajaBlanca
  font-weight: 300;
  font-size: 14px !important;


.txtDestacado
  top: 45px;
  left: 0px;
  font-size: 21px !important;
  color: #3c948b;
  text-align: center;
  width: 100%;
  padding: 0.5em;


.bloqueFlex
  width: 40em;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
.margen
  margin-bottom 2em
.contImgDestacado
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 28.5em;
  border: 3px solid #3c948b;
.image1
  height: 14em;
  width: 79%;
  vertical-align: bottom;
  padding-left: 8em;
  padding-top: 1em;
.bloqueFlex04
  width: 451px;
  height: 277px;
  background-color: RGBA(32, 33, 33, 0.16);
  border: 5px solid #3c948b;
  padding: 18px;

.video
  height: 21em;
  width: 100%;
  margin: 0 !important;

.VideoN
  top: 45px;
  left: 0px;
  font-size: 21px !important;
  color: #3c948b;
  text-align: center;
  width: 100%;
  padding: 0.5em;


.p
  text-align: justify;
  font-size: 1.3em;
  padding: 1em !important

.letra
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  text-align: center;
  color: #3C948B
  padding: 1em
  margin: 0

.image
  vertical-align: middle;
  height: 14em;
  width: 100%;
