<encabezado2></encabezado2>
<div class="padding"></div>
<article class="fondoGris">
  <h2 class="letra">¿Por qué debemos reciclar?</h2>
     <div class="ContenedorM" id="contenedorFlex">

       <div class="bloqueFlex">
         <div class="contImgDestacado margen">
           <img class="image" src="/img/paper.jpg" />
           <span>
             <label class="txtDestacado">Reciclaje del papel y el cartón</label>
           </span>
           <div class="cajaBlanca">
             <p class="p">El papel reciclado compite con el papel derivado directamente de la celulosa de la madera. El papel reciclado ayuda a reducir el impacto de la industria en el medio ambiente. El papel y el cartón en Colombia se recicla un 47%.</p>
           </div>
         </div>

           <div class="contImgDestacado">
             <img class="image" src="/img/dedo.jpg" />
             <span>
               <label class="txtDestacado">Las Tecnologías</label>
             </span>
             <div class="cajaBlanca">
               <p class="p">A medida del tiempo la contaminación ha aumentado un 50% dado a esto se estan utilizando nuevos metodos de información por medio de las tecnologías como lo hace ECOSIREC.</p>
             </div>
           </div>
         </div>

         <div class="bloqueFlex">

           <div class="contImgDestacado margen">
             <img class="image" src="/img/botella.jpg" />
             <span>
               <label class="txtDestacado">Reciclado de vidrio en Colombia</label>
             </span>
             <div class="cajaBlanca">
               <p class="p">En Colombia el mercado de reciclaje de vidrio inicio en 1978, desde entonces se ha integrado este elemento a la cadena productiva y ha disminuido el ingreso de este material a rellenos sanitarios del país.</p>
             </div>
           </div>
                 <div class="contImgDestacado">
                   <video class="video" width="100%" height="300" controls>
                     <source src="/video/Ecosirec.mp4" type="video/mp4">
                     </video>
                     <h2 class="VideoN">La importancia del reciclaje</h2>
                   </div>

               </div>

             </div>
</article>
